{
    "metadata": {
        "apiVersion": "2019-07-17",
        "endpointPrefix": "v2eq9ttjol",
        "signingName": "execute-api",
        "serviceFullName": "SignpostLambda",
        "serviceId": "SignpostLambda",
        "protocol": "rest-json",
        "uid": "v2eq9ttjol-2019-07-17",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6HFZSNQSAZM74CAJEHRKJV5RFSR4Q7UPDUJ3DZ7LRUGY72ZOJFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26ICV6BXMDZ32RLEB7TQH66E6BHB2CACJ5ROOT6DLFN3DLEZS5NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6JRIOOPDWTYDEB5B7XZS4T6PWCEIA4QNLD4BOFF7T7LJKHACSXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ULPI6TWQVZ7APWPRU2PLOJXMZZTW4BNX4KJJNVJLYVBAUWR7AOBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y42LL2TEGIEHMS3IPE32QXAQP57U43LRSUAEOK2H2KYBAIDT7VDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FB4YFYMU6PZZ5KYQLAGKC45KAG47LDCSSLR5B7LLK46G7ZJLHGOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WUT6ISKQ7Z6EA6CIS5ZU2AMC6ZTIBKK5XP35DITJGTLL3DWLFFOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WSRPVTMYPVDWTAXLYKXC7ZQK662ZXNTWM3HIX33TXG5XWZQ7KTRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TZYL2NXTPFMFZPBVJKRS7RI26WBHKJ6QMHORFUDL6UALMAMW6U3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6ZL4EXQO6O4MKV3BRZH6LIQSO4IGDVC3DTSN3PP3IIXTRYRAKSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F4APJZBI4L7NYLZVEPWFOSZCFYIC4O4YLAPLYMTGWJNH3EOKZATA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFOIQUAZAXEDXBRSBUIIEWU35DTOFZBJTCF4SAAYLCOP472WIEFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHCASQMJPVNKHM7R4O5YY7TERYMHRJ2PPC3FSSO3LTE46T3NWULQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js"
        ]
    },
    "operations": {
        "GetArc": {
            "http": {
                "method": "GET",
                "requestUri": "/arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArcResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arc": {
                                "shape": "S5",
                                "locationName": "arc"
                            }
                        }
                    }
                },
                "required": [
                    "ArcResponseResource"
                ],
                "payload": "ArcResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6HFZSNQSAZM74CAJEHRKJV5RFSR4Q7UPDUJ3DZ7LRUGY72ZOJFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26ICV6BXMDZ32RLEB7TQH66E6BHB2CACJ5ROOT6DLFN3DLEZS5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6JRIOOPDWTYDEB5B7XZS4T6PWCEIA4QNLD4BOFF7T7LJKHACSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULPI6TWQVZ7APWPRU2PLOJXMZZTW4BNX4KJJNVJLYVBAUWR7AOBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y42LL2TEGIEHMS3IPE32QXAQP57U43LRSUAEOK2H2KYBAIDT7VDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB4YFYMU6PZZ5KYQLAGKC45KAG47LDCSSLR5B7LLK46G7ZJLHGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUT6ISKQ7Z6EA6CIS5ZU2AMC6ZTIBKK5XP35DITJGTLL3DWLFFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSRPVTMYPVDWTAXLYKXC7ZQK662ZXNTWM3HIX33TXG5XWZQ7KTRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZYL2NXTPFMFZPBVJKRS7RI26WBHKJ6QMHORFUDL6UALMAMW6U3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6ZL4EXQO6O4MKV3BRZH6LIQSO4IGDVC3DTSN3PP3IIXTRYRAKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4APJZBI4L7NYLZVEPWFOSZCFYIC4O4YLAPLYMTGWJNH3EOKZATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFOIQUAZAXEDXBRSBUIIEWU35DTOFZBJTCF4SAAYLCOP472WIEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHCASQMJPVNKHM7R4O5YY7TERYMHRJ2PPC3FSSO3LTE46T3NWULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js"
            ]
        },
        "GetCarrier": {
            "http": {
                "method": "GET",
                "requestUri": "/carriers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CarrierResponseResource": {
                        "type": "structure",
                        "members": {
                            "Carrier": {
                                "locationName": "carrier"
                            },
                            "Internal": {
                                "locationName": "internal",
                                "type": "boolean"
                            }
                        }
                    }
                },
                "required": [
                    "CarrierResponseResource"
                ],
                "payload": "CarrierResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6HFZSNQSAZM74CAJEHRKJV5RFSR4Q7UPDUJ3DZ7LRUGY72ZOJFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26ICV6BXMDZ32RLEB7TQH66E6BHB2CACJ5ROOT6DLFN3DLEZS5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6JRIOOPDWTYDEB5B7XZS4T6PWCEIA4QNLD4BOFF7T7LJKHACSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULPI6TWQVZ7APWPRU2PLOJXMZZTW4BNX4KJJNVJLYVBAUWR7AOBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y42LL2TEGIEHMS3IPE32QXAQP57U43LRSUAEOK2H2KYBAIDT7VDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB4YFYMU6PZZ5KYQLAGKC45KAG47LDCSSLR5B7LLK46G7ZJLHGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUT6ISKQ7Z6EA6CIS5ZU2AMC6ZTIBKK5XP35DITJGTLL3DWLFFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSRPVTMYPVDWTAXLYKXC7ZQK662ZXNTWM3HIX33TXG5XWZQ7KTRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZYL2NXTPFMFZPBVJKRS7RI26WBHKJ6QMHORFUDL6UALMAMW6U3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6ZL4EXQO6O4MKV3BRZH6LIQSO4IGDVC3DTSN3PP3IIXTRYRAKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4APJZBI4L7NYLZVEPWFOSZCFYIC4O4YLAPLYMTGWJNH3EOKZATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFOIQUAZAXEDXBRSBUIIEWU35DTOFZBJTCF4SAAYLCOP472WIEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHCASQMJPVNKHM7R4O5YY7TERYMHRJ2PPC3FSSO3LTE46T3NWULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js"
            ]
        },
        "GetDivisions": {
            "http": {
                "method": "GET",
                "requestUri": "/divisions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddressSchemaResource": {
                        "type": "structure",
                        "members": {
                            "AddressSchema": {
                                "shape": "S7",
                                "locationName": "addressSchema"
                            },
                            "Country": {
                                "locationName": "country"
                            }
                        }
                    }
                },
                "required": [
                    "AddressSchemaResource"
                ],
                "payload": "AddressSchemaResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6HFZSNQSAZM74CAJEHRKJV5RFSR4Q7UPDUJ3DZ7LRUGY72ZOJFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26ICV6BXMDZ32RLEB7TQH66E6BHB2CACJ5ROOT6DLFN3DLEZS5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6JRIOOPDWTYDEB5B7XZS4T6PWCEIA4QNLD4BOFF7T7LJKHACSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULPI6TWQVZ7APWPRU2PLOJXMZZTW4BNX4KJJNVJLYVBAUWR7AOBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y42LL2TEGIEHMS3IPE32QXAQP57U43LRSUAEOK2H2KYBAIDT7VDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB4YFYMU6PZZ5KYQLAGKC45KAG47LDCSSLR5B7LLK46G7ZJLHGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUT6ISKQ7Z6EA6CIS5ZU2AMC6ZTIBKK5XP35DITJGTLL3DWLFFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSRPVTMYPVDWTAXLYKXC7ZQK662ZXNTWM3HIX33TXG5XWZQ7KTRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZYL2NXTPFMFZPBVJKRS7RI26WBHKJ6QMHORFUDL6UALMAMW6U3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6ZL4EXQO6O4MKV3BRZH6LIQSO4IGDVC3DTSN3PP3IIXTRYRAKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4APJZBI4L7NYLZVEPWFOSZCFYIC4O4YLAPLYMTGWJNH3EOKZATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFOIQUAZAXEDXBRSBUIIEWU35DTOFZBJTCF4SAAYLCOP472WIEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHCASQMJPVNKHM7R4O5YY7TERYMHRJ2PPC3FSSO3LTE46T3NWULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js"
            ]
        },
        "GetInternalCountryArcs": {
            "http": {
                "method": "GET",
                "requestUri": "/internal-country-arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InternalCountriesResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arcs": {
                                "shape": "S15",
                                "locationName": "arcs"
                            }
                        }
                    }
                },
                "required": [
                    "InternalCountriesResponseResource"
                ],
                "payload": "InternalCountriesResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6HFZSNQSAZM74CAJEHRKJV5RFSR4Q7UPDUJ3DZ7LRUGY72ZOJFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26ICV6BXMDZ32RLEB7TQH66E6BHB2CACJ5ROOT6DLFN3DLEZS5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6JRIOOPDWTYDEB5B7XZS4T6PWCEIA4QNLD4BOFF7T7LJKHACSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULPI6TWQVZ7APWPRU2PLOJXMZZTW4BNX4KJJNVJLYVBAUWR7AOBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y42LL2TEGIEHMS3IPE32QXAQP57U43LRSUAEOK2H2KYBAIDT7VDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB4YFYMU6PZZ5KYQLAGKC45KAG47LDCSSLR5B7LLK46G7ZJLHGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUT6ISKQ7Z6EA6CIS5ZU2AMC6ZTIBKK5XP35DITJGTLL3DWLFFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSRPVTMYPVDWTAXLYKXC7ZQK662ZXNTWM3HIX33TXG5XWZQ7KTRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZYL2NXTPFMFZPBVJKRS7RI26WBHKJ6QMHORFUDL6UALMAMW6U3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6ZL4EXQO6O4MKV3BRZH6LIQSO4IGDVC3DTSN3PP3IIXTRYRAKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4APJZBI4L7NYLZVEPWFOSZCFYIC4O4YLAPLYMTGWJNH3EOKZATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFOIQUAZAXEDXBRSBUIIEWU35DTOFZBJTCF4SAAYLCOP472WIEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHCASQMJPVNKHM7R4O5YY7TERYMHRJ2PPC3FSSO3LTE46T3NWULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js"
            ]
        },
        "GetServiceableCountryArcs": {
            "http": {
                "method": "GET",
                "requestUri": "/serviceable-country-arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Devices": {
                        "location": "querystring",
                        "locationName": "devices"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceableCountryArcsResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arcs": {
                                "shape": "S15",
                                "locationName": "arcs"
                            }
                        }
                    }
                },
                "required": [
                    "ServiceableCountryArcsResponseResource"
                ],
                "payload": "ServiceableCountryArcsResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6HFZSNQSAZM74CAJEHRKJV5RFSR4Q7UPDUJ3DZ7LRUGY72ZOJFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26ICV6BXMDZ32RLEB7TQH66E6BHB2CACJ5ROOT6DLFN3DLEZS5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6JRIOOPDWTYDEB5B7XZS4T6PWCEIA4QNLD4BOFF7T7LJKHACSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULPI6TWQVZ7APWPRU2PLOJXMZZTW4BNX4KJJNVJLYVBAUWR7AOBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y42LL2TEGIEHMS3IPE32QXAQP57U43LRSUAEOK2H2KYBAIDT7VDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB4YFYMU6PZZ5KYQLAGKC45KAG47LDCSSLR5B7LLK46G7ZJLHGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUT6ISKQ7Z6EA6CIS5ZU2AMC6ZTIBKK5XP35DITJGTLL3DWLFFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSRPVTMYPVDWTAXLYKXC7ZQK662ZXNTWM3HIX33TXG5XWZQ7KTRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZYL2NXTPFMFZPBVJKRS7RI26WBHKJ6QMHORFUDL6UALMAMW6U3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6ZL4EXQO6O4MKV3BRZH6LIQSO4IGDVC3DTSN3PP3IIXTRYRAKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4APJZBI4L7NYLZVEPWFOSZCFYIC4O4YLAPLYMTGWJNH3EOKZATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFOIQUAZAXEDXBRSBUIIEWU35DTOFZBJTCF4SAAYLCOP472WIEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHCASQMJPVNKHM7R4O5YY7TERYMHRJ2PPC3FSSO3LTE46T3NWULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "Active": {
                    "locationName": "active",
                    "type": "boolean"
                },
                "AddressSchema": {
                    "shape": "S7",
                    "locationName": "addressSchema"
                },
                "Carrier": {
                    "locationName": "carrier"
                },
                "Country": {
                    "locationName": "country"
                },
                "Internal": {
                    "locationName": "internal",
                    "type": "boolean"
                },
                "PaperworkRequired": {
                    "locationName": "paperworkRequired",
                    "type": "boolean"
                },
                "Region": {
                    "locationName": "region"
                },
                "ServiceLevels": {
                    "locationName": "serviceLevels",
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Description": {
                                "locationName": "description"
                            },
                            "OptionCode": {
                                "locationName": "optionCode"
                            },
                            "Sla": {
                                "locationName": "sla"
                            }
                        }
                    }
                },
                "TaxSchema": {
                    "locationName": "taxSchema",
                    "type": "structure",
                    "members": {
                        "TaxFields": {
                            "locationName": "taxFields",
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "FieldName": {
                                        "locationName": "fieldName"
                                    },
                                    "FieldPattern": {
                                        "locationName": "fieldPattern"
                                    }
                                }
                            }
                        }
                    }
                },
                "WhitelistedDevices": {
                    "locationName": "whitelistedDevices",
                    "type": "list",
                    "member": {}
                },
                "WhitelistedResources": {
                    "locationName": "whitelistedResources",
                    "type": "list",
                    "member": {}
                }
            },
            "required": [
                "Region",
                "Country"
            ]
        },
        "S7": {
            "type": "structure",
            "members": {
                "DivisionTitle": {
                    "locationName": "divisionTitle"
                },
                "Divisions": {
                    "locationName": "divisions",
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Code": {
                                "locationName": "code"
                            },
                            "Name": {
                                "locationName": "name"
                            }
                        }
                    }
                }
            }
        },
        "S15": {
            "type": "list",
            "member": {
                "shape": "S5"
            }
        }
    }
}