{
    "metadata": {
        "apiVersion": "2019-07-17",
        "endpointPrefix": "v2eq9ttjol",
        "signingName": "execute-api",
        "serviceFullName": "SignpostLambda",
        "serviceId": "SignpostLambda",
        "protocol": "rest-json",
        "uid": "v2eq9ttjol-2019-07-17",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QTYXSK5MSHKMOMSLJO5W4GPTYRSWUWYDQI77OPJZJ766C2SKCUTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
        ]
    },
    "operations": {
        "GetArc": {
            "http": {
                "method": "GET",
                "requestUri": "/arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArcResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arc": {
                                "shape": "S5",
                                "locationName": "arc"
                            }
                        }
                    }
                },
                "required": [
                    "ArcResponseResource"
                ],
                "payload": "ArcResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "GetCarrier": {
            "http": {
                "method": "GET",
                "requestUri": "/carriers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CarrierResponseResource": {
                        "type": "structure",
                        "members": {
                            "Carrier": {
                                "locationName": "carrier"
                            },
                            "Internal": {
                                "locationName": "internal",
                                "type": "boolean"
                            }
                        }
                    }
                },
                "required": [
                    "CarrierResponseResource"
                ],
                "payload": "CarrierResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "GetDivisions": {
            "http": {
                "method": "GET",
                "requestUri": "/divisions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddressSchemaResource": {
                        "type": "structure",
                        "members": {
                            "AddressSchema": {
                                "shape": "S7",
                                "locationName": "addressSchema"
                            },
                            "Country": {
                                "locationName": "country"
                            }
                        }
                    }
                },
                "required": [
                    "AddressSchemaResource"
                ],
                "payload": "AddressSchemaResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "GetInternalCountryArcs": {
            "http": {
                "method": "GET",
                "requestUri": "/internal-country-arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InternalCountriesResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arcs": {
                                "shape": "S15",
                                "locationName": "arcs"
                            }
                        }
                    }
                },
                "required": [
                    "InternalCountriesResponseResource"
                ],
                "payload": "InternalCountriesResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "GetServiceableCountryArcs": {
            "http": {
                "method": "GET",
                "requestUri": "/serviceable-country-arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Devices": {
                        "location": "querystring",
                        "locationName": "devices"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceableCountryArcsResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arcs": {
                                "shape": "S15",
                                "locationName": "arcs"
                            }
                        }
                    }
                },
                "required": [
                    "ServiceableCountryArcsResponseResource"
                ],
                "payload": "ServiceableCountryArcsResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "Active": {
                    "locationName": "active",
                    "type": "boolean"
                },
                "AddressSchema": {
                    "shape": "S7",
                    "locationName": "addressSchema"
                },
                "Carrier": {
                    "locationName": "carrier"
                },
                "Country": {
                    "locationName": "country"
                },
                "Internal": {
                    "locationName": "internal",
                    "type": "boolean"
                },
                "PaperworkRequired": {
                    "locationName": "paperworkRequired",
                    "type": "boolean"
                },
                "Region": {
                    "locationName": "region"
                },
                "ServiceLevels": {
                    "locationName": "serviceLevels",
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Description": {
                                "locationName": "description"
                            },
                            "OptionCode": {
                                "locationName": "optionCode"
                            },
                            "Sla": {
                                "locationName": "sla"
                            }
                        }
                    }
                },
                "TaxSchema": {
                    "locationName": "taxSchema",
                    "type": "structure",
                    "members": {
                        "TaxFields": {
                            "locationName": "taxFields",
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "FieldName": {
                                        "locationName": "fieldName"
                                    },
                                    "FieldPattern": {
                                        "locationName": "fieldPattern"
                                    }
                                }
                            }
                        }
                    }
                },
                "WhitelistedDevices": {
                    "locationName": "whitelistedDevices",
                    "type": "list",
                    "member": {}
                },
                "WhitelistedResources": {
                    "locationName": "whitelistedResources",
                    "type": "list",
                    "member": {}
                }
            },
            "required": [
                "Region",
                "Country"
            ]
        },
        "S7": {
            "type": "structure",
            "members": {
                "DivisionTitle": {
                    "locationName": "divisionTitle"
                },
                "Divisions": {
                    "locationName": "divisions",
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Code": {
                                "locationName": "code"
                            },
                            "Name": {
                                "locationName": "name"
                            }
                        }
                    }
                }
            }
        },
        "S15": {
            "type": "list",
            "member": {
                "shape": "S5"
            }
        }
    }
}