{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-03-22",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "vegacoralservice",
        "jsonVersion": "1.0",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "serviceFullName": "Vega",
        "serviceId": "vega",
        "signatureVersion": "v4",
        "signingName": "sqlworkbench",
        "targetPrefix": "VegaCoralService",
        "uid": "vega-2024-03-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
        ]
    },
    "operations": {
        "DeleteQCustomContext": {
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "GetQCustomContext": {
            "input": {
                "type": "structure",
                "members": {
                    "KmsKeyArn": {},
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomContext": {
                        "shape": "S7"
                    }
                },
                "sensitive": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "GetQRelevantTables": {
            "input": {
                "type": "structure",
                "required": [
                    "DbConfig",
                    "Prompt"
                ],
                "members": {
                    "DbConfig": {
                        "shape": "Sn"
                    },
                    "Prompt": {
                        "shape": "Ss"
                    },
                    "KmsKeyArn": {},
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "SqlworkbenchConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Text": {},
                                "Score": {
                                    "type": "float"
                                }
                            }
                        },
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "GetQSqlMetadataStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DbConfig"
                ],
                "members": {
                    "DbConfig": {
                        "shape": "Sn"
                    },
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "SqlworkbenchConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatabaseStructureStatus": {},
                    "QueryHistoryStatus": {},
                    "Error": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "GetQSqlRecommendation": {
            "input": {
                "type": "structure",
                "required": [
                    "DbConfig",
                    "Prompt"
                ],
                "members": {
                    "DbConfig": {
                        "shape": "Sn"
                    },
                    "Prompt": {
                        "shape": "Ss"
                    },
                    "KmsKeyArn": {},
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "LogConfig": {
                        "type": "structure",
                        "members": {
                            "LogSessionId": {},
                            "OriginalQuestionId": {}
                        }
                    },
                    "SqlworkbenchConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Data": {
                        "type": "structure",
                        "members": {
                            "ExtractionErrors": {
                                "type": "boolean"
                            },
                            "GuardRails": {
                                "type": "structure",
                                "members": {
                                    "IsDml": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "SqlStatement": {
                                "type": "string",
                                "sensitive": true
                            },
                            "SyntaxErrors": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    },
                    "LogSessionId": {},
                    "QuestionId": {},
                    "OriginalQuestionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "IngestQSqlMetadata": {
            "input": {
                "type": "structure",
                "required": [
                    "DbConfig",
                    "RefreshMode"
                ],
                "members": {
                    "DbConfig": {
                        "shape": "Sn"
                    },
                    "KmsKeyArn": {},
                    "RefreshMode": {},
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "SqlworkbenchConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "PutQCustomContext": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomContext"
                ],
                "members": {
                    "CustomContext": {
                        "shape": "S7"
                    },
                    "KmsKeyArn": {},
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "PutQSqlFeedback": {
            "input": {
                "type": "structure",
                "required": [
                    "QuestionId",
                    "QuestionRating"
                ],
                "members": {
                    "QuestionId": {},
                    "QuestionRating": {
                        "type": "string",
                        "sensitive": true
                    },
                    "CustomFeedback": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "string",
            "sensitive": true
        },
        "S7": {
            "type": "structure",
            "members": {
                "Warehouses": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "TablesToInclude": {
                                "shape": "Sb"
                            },
                            "TablesToExclude": {
                                "shape": "Sb"
                            },
                            "ColumnsToInclude": {
                                "shape": "Sb"
                            },
                            "ColumnsToExclude": {
                                "shape": "Sb"
                            },
                            "TableAnnotations": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "ColumnAnnotations": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "CuratedQueries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Answer"
                                    ],
                                    "members": {
                                        "Question": {},
                                        "Answer": {}
                                    }
                                }
                            },
                            "CustomDocuments": {
                                "shape": "Sb"
                            },
                            "AdditionalTables": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "AppendToPrompt": {}
                        }
                    }
                }
            },
            "sensitive": true
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sn": {
            "type": "structure",
            "required": [
                "Database"
            ],
            "members": {
                "ClusterIdentifier": {},
                "WorkgroupName": {},
                "Database": {},
                "DbUser": {},
                "SecretArn": {}
            }
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        }
    }
}