{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-03-22",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "vegacoralservice",
        "jsonVersion": "1.0",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "serviceFullName": "Vega",
        "serviceId": "vega",
        "signatureVersion": "v4",
        "signingName": "sqlworkbench",
        "targetPrefix": "VegaCoralService",
        "uid": "vega-2024-03-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/I4IVHT6XS4UJFK7Y5RM3QTRE6H4TVWR2FJMW4CUPGHHH5HYI7YDQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
        ]
    },
    "operations": {
        "DeleteQCustomContext": {
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "GetQCustomContext": {
            "input": {
                "type": "structure",
                "members": {
                    "KmsKeyArn": {},
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomContext": {
                        "shape": "S7"
                    }
                },
                "sensitive": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "GetQRelevantTables": {
            "input": {
                "type": "structure",
                "required": [
                    "DbConfig",
                    "Prompt"
                ],
                "members": {
                    "DbConfig": {
                        "shape": "Sn"
                    },
                    "Prompt": {
                        "shape": "Ss"
                    },
                    "KmsKeyArn": {},
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "SqlworkbenchConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Text": {},
                                "Score": {
                                    "type": "float"
                                }
                            }
                        },
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "GetQSqlMetadataStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DbConfig"
                ],
                "members": {
                    "DbConfig": {
                        "shape": "Sn"
                    },
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "SqlworkbenchConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatabaseStructureStatus": {},
                    "QueryHistoryStatus": {},
                    "Error": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "GetQSqlRecommendation": {
            "input": {
                "type": "structure",
                "required": [
                    "DbConfig",
                    "Prompt"
                ],
                "members": {
                    "DbConfig": {
                        "shape": "Sn"
                    },
                    "Prompt": {
                        "shape": "Ss"
                    },
                    "KmsKeyArn": {},
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "LogConfig": {
                        "type": "structure",
                        "members": {
                            "LogSessionId": {},
                            "OriginalQuestionId": {}
                        }
                    },
                    "SqlworkbenchConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Data": {
                        "type": "structure",
                        "members": {
                            "ExtractionErrors": {
                                "type": "boolean"
                            },
                            "GuardRails": {
                                "type": "structure",
                                "members": {
                                    "IsDml": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "SqlStatement": {
                                "type": "string",
                                "sensitive": true
                            },
                            "SyntaxErrors": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    },
                    "LogSessionId": {},
                    "QuestionId": {},
                    "OriginalQuestionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "IngestQSqlMetadata": {
            "input": {
                "type": "structure",
                "required": [
                    "DbConfig",
                    "RefreshMode"
                ],
                "members": {
                    "DbConfig": {
                        "shape": "Sn"
                    },
                    "KmsKeyArn": {},
                    "RefreshMode": {},
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "SqlworkbenchConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "PutQCustomContext": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomContext"
                ],
                "members": {
                    "CustomContext": {
                        "shape": "S7"
                    },
                    "KmsKeyArn": {},
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "PutQSqlFeedback": {
            "input": {
                "type": "structure",
                "required": [
                    "QuestionId",
                    "QuestionRating"
                ],
                "members": {
                    "QuestionId": {},
                    "QuestionRating": {
                        "type": "string",
                        "sensitive": true
                    },
                    "CustomFeedback": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "GetQSqlPromptQuotas": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "MaxQPrompts": {
                        "type": "integer"
                    },
                    "SubmittedQPrompts": {
                        "type": "integer"
                    },
                    "SubscriptionStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "string",
            "sensitive": true
        },
        "S7": {
            "type": "structure",
            "members": {
                "Warehouses": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "TablesToInclude": {
                                "shape": "Sb"
                            },
                            "TablesToExclude": {
                                "shape": "Sb"
                            },
                            "ColumnsToInclude": {
                                "shape": "Sb"
                            },
                            "ColumnsToExclude": {
                                "shape": "Sb"
                            },
                            "TableAnnotations": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "ColumnAnnotations": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "CuratedQueries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Answer"
                                    ],
                                    "members": {
                                        "Question": {},
                                        "Answer": {}
                                    }
                                }
                            },
                            "CustomDocuments": {
                                "shape": "Sb"
                            },
                            "AdditionalTables": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "AppendToPrompt": {}
                        }
                    }
                }
            },
            "sensitive": true
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sn": {
            "type": "structure",
            "required": [
                "Database"
            ],
            "members": {
                "ClusterIdentifier": {},
                "WorkgroupName": {},
                "Database": {},
                "DbUser": {},
                "SecretArn": {}
            }
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Sx": {
            "type": "string",
            "sensitive": true
        }
    }
}