{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "awsvenicecontrolplaneservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Venice Control Plane",
        "serviceId": "VeniceControlPlane",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "venicecontrolplane-2018-05-10",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
        ]
    },
    "operations": {
        "CreateIdMappingWorkflow": {
            "http": {
                "requestUri": "/idmappingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "CreateMatchingWorkflow": {
            "http": {
                "requestUri": "/matchingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "CreateSchemaMapping": {
            "http": {
                "requestUri": "/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    },
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "description",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "DeleteIdMappingWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/idmappingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "DeleteMatchingWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "DeleteSchemaMapping": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "GetIdMappingWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "createdAt",
                    "updatedAt",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "GetMatchingWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "createdAt",
                    "updatedAt",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "GetProviderService": {
            "http": {
                "method": "GET",
                "requestUri": "/providerservices/{providerName}/{providerServiceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "providerName",
                    "providerServiceName"
                ],
                "members": {
                    "providerName": {
                        "location": "uri",
                        "locationName": "providerName"
                    },
                    "providerServiceName": {
                        "location": "uri",
                        "locationName": "providerServiceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "providerName",
                    "providerServiceName",
                    "providerServiceDisplayName",
                    "providerServiceType",
                    "providerServiceArn",
                    "providerEndpointConfiguration",
                    "anonymizedOutput",
                    "providerEntityOutputDefinition"
                ],
                "members": {
                    "providerName": {},
                    "providerServiceName": {},
                    "providerServiceDisplayName": {},
                    "providerServiceType": {},
                    "providerServiceArn": {},
                    "providerConfigurationDefinition": {
                        "shape": "Sf"
                    },
                    "providerEndpointConfiguration": {
                        "type": "structure",
                        "members": {
                            "marketplaceConfiguration": {
                                "type": "structure",
                                "required": [
                                    "dataSetId",
                                    "revisionId",
                                    "assetId",
                                    "listingId"
                                ],
                                "members": {
                                    "dataSetId": {},
                                    "revisionId": {},
                                    "assetId": {},
                                    "listingId": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "anonymizedOutput": {
                        "type": "boolean"
                    },
                    "providerEntityOutputDefinition": {
                        "shape": "Sf"
                    },
                    "providerIntermediateDataAccessConfiguration": {
                        "type": "structure",
                        "members": {
                            "awsAccountIds": {
                                "type": "list",
                                "member": {}
                            },
                            "requiredBucketActions": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "GetSchemaMapping": {
            "http": {
                "method": "GET",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "mappedInputFields",
                    "createdAt",
                    "updatedAt",
                    "hasWorkflows"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "hasWorkflows": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "ListIdMappingWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workflowName",
                                "workflowArn",
                                "createdAt",
                                "updatedAt"
                            ],
                            "members": {
                                "workflowName": {},
                                "workflowArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "ListMatchingWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workflowName",
                                "workflowArn",
                                "createdAt",
                                "updatedAt",
                                "resolutionType"
                            ],
                            "members": {
                                "workflowName": {},
                                "workflowArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "resolutionType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "ListProviderServices": {
            "http": {
                "method": "GET",
                "requestUri": "/providerservices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "providerName": {
                        "location": "querystring",
                        "locationName": "providerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "providerServiceSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "providerServiceArn",
                                "providerName",
                                "providerServiceDisplayName",
                                "providerServiceName",
                                "providerServiceType"
                            ],
                            "members": {
                                "providerServiceArn": {},
                                "providerName": {},
                                "providerServiceDisplayName": {},
                                "providerServiceName": {},
                                "providerServiceType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "ListSchemaMappings": {
            "http": {
                "method": "GET",
                "requestUri": "/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schemaList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "schemaName",
                                "schemaArn",
                                "createdAt",
                                "updatedAt",
                                "hasWorkflows"
                            ],
                            "members": {
                                "schemaName": {},
                                "schemaArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "hasWorkflows": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "UpdateIdMappingWorkflow": {
            "http": {
                "method": "PUT",
                "requestUri": "/idmappingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "UpdateMatchingWorkflow": {
            "http": {
                "method": "PUT",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "UpdateSchemaMapping": {
            "http": {
                "method": "PUT",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "UseWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/useworkflow/{workflowName}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js"
            ]
        },
        "AddPolicyStatement": {
            "http": {
                "requestUri": "/policies/{arn}/{statementId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "statementId",
                    "effect",
                    "action",
                    "principal"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "statementId": {
                        "location": "uri",
                        "locationName": "statementId"
                    },
                    "effect": {},
                    "action": {
                        "type": "list",
                        "member": {}
                    },
                    "principal": {
                        "type": "list",
                        "member": {}
                    },
                    "condition": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "token"
                ],
                "members": {
                    "arn": {},
                    "token": {},
                    "policy": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "CreateIdNamespace": {
            "http": {
                "requestUri": "/idnamespaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "idNamespaceName",
                    "type"
                ],
                "members": {
                    "idNamespaceName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S11"
                    },
                    "idMappingWorkflowProperties": {
                        "shape": "S14"
                    },
                    "type": {},
                    "roleArn": {},
                    "tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idNamespaceName",
                    "idNamespaceArn",
                    "type",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "idNamespaceName": {},
                    "idNamespaceArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S11"
                    },
                    "idMappingWorkflowProperties": {
                        "shape": "S14"
                    },
                    "type": {},
                    "roleArn": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "DeleteIdNamespace": {
            "http": {
                "method": "DELETE",
                "requestUri": "/idnamespaces/{idNamespaceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "idNamespaceName"
                ],
                "members": {
                    "idNamespaceName": {
                        "location": "uri",
                        "locationName": "idNamespaceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "DeletePolicyStatement": {
            "http": {
                "method": "DELETE",
                "requestUri": "/policies/{arn}/{statementId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "statementId"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "statementId": {
                        "location": "uri",
                        "locationName": "statementId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "token"
                ],
                "members": {
                    "arn": {},
                    "token": {},
                    "policy": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "GetIdNamespace": {
            "http": {
                "method": "GET",
                "requestUri": "/idnamespaces/{idNamespaceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "idNamespaceName"
                ],
                "members": {
                    "idNamespaceName": {
                        "location": "uri",
                        "locationName": "idNamespaceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idNamespaceName",
                    "idNamespaceArn",
                    "type",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "idNamespaceName": {},
                    "idNamespaceArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S11"
                    },
                    "idMappingWorkflowProperties": {
                        "shape": "S14"
                    },
                    "type": {},
                    "roleArn": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Sv"
                    }
[...]
