{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "awsvenicedataplaneservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Venice Data Plane",
        "serviceId": "VeniceDataPlane",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "venicedataplane-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJ5HVA3SOZAYO53YURZWXFZH342PXPMSIXXAKS5ABOK2457BKEEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
        ]
    },
    "operations": {
        "GetIdMappingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows/{workflowName}/jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "jobId"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "metrics": {
                        "type": "structure",
                        "members": {
                            "inputRecords": {
                                "type": "integer"
                            },
                            "totalRecordsProcessed": {
                                "type": "integer"
                            },
                            "recordsNotProcessed": {
                                "type": "integer"
                            }
                        }
                    },
                    "errorDetails": {
                        "shape": "S9"
                    },
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "GetMatchId": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/matches",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "record"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "record": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "applyNormalization": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "matchId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "GetMatchingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}/jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "jobId"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "metrics": {
                        "type": "structure",
                        "members": {
                            "inputRecords": {
                                "type": "integer"
                            },
                            "totalRecordsProcessed": {
                                "type": "integer"
                            },
                            "recordsNotProcessed": {
                                "type": "integer"
                            },
                            "matchIDs": {
                                "type": "integer"
                            }
                        }
                    },
                    "errorDetails": {
                        "shape": "S9"
                    },
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "ListIdMappingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "shape": "Sr"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "ListMatchingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "shape": "Sr"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "StartIdMappingJob": {
            "http": {
                "requestUri": "/idmappingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {},
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "StartMatchingJob": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "structure",
            "members": {
                "errorMessage": {}
            }
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        }
    }
}