{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "awsvenicedataplaneservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Venice Data Plane",
        "serviceId": "VeniceDataPlane",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "venicedataplane-2018-05-10",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
        ]
    },
    "operations": {
        "GetIdMappingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows/{workflowName}/jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "jobId"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "metrics": {
                        "type": "structure",
                        "members": {
                            "inputRecords": {
                                "type": "integer"
                            },
                            "totalRecordsProcessed": {
                                "type": "integer"
                            },
                            "recordsNotProcessed": {
                                "type": "integer"
                            }
                        }
                    },
                    "errorDetails": {
                        "shape": "S9"
                    },
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "GetMatchId": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/matches",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "record"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "record": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "applyNormalization": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "matchId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "GetMatchingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}/jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "jobId"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "metrics": {
                        "type": "structure",
                        "members": {
                            "inputRecords": {
                                "type": "integer"
                            },
                            "totalRecordsProcessed": {
                                "type": "integer"
                            },
                            "recordsNotProcessed": {
                                "type": "integer"
                            },
                            "matchIDs": {
                                "type": "integer"
                            }
                        }
                    },
                    "errorDetails": {
                        "shape": "S9"
                    },
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "ListIdMappingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "shape": "Sr"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "ListMatchingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "shape": "Sr"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "StartIdMappingJob": {
            "http": {
                "requestUri": "/idmappingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {},
                    "outputSourceConfig": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {},
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "StartMatchingJob": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "BatchDeleteUniqueId": {
            "http": {
                "method": "DELETE",
                "requestUri": "/matchingworkflows/{workflowName}/uniqueids",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "uniqueIds"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "inputSource": {
                        "location": "header",
                        "locationName": "inputSource"
                    },
                    "uniqueIds": {
                        "location": "header",
                        "locationName": "uniqueIds",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status",
                    "errors",
                    "deleted",
                    "disconnectedUniqueIds"
                ],
                "members": {
                    "status": {},
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "uniqueId",
                                "errorType"
                            ],
                            "members": {
                                "uniqueId": {},
                                "errorType": {}
                            }
                        }
                    },
                    "deleted": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "uniqueId"
                            ],
                            "members": {
                                "uniqueId": {}
                            }
                        }
                    },
                    "disconnectedUniqueIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "GenerateMatchId": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/generateMatches",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "records"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "inputSourceARN",
                                "uniqueId",
                                "recordAttributeMap"
                            ],
                            "members": {
                                "inputSourceARN": {},
                                "uniqueId": {},
                                "recordAttributeMap": {
                                    "shape": "Si"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "matchGroups",
                    "failedRecords"
                ],
                "members": {
                    "matchGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "uniqueIds",
                                "matchId",
                                "matchRule"
                            ],
                            "members": {
                                "uniqueIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "matchId": {},
                                "matchRule": {}
                            }
                        }
                    },
                    "failedRecords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "uniqueId",
                                "errorMessage"
                            ],
                            "members": {
                                "uniqueId": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "structure",
            "members": {
                "errorMessage": {}
            }
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Si": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "S11": {
            "type": "structure",
            "members": {
                "errorMessage": {}
            }
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "roleArn",
                    "outputS3Path"
                ],
                "members": {
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "errorMessage": {}
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "roleArn",
                    "outputS3Path"
                ],
                "members": {
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            }
        },
        "S19": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        }
    }
}