{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "awsvenicedataplaneservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Venice Data Plane",
        "serviceId": "VeniceDataPlane",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "venicedataplane-2018-05-10",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
        ]
    },
    "operations": {
        "GetIdMappingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows/{workflowName}/jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "jobId"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "metrics": {
                        "type": "structure",
                        "members": {
                            "inputRecords": {
                                "type": "integer"
                            },
                            "totalRecordsProcessed": {
                                "type": "integer"
                            },
                            "recordsNotProcessed": {
                                "type": "integer"
                            }
                        }
                    },
                    "errorDetails": {
                        "shape": "S9"
                    },
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "GetMatchId": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/matches",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "record"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "record": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "applyNormalization": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "matchId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "GetMatchingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}/jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "jobId"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "metrics": {
                        "type": "structure",
                        "members": {
                            "inputRecords": {
                                "type": "integer"
                            },
                            "totalRecordsProcessed": {
                                "type": "integer"
                            },
                            "recordsNotProcessed": {
                                "type": "integer"
                            },
                            "matchIDs": {
                                "type": "integer"
                            }
                        }
                    },
                    "errorDetails": {
                        "shape": "S9"
                    },
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "ListIdMappingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "shape": "Sr"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "ListMatchingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "shape": "Sr"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "StartIdMappingJob": {
            "http": {
                "requestUri": "/idmappingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {},
                    "outputSourceConfig": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {},
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "StartMatchingJob": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GJQO7PXIQNZJE3WEHXVDECLI4JT5HPDBB7XAHYBMHKQG5QHDZACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44WVBWRCKKKFXHLJFCA2MPR3G3RYNSLNNLAVATPPVJ247ZBKBDIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AR76D37BKWJLYOMH4E27IWKMRLHWNU4SJOI6G2QTHTPENDWFCJIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HPWQPQYT4AAQFYP7VDLT5J73RVFVKLBKOU63THBVCO7NPTRGU7EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERH6ZPRDICUMT4J77V4QYBPWWLPYUQ4NBYUAVURC7OU6RCDV5S2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "BatchDeleteUniqueId": {
            "http": {
                "method": "DELETE",
                "requestUri": "/matchingworkflows/{workflowName}/uniqueids",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "uniqueIds"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "inputSource": {
                        "location": "header",
                        "locationName": "inputSource"
                    },
                    "uniqueIds": {
                        "location": "header",
                        "locationName": "uniqueIds",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status",
                    "errors",
                    "deleted",
                    "disconnectedUniqueIds"
                ],
                "members": {
                    "status": {},
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "uniqueId",
                                "errorType"
                            ],
                            "members": {
                                "uniqueId": {},
                                "errorType": {}
                            }
                        }
                    },
                    "deleted": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "uniqueId"
                            ],
                            "members": {
                                "uniqueId": {}
                            }
                        }
                    },
                    "disconnectedUniqueIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANZ6ACMPYS2IQ7SPHGG65CWG5EGCVNZ3HXSRC6FHLXMCBAGOA7ZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NEJIIDERUMAKJTR3KV4FT7F26M7IG74YXDWETFRNKKSCJCMBOB5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KYUEO6G2HCETAQDCSCP5BVQRZR7LPRYNRXOY3PVRPP3WSWADO3EQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7RF4366AIHI3I36OUHGELUEPELHKA3O6MEBKC3Q2VU4I27WWLXAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZT3JDBXVPMTEREYGXQDWYMB6AON2PMGHIBJTCNAVBFPQ37QG4IQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IBMQPTMDYMUD57A6WK5IDLL3WUQOC7XGWVB6JGH6Y5EUKBRT7KRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZEJOTD7JGNRSDPG7KCASFXZGEWP7GB2BK73BNLD447WIFJUYFJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I4MCSXIIUQ5VWOYK7RP33SBLEF6ULSV7JD55GY3NEODB6BDKBBJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVOWZ5H52PVE3KJXIIJ6CMLXWYRWX4UESTJCAEZCXMXHZTRLKV4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PTLNVW4BBAZWZRBY5BRJQOCEUZFUYRKHBFUM672EZ4G63YKP5T4A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XQQKL47APOKJLX55QH4QLWX3P5CCVPGWW7UMV4CYJNDMB7FRMHHA/main.js"
            ]
        },
        "GenerateMatchId": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/generateMatches",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "records"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "inputSourceARN",
                                "uniqueId",
                                "recordAttributeMap"
                            ],
                            "members": {
                                "inputSourceARN": {},
                                "uniqueId": {},
                                "recordAttributeMap": {
                                    "shape": "Si"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "matchGroups",
                    "failedRecords"
                ],
                "members": {
                    "matchGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "uniqueIds",
                                "matchId",
                                "matchRule"
                            ],
                            "members": {
                                "uniqueIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "matchId": {},
                                "matchRule": {}
                            }
                        }
                    },
                    "failedRecords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "uniqueId",
                                "errorMessage"
                            ],
                            "members": {
                                "uniqueId": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VWWW4HYXTYEBQVTXWTTI2GVN3ENHRPUMKM3ZFNT3YITTWGTQR2KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSLDXNCL2JUGG6PNYG7PZSSJGIF64DJQMKIA4XJ2HQDRK2CWZ7LA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EO6GACGHALU7SMS4GXC5WLQUP7CEUDXRAE6ZUHUYSML3YY252JNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NZ25HCK233FNSLMD2R576MRQKKHTOZBCMZYDAPWICIEWASYVX5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABIONCWGAOMFK3FAVX3QCTSNEJNQFWGW354EBOW5FYXUA42XDHEQ/main.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "structure",
            "members": {
                "errorMessage": {}
            }
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Si": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "S11": {
            "type": "structure",
            "members": {
                "errorMessage": {}
            }
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "roleArn",
                    "outputS3Path"
                ],
                "members": {
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "errorMessage": {}
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "roleArn",
                    "outputS3Path"
                ],
                "members": {
                    "roleArn": {},
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            }
        },
        "S19": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            }
        }
    }
}