{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "awsvenicecontrolplaneservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Venice Control Plane",
        "serviceId": "VeniceControlPlane",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "venicecontrolplane-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJ5HVA3SOZAYO53YURZWXFZH342PXPMSIXXAKS5ABOK2457BKEEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
        ]
    },
    "operations": {
        "CreateIdMappingWorkflow": {
            "http": {
                "requestUri": "/idmappingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "CreateMatchingWorkflow": {
            "http": {
                "requestUri": "/matchingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "CreateSchemaMapping": {
            "http": {
                "requestUri": "/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    },
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "description",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "DeleteIdMappingWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/idmappingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "DeleteMatchingWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "DeleteSchemaMapping": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "GetIdMappingWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "createdAt",
                    "updatedAt",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "GetMatchingWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "createdAt",
                    "updatedAt",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "GetProviderService": {
            "http": {
                "method": "GET",
                "requestUri": "/providerservices/{providerName}/{providerServiceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "providerName",
                    "providerServiceName"
                ],
                "members": {
                    "providerName": {
                        "location": "uri",
                        "locationName": "providerName"
                    },
                    "providerServiceName": {
                        "location": "uri",
                        "locationName": "providerServiceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "providerName",
                    "providerServiceName",
                    "providerServiceDisplayName",
                    "providerServiceType",
                    "providerServiceArn",
                    "providerEndpointConfiguration",
                    "anonymizedOutput",
                    "providerEntityOutputDefinition"
                ],
                "members": {
                    "providerName": {},
                    "providerServiceName": {},
                    "providerServiceDisplayName": {},
                    "providerServiceType": {},
                    "providerServiceArn": {},
                    "providerConfigurationDefinition": {
                        "shape": "Sf"
                    },
                    "providerEndpointConfiguration": {
                        "type": "structure",
                        "members": {
                            "marketplaceConfiguration": {
                                "type": "structure",
                                "required": [
                                    "dataSetId",
                                    "revisionId",
                                    "assetId",
                                    "listingId"
                                ],
                                "members": {
                                    "dataSetId": {},
                                    "revisionId": {},
                                    "assetId": {},
                                    "listingId": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "anonymizedOutput": {
                        "type": "boolean"
                    },
                    "providerEntityOutputDefinition": {
                        "shape": "Sf"
                    },
                    "providerIntermediateDataAccessConfiguration": {
                        "type": "structure",
                        "members": {
                            "awsAccountIds": {
                                "type": "list",
                                "member": {}
                            },
                            "requiredBucketActions": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "GetSchemaMapping": {
            "http": {
                "method": "GET",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "mappedInputFields",
                    "createdAt",
                    "updatedAt",
                    "hasWorkflows"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "hasWorkflows": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "ListIdMappingWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workflowName",
                                "workflowArn",
                                "createdAt",
                                "updatedAt"
                            ],
                            "members": {
                                "workflowName": {},
                                "workflowArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "ListMatchingWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workflowName",
                                "workflowArn",
                                "createdAt",
                                "updatedAt",
                                "resolutionType"
                            ],
                            "members": {
                                "workflowName": {},
                                "workflowArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "resolutionType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "ListProviderServices": {
            "http": {
                "method": "GET",
                "requestUri": "/providerservices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "providerName": {
                        "location": "querystring",
                        "locationName": "providerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "providerServiceSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "providerServiceArn",
                                "providerName",
                                "providerServiceDisplayName",
                                "providerServiceName",
                                "providerServiceType"
                            ],
                            "members": {
                                "providerServiceArn": {},
                                "providerName": {},
                                "providerServiceDisplayName": {},
                                "providerServiceName": {},
                                "providerServiceType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "ListSchemaMappings": {
            "http": {
                "method": "GET",
                "requestUri": "/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schemaList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "schemaName",
                                "schemaArn",
                                "createdAt",
                                "updatedAt",
                                "hasWorkflows"
                            ],
                            "members": {
                                "schemaName": {},
                                "schemaArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "hasWorkflows": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "UpdateIdMappingWorkflow": {
            "http": {
                "method": "PUT",
                "requestUri": "/idmappingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "UpdateMatchingWorkflow": {
            "http": {
                "method": "PUT",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "UpdateSchemaMapping": {
            "http": {
                "method": "PUT",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4KFQTPNS7OWGQAKJPIOU6KXH4H3IMBW6DZRQI5PUVOFSZ55YSFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL5AGFGD2VZWD7HZJPMCQEVDCFNXZ5T7KJZF4TER5NGYO4YFDU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2LYUWOQTVQP2FHKU3SJNZET7HAKGTD623XMSG3KTKXLV44UKDOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJL4EAL433RTBPRFFX5YDUNFYEMR4EGVOKPGTH766V4IRTB4OBNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5HJL3ITGU7NF54GCKM3BBHZAZGNAUMSXS6AH6X5XQALP7BSSQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3ZSVIDMTBCXRIGQJJGWJ6XKGGZOJOY54BFWZIVQ6BIZDZTQFBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKFUE2IBH4N4OMYLLKIVIC43QGA5BCAMBOYRDTOYI7GIL54IZWYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWIQQT2UMHIBTR7Q3QFBONT23GRBP6YN3XAACTM3IJIKXW5BCIVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UH3ZRFKME5XA6GODP7ONOXVOM3BOISKF3NC7274IQ7XEM4IYZKVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GNJM2XQE6TGRC56USJFFXWRWRYLAUPVJ43L6FMOQCEKX4INXHOLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4XEGM6RISEEPZC6CN4PICOMRBUTMZ6RX2X5S7AFUZ6TNG3SIRAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ45STQHA6PAZHXCUL3WZWGOSKGTVEBG4BGRJGSFHVEVGYUAOSKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZTHGGHFV4BEJWV6AHDBW4MPCEM6FR67AX4L6FLWKRQIY6JBCKVLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O2YRCPJDFGHBYBOY3VOYNRBH5WIXUBFZNFMHIW32BAKCHFEWMIMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js"
            ]
        },
        "UseWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/useworkflow/{workflowName}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "inputSourceARN"
                ],
                "members": {
                    "inputSourceARN": {},
                    "schemaName": {}
                }
            }
        },
        "S7": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "outputS3Path"
                ],
                "members": {
                    "outputS3Path": {},
                    "KMSArn": {}
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "idMappingType",
                "providerProperties"
            ],
            "members": {
                "idMappingType": {},
                "providerProperties": {
                    "shape": "Sd"
                }
            }
        },
        "Sd": {
            "type": "structure",
            "required": [
                "providerServiceArn"
            ],
            "members": {
                "providerServiceArn": {},
                "providerConfiguration": {
                    "shape": "Sf"
                },
                "intermediateSourceConfiguration": {
                    "type": "structure",
                    "required": [
                        "intermediateS3Path"
                    ],
                    "members": {
                        "intermediateS3Path": {}
                    }
                }
            }
        },
        "Sf": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "Si": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "inputSourceARN",
                    "schemaName"
                ],
                "members": {
                    "inputSourceARN": {},
                    "schemaName": {},
                    "applyNormalization": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "outputS3Path",
                    "output"
                ],
                "members": {
                    "outputS3Path": {},
                    "KMSArn": {},
                    "output": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name"
                            ],
                            "members": {
                                "name": {},
                                "hashed": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "applyNormalization": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sx": {
            "type": "structure",
            "required": [
                "resolutionType"
            ],
            "members": {
                "resolutionType": {},
                "ruleBasedProperties": {
                    "type": "structure",
                    "required": [
                        "rules",
                        "attributeMatchingModel"
                    ],
                    "members": {
                        "rules": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "ruleName",
                                    "matchingKeys"
                                ],
                                "members": {
                                    "ruleName": {},
                                    "matchingKeys": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            }
                        },
                        "attributeMatchingModel": {}
                    }
                },
                "providerProperties": {
                    "shape": "Sd"
                }
            }
        },
        "S15": {
            "type": "structure",
            "members": {
                "incrementalRunType": {}
            }
        },
        "S1b": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "fieldName",
                    "type"
                ],
                "members": {
                    "fieldName": {},
                    "type": {},
                    "groupName": {},
                    "matchKey": {},
                    "subType": {}
                }
            }
        },
        "S1c": {
            "type": "structure",
            "required": [
                "fieldName",
                "type"
            ],
            "members": {
                "fieldName": {},
                "type": {},
                "groupName": {},
                "matchKey": {},
                "subType": {},
                "hashing": {
                    "type": "boolean"
                }
            }
        }
    }
}