{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "awsvenicecontrolplaneservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Venice Control Plane",
        "serviceId": "VeniceControlPlane",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "venicecontrolplane-2018-05-10",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
        ]
    },
    "operations": {
        "CreateIdMappingWorkflow": {
            "http": {
                "requestUri": "/idmappingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "CreateMatchingWorkflow": {
            "http": {
                "requestUri": "/matchingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "CreateSchemaMapping": {
            "http": {
                "requestUri": "/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    },
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "description",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "DeleteIdMappingWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/idmappingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "DeleteMatchingWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "DeleteSchemaMapping": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "GetIdMappingWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "createdAt",
                    "updatedAt",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "GetMatchingWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "createdAt",
                    "updatedAt",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "GetProviderService": {
            "http": {
                "method": "GET",
                "requestUri": "/providerservices/{providerName}/{providerServiceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "providerName",
                    "providerServiceName"
                ],
                "members": {
                    "providerName": {
                        "location": "uri",
                        "locationName": "providerName"
                    },
                    "providerServiceName": {
                        "location": "uri",
                        "locationName": "providerServiceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "providerName",
                    "providerServiceName",
                    "providerServiceDisplayName",
                    "providerServiceType",
                    "providerServiceArn",
                    "providerEndpointConfiguration",
                    "anonymizedOutput",
                    "providerEntityOutputDefinition"
                ],
                "members": {
                    "providerName": {},
                    "providerServiceName": {},
                    "providerServiceDisplayName": {},
                    "providerServiceType": {},
                    "providerServiceArn": {},
                    "providerConfigurationDefinition": {
                        "shape": "Sf"
                    },
                    "providerEndpointConfiguration": {
                        "type": "structure",
                        "members": {
                            "marketplaceConfiguration": {
                                "type": "structure",
                                "required": [
                                    "dataSetId",
                                    "revisionId",
                                    "assetId",
                                    "listingId"
                                ],
                                "members": {
                                    "dataSetId": {},
                                    "revisionId": {},
                                    "assetId": {},
                                    "listingId": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "anonymizedOutput": {
                        "type": "boolean"
                    },
                    "providerEntityOutputDefinition": {
                        "shape": "Sf"
                    },
                    "providerIntermediateDataAccessConfiguration": {
                        "type": "structure",
                        "members": {
                            "awsAccountIds": {
                                "type": "list",
                                "member": {}
                            },
                            "requiredBucketActions": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "GetSchemaMapping": {
            "http": {
                "method": "GET",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "mappedInputFields",
                    "createdAt",
                    "updatedAt",
                    "hasWorkflows"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "hasWorkflows": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "ListIdMappingWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/idmappingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workflowName",
                                "workflowArn",
                                "createdAt",
                                "updatedAt"
                            ],
                            "members": {
                                "workflowName": {},
                                "workflowArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "ListMatchingWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workflowName",
                                "workflowArn",
                                "createdAt",
                                "updatedAt",
                                "resolutionType"
                            ],
                            "members": {
                                "workflowName": {},
                                "workflowArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "resolutionType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "ListProviderServices": {
            "http": {
                "method": "GET",
                "requestUri": "/providerservices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "providerName": {
                        "location": "querystring",
                        "locationName": "providerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "providerServiceSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "providerServiceArn",
                                "providerName",
                                "providerServiceDisplayName",
                                "providerServiceName",
                                "providerServiceType"
                            ],
                            "members": {
                                "providerServiceArn": {},
                                "providerName": {},
                                "providerServiceDisplayName": {},
                                "providerServiceName": {},
                                "providerServiceType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "ListSchemaMappings": {
            "http": {
                "method": "GET",
                "requestUri": "/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schemaList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "schemaName",
                                "schemaArn",
                                "createdAt",
                                "updatedAt",
                                "hasWorkflows"
                            ],
                            "members": {
                                "schemaName": {},
                                "schemaArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "hasWorkflows": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "UpdateIdMappingWorkflow": {
            "http": {
                "method": "PUT",
                "requestUri": "/idmappingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "idMappingTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S7"
                    },
                    "idMappingTechniques": {
                        "shape": "Sb"
                    },
                    "roleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "UpdateMatchingWorkflow": {
            "http": {
                "method": "PUT",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "So"
                    },
                    "outputSourceConfig": {
                        "shape": "Ss"
                    },
                    "resolutionTechniques": {
                        "shape": "Sx"
                    },
                    "incrementalRunConfig": {
                        "shape": "S15"
                    },
                    "roleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "UpdateSchemaMapping": {
            "http": {
                "method": "PUT",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "S1b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "UseWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/useworkflow/{workflowName}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTR7FNXIDPAY3JTEBDQGI275JXI5NNNH5F2KT3QXTUITJI3VTUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWH3LC73TAACQP7ATCHFQ6TIYFRKY4ZMEBDYFD2U63XJXKH4ANQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNE57A57QDAMPQQLWUWLEK5RXZANXTF22BAGMCZ3FAGQ3LOGR3KQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "AddPolicyStatement": {
            "http": {
                "requestUri": "/policies/{arn}/{statementId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "statementId",
                    "effect",
                    "action",
                    "principal"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "statementId": {
                        "location": "uri",
                        "locationName": "statementId"
                    },
                    "effect": {},
                    "action": {
                        "type": "list",
                        "member": {}
                    },
                    "principal": {
                        "type": "list",
                        "member": {}
                    },
                    "condition": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "token"
                ],
                "members": {
                    "arn": {},
                    "token": {},
                    "policy": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "CreateIdNamespace": {
            "http": {
                "requestUri": "/idnamespaces",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "idNamespaceName",
                    "type"
                ],
                "members": {
                    "idNamespaceName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S11"
                    },
                    "idMappingWorkflowProperties": {
                        "shape": "S14"
                    },
                    "type": {},
                    "roleArn": {},
                    "tags": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idNamespaceName",
                    "idNamespaceArn",
                    "type",
                    "createdAt",
                    "updatedAt"
                ],
                "members": {
                    "idNamespaceName": {},
                    "idNamespaceArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S11"
                    },
                    "idMappingWorkflowProperties": {
                        "shape": "S14"
                    },
                    "type": {},
                    "roleArn": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BD27UDSKEVP3DXFEIBZUTAD5REUILZGYEORGLJGETBVMIXT7V36A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U5KKX4CMKK5VNN6VA3RA6VRCGTTAKOSW4I4CCRCUXNVNLX4A2BQQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2QPRERTHN3V4RXWKQKT2V2BJQOARMJKMEPJO33F6YFOCXX2SL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NJJTELG5TSYM6B63MPYMPTAEG3TLC6WILZYP46KQKMVPIM5UDALA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKHDGJ25LAZCHWEM5PYKX7R5M5BYHJSDGBYKTAIIE2ITCSU72YIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CYJS7ZF7MG6K6SQASZ3JTH6K4YXUCJWRWRO6LQJQ5SJ5QL34JZUA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NBUW3AOYLF2V5ZVM7BUQQ52XFUZZQD6KNINBITIEDVNMVBLYTL6Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAGLEI6JJFVKU6PJZMAIM67AXNFQBNVXHAX56NS3D4KRLG47QFXQ/main.js"
            ]
        },
        "DeleteIdNamespace": {
            "http": {
                "method": "DELETE",
                "requestUri": "/idnamespaces/{idNamespaceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "idNamespaceName"
                ],
                "members": {
                    "idNamespaceName": {
                        "location": "uri",
                        "locationName": "idNamespaceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q6JIMOPHQIY6NOIVXAAACTPFRRW3QJHBNONDRGXFS2JGHZWK3IWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJUCDWMLYXHZZDRYAM6DJ5ROGR4HR5QDPW4WVG73P7YIBJPLIPIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQGXPUTH6GA7LQBO26G2KUTPQLYIIFSR4KETETSKRHESL2GX72SQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KVK3ZLB374XB3KMSQCBRETUS64JTAKOPUEMQX7E7N3CXVXPL7PRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q4H5MPK7SJAVLEFWWLNTULQEXQ5XMALQFOB3HGRKPS5EM565XN4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CPIZAEIBWDQ4TBYWYXYWTO2IJTHPDERQET3WHLU4QMCPO74RZWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RFHPVQZGL35SBIJEQSGT2T2AAPLVF7ROFA3I2Z32C3326ZH5JVWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RCGLR7FILGYM7KTE4DAYZBYY5XANRJLOXVYASNITJO6XMPEALC7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKXEALGJTUIOFMX32KWQBJQZK5I4S5TIHPVU5LCLGFG2WKBHVOTQ/main.js",
[...]
