{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-12-01",
        "endpointPrefix": "verifiedpermissions",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Amazon Verified Permissions",
        "serviceId": "VerifiedPermissions",
        "signatureVersion": "v4",
        "signingName": "verifiedpermissions",
        "targetPrefix": "VerifiedPermissions",
        "uid": "verifiedpermissions-2021-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQE4EF3NG73HW7NKKHHVECRWSJ2BBBEWKVKVI7GC32F6Y7ET2XEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
        ]
    },
    "operations": {
        "CreateIdentitySource": {
            "input": {
                "type": "structure",
                "required": [
                    "configuration",
                    "policyStoreId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "configuration": {
                        "type": "structure",
                        "members": {
                            "cognitoUserPoolConfiguration": {
                                "type": "structure",
                                "required": [
                                    "userPoolArn"
                                ],
                                "members": {
                                    "clientIds": {
                                        "shape": "S5"
                                    },
                                    "userPoolArn": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "policyStoreId": {},
                    "principalEntityType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdDate",
                    "identitySourceId",
                    "lastUpdatedDate",
                    "policyStoreId"
                ],
                "members": {
                    "createdDate": {
                        "shape": "Sb"
                    },
                    "identitySourceId": {},
                    "lastUpdatedDate": {
                        "shape": "Sb"
                    },
                    "policyStoreId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "definition",
                    "policyStoreId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "definition": {
                        "type": "structure",
                        "members": {
                            "static": {
                                "type": "structure",
                                "required": [
                                    "statement"
                                ],
                                "members": {
                                    "description": {},
                                    "statement": {}
                                }
                            },
                            "templateLinked": {
                                "type": "structure",
                                "required": [
                                    "policyTemplateId"
                                ],
                                "members": {
                                    "policyTemplateId": {},
                                    "principal": {
                                        "shape": "Sk"
                                    },
                                    "resource": {
                                        "shape": "Sk"
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdDate",
                    "lastUpdatedDate",
                    "policyId",
                    "policyStoreId",
                    "policyType"
                ],
                "members": {
                    "createdDate": {
                        "shape": "Sb"
                    },
                    "lastUpdatedDate": {
                        "shape": "Sb"
                    },
                    "policyId": {},
                    "policyStoreId": {},
                    "policyType": {},
                    "principal": {
                        "shape": "Sk"
                    },
                    "resource": {
                        "shape": "Sk"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "CreatePolicyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "validationSettings"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "validationSettings": {
                        "shape": "Sr"
                    },
                    "description": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "createdDate",
                    "lastUpdatedDate",
                    "policyStoreId"
                ],
                "members": {
                    "arn": {},
                    "createdDate": {
                        "shape": "Sb"
                    },
                    "lastUpdatedDate": {
                        "shape": "Sb"
                    },
                    "policyStoreId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "CreatePolicyTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "policyStoreId",
                    "statement"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "policyStoreId": {},
                    "statement": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdDate",
                    "lastUpdatedDate",
                    "policyStoreId",
                    "policyTemplateId"
                ],
                "members": {
                    "createdDate": {
                        "shape": "Sb"
                    },
                    "lastUpdatedDate": {
                        "shape": "Sb"
                    },
                    "policyStoreId": {},
                    "policyTemplateId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "DeleteIdentitySource": {
            "input": {
                "type": "structure",
                "required": [
                    "identitySourceId",
                    "policyStoreId"
                ],
                "members": {
                    "identitySourceId": {},
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "policyId",
                    "policyStoreId"
                ],
                "members": {
                    "policyId": {},
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "DeletePolicyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "policyStoreId"
                ],
                "members": {
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "DeletePolicyTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "policyStoreId",
                    "policyTemplateId"
                ],
                "members": {
                    "policyStoreId": {},
                    "policyTemplateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "GetIdentitySource": {
            "input": {
                "type": "structure",
                "required": [
                    "identitySourceId",
                    "policyStoreId"
                ],
                "members": {
                    "identitySourceId": {},
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdDate",
                    "details",
                    "identitySourceId",
                    "lastUpdatedDate",
                    "policyStoreId",
                    "principalEntityType"
                ],
                "members": {
                    "createdDate": {
                        "shape": "Sb"
                    },
                    "details": {
                        "type": "structure",
                        "members": {
                            "clientIds": {
                                "shape": "S5"
                            },
                            "discoveryUrl": {},
                            "openIdIssuer": {},
                            "userPoolArn": {}
                        }
                    },
                    "identitySourceId": {},
                    "lastUpdatedDate": {
                        "shape": "Sb"
                    },
                    "policyStoreId": {},
                    "principalEntityType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "GetPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "policyId",
                    "policyStoreId"
                ],
                "members": {
                    "policyId": {},
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdDate",
                    "definition",
                    "lastUpdatedDate",
                    "policyId",
                    "policyStoreId",
                    "policyType"
                ],
                "members": {
                    "createdDate": {
                        "shape": "Sb"
                    },
                    "definition": {
                        "type": "structure",
                        "members": {
                            "static": {
                                "type": "structure",
                                "required": [
                                    "statement"
                                ],
                                "members": {
                                    "description": {},
                                    "statement": {}
                                }
                            },
                            "templateLinked": {
                                "type": "structure",
                                "required": [
                                    "policyTemplateId"
                                ],
                                "members": {
                                    "policyTemplateId": {},
                                    "principal": {
                                        "shape": "Sk"
                                    },
                                    "resource": {
                                        "shape": "Sk"
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "lastUpdatedDate": {
                        "shape": "Sb"
                    },
                    "policyId": {},
                    "policyStoreId": {},
                    "policyType": {},
                    "principal": {
                        "shape": "Sk"
                    },
                    "resource": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "GetPolicyStore": {
            "input": {
                "type": "structure",
                "required": [
                    "policyStoreId"
                ],
                "members": {
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "createdDate",
                    "lastUpdatedDate",
                    "policyStoreId",
                    "validationSettings"
                ],
                "members": {
                    "arn": {},
                    "createdDate": {
                        "shape": "Sb"
                    },
                    "lastUpdatedDate": {
                        "shape": "Sb"
                    },
                    "policyStoreId": {},
                    "validationSettings": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "GetPolicyTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "policyStoreId",
                    "policyTemplateId"
                ],
                "members": {
                    "policyStoreId": {},
                    "policyTemplateId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdDate",
                    "lastUpdatedDate",
                    "policyStoreId",
                    "policyTemplateId",
                    "statement"
                ],
                "members": {
                    "createdDate": {
                        "shape": "Sb"
                    },
                    "description": {},
                    "lastUpdatedDate": {
                        "shape": "Sb"
                    },
                    "policyStoreId": {},
                    "policyTemplateId": {},
                    "statement": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "GetSchema": {
            "input": {
                "type": "structure",
                "required": [
                    "policyStoreId"
                ],
                "members": {
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdDate",
                    "lastUpdatedDate",
                    "policyStoreId",
                    "schema"
                ],
                "members": {
                    "createdDate": {
                        "shape": "Sb"
                    },
                    "lastUpdatedDate": {
                        "shape": "Sb"
                    },
                    "policyStoreId": {},
                    "schema": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "IsAuthorized": {
            "input": {
                "type": "structure",
                "required": [
                    "policyStoreId"
                ],
                "members": {
                    "action": {
                        "shape": "S1o"
                    },
                    "context": {
                        "shape": "S1r"
                    },
                    "entities": {
                        "shape": "S20"
                    },
                    "policyStoreId": {},
                    "principal": {
                        "shape": "Sk"
                    },
                    "resource": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "decision",
                    "determiningPolicies",
                    "errors"
                ],
                "members": {
                    "decision": {},
                    "determiningPolicies": {
                        "shape": "S27"
                    },
                    "errors": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "IsAuthorizedWithToken": {
            "input": {
                "type": "structure",
                "required": [
                    "policyStoreId"
                ],
                "members": {
                    "accessToken": {},
                    "action": {
                        "shape": "S1o"
                    },
                    "context": {
                        "shape": "S1r"
                    },
                    "entities": {
                        "shape": "S20"
                    },
                    "identityToken": {},
                    "policyStoreId": {},
                    "resource": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "decision",
                    "determiningPolicies",
                    "errors"
                ],
                "members": {
                    "decision": {},
                    "determiningPolicies": {
                        "shape": "S27"
                    },
                    "errors": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "ListIdentitySources": {
            "input": {
                "type": "structure",
                "required": [
                    "policyStoreId"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "principalEntityType": {}
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "identitySources"
                ],
                "members": {
                    "identitySources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdDate",
                                "details",
                                "identitySourceId",
                                "lastUpdatedDate",
                                "policyStoreId",
                                "principalEntityType"
                            ],
                            "members": {
                                "createdDate": {
                                    "shape": "Sb"
                                },
                                "details": {
                                    "type": "structure",
                                    "members": {
                                        "clientIds": {
                                            "shape": "S5"
                                        },
                                        "discoveryUrl": {},
                                        "openIdIssuer": {},
                                        "userPoolArn": {}
                                    }
                                },
                                "identitySourceId": {},
                                "lastUpdatedDate": {
                                    "shape": "Sb"
                                },
                                "policyStoreId": {},
                                "principalEntityType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "ListPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "policyStoreId"
                ],
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "policyTemplateId": {},
                            "policyType": {},
                            "principal": {
                                "shape": "S2p"
                            },
                            "resource": {
                                "shape": "S2p"
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policies"
                ],
                "members": {
                    "nextToken": {},
                    "policies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdDate",
                                "definition",
                                "lastUpdatedDate",
                                "policyId",
                                "policyStoreId",
                                "policyType"
                            ],
                            "members": {
                                "createdDate": {
                                    "shape": "Sb"
                                },
                                "definition": {
                                    "type": "structure",
                                    "members": {
                                        "static": {
                                            "type": "structure",
                                            "members": {
                                                "description": {}
                                            }
                                        },
                                        "templateLinked": {
                                            "type": "structure",
                                            "required": [
                                                "policyTemplateId"
                                            ],
                                            "members": {
                                                "policyTemplateId": {},
                                                "principal": {
                                                    "shape": "Sk"
                                                },
                                                "resource": {
                                                    "shape": "Sk"
                                                }
                                            }
                                        }
                                    },
                                    "union": true
                                },
                                "lastUpdatedDate": {
                                    "shape": "Sb"
                                },
                                "policyId": {},
                                "policyStoreId": {},
                                "policyType": {},
                                "principal": {
                                    "shape": "Sk"
                                },
                                "resource": {
                                    "shape": "Sk"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "ListPolicyStores": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policyStores"
                ],
                "members": {
                    "nextToken": {},
                    "policyStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "createdDate",
                                "policyStoreId"
                            ],
                            "members": {
                                "arn": {},
                                "createdDate": {
                                    "shape": "Sb"
                                },
                                "policyStoreId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "ListPolicyTemplates": {
            "input": {
                "type": "structure",
                "required": [
                    "policyStoreId"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policyTemplates"
                ],
                "members": {
                    "nextToken": {},
                    "policyTemplates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createdDate",
                                "lastUpdatedDate",
                                "policyStoreId",
                                "policyTemplateId"
                            ],
                            "members": {
                                "createdDate": {
                                    "shape": "Sb"
                                },
                                "description": {},
                                "lastUpdatedDate": {
                                    "shape": "Sb"
                                },
                                "policyStoreId": {},
                                "policyTemplateId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "PutSchema": {
            "input": {
                "type": "structure",
                "required": [
                    "definition",
                    "policyStoreId"
                ],
                "members": {
                    "definition": {
                        "type": "structure",
                        "members": {
                            "cedarJson": {}
                        },
                        "union": true
                    },
                    "policyStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdDate",
                    "lastUpdatedDate",
                    "namespaces",
                    "policyStoreId"
                ],
                "members": {
                    "createdDate": {
                        "shape": "Sb"
                    },
                    "lastUpdatedDate": {
                        "shape": "Sb"
                    },
                    "namespaces": {
                        "type": "list",
                        "member": {}
                    },
                    "policyStoreId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js"
            ]
        },
        "UpdateIdentitySource": {
            "input": {
                "type": "structure",
                "required": [
                    "identitySourceId",
                    "policyStoreId",
                    "updateConfiguration"
                ],
                "members": {
                    "identitySourceId": {},
                    "policyStoreId": {},
                    "principalEntityType": {},
                    "updateConfiguration": {
                        "type": "structure",
                        "members": {
                            "cognitoUserPoolConfiguration": {
                                "type": "structure",
                                "required": [
                                    "userPoolArn"
                                ],
                                "members": {
                                    "clientIds": {
                                        "shape": "S5"
                                    },
                                    "userPoolArn": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createdDate",
                    "identitySourceId",
                    "lastUpdatedDate",
                    "policyStoreId"
                ],
                "members": {
                    "createdDate": {
                        "shape": "Sb"
                    },
                    "identitySourceId": {},
                    "lastUpdatedDate": {
                        "shape": "Sb"
                    },
                    "policyStoreId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4MTGFTYHQZ257HDK5XQKRJZZS7YY6TRRPPIWWP7ZKW4CKIVH6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NUBYBZU4ZJLKDH7Q7KAIH3L3DZ7BXNKFSMADBD6QAJDRDYQUVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LFSXUWGSXJUSEKKUB2YAGLLJNJXRSUMRND2LF7XZMHJ3UU7AYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOKXTYEN2QKNDXNRHHOYPKP7GXDYNL5IMQH3HESKEPIIMILUBHEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G2SLTFQOYTFETLT3S6JQOEWZFE2FCCUFAZAH2WCJZVECLGGGEIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44GVJIIQ57UJT5UB72DLPSGKHAWOLOGGA3GW3GH5IA6BQ3PPDC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3YSUKTRNHQN6TZ4XXG3NZHIPLA2JVKCWKOHQRX6FQZ2VDTWXCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Q2WI5WKBHFZSFCTDSIXAKFNKBZVUN3QWM6HM2J4KD67QB33PP2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBUC3IHCSNOX4BHLROJILZN7NY3GZRVDQM4SCC7MZEU6CYHRP64Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TAGQBDOIHWWPPHWJ7TANUPL6QAES7F4DXFGHBIHD3RWSSPK5CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSTVCW6FJJTAQPUEOSJ23ZJ3Y5QCZYGQKITL2OUZJXY42HGF75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UIZXFNQWHH3C2BJCS5WJHXYJP6Z3KIBETM7X5C24PY2OUH736KQ/vendors.js",
[...]
