{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-06-01",
        "endpointPrefix": "VMCOnboardingService",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "VMCOnboardingService",
        "serviceFullName": "VMC Onboarding Service",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "VMCOnboardingService-2020-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NWREY7VW6HWA5EX5G623VE5CCHWFPXOZMRXBTFYFI6RLK5KGQTZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPYWQL3HTEZEHLKJ36LLR2S5C5E6WQFT2MKUZBJQY4P2PFOF2CFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4RJXAVZTYGZDFZKMQOTERLG2UVSMAI6HSJLWKYY5BU4N3KSQNQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z33ZTU5VLHCUGZMU3BU4PX74JYLWEIYDIYNJ363AEQU7XFHKLVOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6M2IHVN3R3HV5OFUTKNVCK3MM673AKIRN6RI6PKNCD6NDU7ZHTPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BHVO2STHDYLBMLE2EVFUKCHYLCXRG3ACZQ2ELMD2DURKRAWUJYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQU7KDQQH7FPNN3INXQYDTWXI6ROQTOARX62JJDTRD2352EHD2YA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXNKHEHJZM2WS2KPBHCZPHJNFVQFGGKUZ7T7JEIRCEAUA7NPQMZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6E6TJVGEX35MAZTXAREIYRVLQKHLUSBMIGDMXB6PKDUEAXXR5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCPUDSHJ5WJ7YOP63DOYX23REZ7YR7GGX3I6N7KUQPC4SGKKZKRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7V6GGTO7D4D7ET3LA5VBFY2R462LXQWTPLLKP6ONVG7FXMP3FNKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5CM5O7CCDDCUWGV6DSDAIEOGZG3J6XCLJCWJQGQ23SDV6QIK2UQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCEAPGKBXBAQEKZWG5M55IWBBXSDTBCGPBZGFY7DODNXFPACC44A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFO6TJZOLYQO5WO2PQR7PRUFHGJ445W2MPDJNWSKTL5NXYA6SYWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VECH6OYKX3RQ2JHRSATDLIVQFDXONMZIJSX6ODUMWDJMWGYHB3CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XY2NGCXFLLTCGXKDCBC77VB2AUKFDNKZOHK3WLMCE2XOFI7FV5LA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWIQVAWJ54EPRZLLLKNTXGMJ2XYUVEWKC45HVLLHLHHQPEMLEBQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIDYBZUBBIRPLJT5YI75BDGEPUHTU2Q6NJT5S4PJSPTED37ETEFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSQICYZIO5J44SUMJ7PNYNFOFNVWVD3ZHKZJ3PH77PKMKXC6LDFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BHSRLZYA5E2EJVMTH5WVD5ZTDVMETTVTBEO45FHQW5A7ERW4AEOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YZZRYPUF7OZXXWCTIXWVOMO6BOCX5Q2JMJXYLXEOKCEJZV7I5SQ/main.js"
        ]
    },
    "operations": {
        "CreateOnboardingTask": {
            "http": {
                "requestUri": "/tasks"
            },
            "input": {
                "type": "structure",
                "members": {
                    "customerAccountId": {},
                    "customerName": {},
                    "customerAddress": {
                        "shape": "S3"
                    },
                    "shippingAddress": {
                        "shape": "S3"
                    },
                    "onDemandOrder": {
                        "type": "boolean"
                    },
                    "govcloudOrder": {
                        "type": "boolean"
                    },
                    "onboardingDate": {},
                    "partnerInfo": {
                        "shape": "S6"
                    },
                    "customerContactInfo": {
                        "shape": "S7"
                    },
                    "committedSpend": {
                        "shape": "S8"
                    },
                    "standardDeal": {
                        "type": "boolean"
                    },
                    "standardDealDetails": {},
                    "deploymentDetails": {},
                    "publicDeploymentDetails": {
                        "shape": "Sa"
                    },
                    "authorizedBy": {
                        "shape": "Sc"
                    },
                    "welcomeEmailContacts": {
                        "shape": "Sd"
                    },
                    "opportunityId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "onboardingTaskInfo": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPYWQL3HTEZEHLKJ36LLR2S5C5E6WQFT2MKUZBJQY4P2PFOF2CFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4RJXAVZTYGZDFZKMQOTERLG2UVSMAI6HSJLWKYY5BU4N3KSQNQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z33ZTU5VLHCUGZMU3BU4PX74JYLWEIYDIYNJ363AEQU7XFHKLVOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M2IHVN3R3HV5OFUTKNVCK3MM673AKIRN6RI6PKNCD6NDU7ZHTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BHVO2STHDYLBMLE2EVFUKCHYLCXRG3ACZQ2ELMD2DURKRAWUJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQU7KDQQH7FPNN3INXQYDTWXI6ROQTOARX62JJDTRD2352EHD2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXNKHEHJZM2WS2KPBHCZPHJNFVQFGGKUZ7T7JEIRCEAUA7NPQMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6E6TJVGEX35MAZTXAREIYRVLQKHLUSBMIGDMXB6PKDUEAXXR5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCPUDSHJ5WJ7YOP63DOYX23REZ7YR7GGX3I6N7KUQPC4SGKKZKRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V6GGTO7D4D7ET3LA5VBFY2R462LXQWTPLLKP6ONVG7FXMP3FNKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5CM5O7CCDDCUWGV6DSDAIEOGZG3J6XCLJCWJQGQ23SDV6QIK2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCEAPGKBXBAQEKZWG5M55IWBBXSDTBCGPBZGFY7DODNXFPACC44A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFO6TJZOLYQO5WO2PQR7PRUFHGJ445W2MPDJNWSKTL5NXYA6SYWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VECH6OYKX3RQ2JHRSATDLIVQFDXONMZIJSX6ODUMWDJMWGYHB3CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XY2NGCXFLLTCGXKDCBC77VB2AUKFDNKZOHK3WLMCE2XOFI7FV5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWIQVAWJ54EPRZLLLKNTXGMJ2XYUVEWKC45HVLLHLHHQPEMLEBQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIDYBZUBBIRPLJT5YI75BDGEPUHTU2Q6NJT5S4PJSPTED37ETEFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQICYZIO5J44SUMJ7PNYNFOFNVWVD3ZHKZJ3PH77PKMKXC6LDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHSRLZYA5E2EJVMTH5WVD5ZTDVMETTVTBEO45FHQW5A7ERW4AEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YZZRYPUF7OZXXWCTIXWVOMO6BOCX5Q2JMJXYLXEOKCEJZV7I5SQ/main.js"
            ]
        },
        "DeleteOnboardingTask": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tasks/{onboardingTaskId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "onboardingTaskId"
                ],
                "members": {
                    "onboardingTaskId": {
                        "location": "uri",
                        "locationName": "onboardingTaskId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPYWQL3HTEZEHLKJ36LLR2S5C5E6WQFT2MKUZBJQY4P2PFOF2CFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4RJXAVZTYGZDFZKMQOTERLG2UVSMAI6HSJLWKYY5BU4N3KSQNQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z33ZTU5VLHCUGZMU3BU4PX74JYLWEIYDIYNJ363AEQU7XFHKLVOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M2IHVN3R3HV5OFUTKNVCK3MM673AKIRN6RI6PKNCD6NDU7ZHTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BHVO2STHDYLBMLE2EVFUKCHYLCXRG3ACZQ2ELMD2DURKRAWUJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQU7KDQQH7FPNN3INXQYDTWXI6ROQTOARX62JJDTRD2352EHD2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXNKHEHJZM2WS2KPBHCZPHJNFVQFGGKUZ7T7JEIRCEAUA7NPQMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6E6TJVGEX35MAZTXAREIYRVLQKHLUSBMIGDMXB6PKDUEAXXR5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCPUDSHJ5WJ7YOP63DOYX23REZ7YR7GGX3I6N7KUQPC4SGKKZKRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V6GGTO7D4D7ET3LA5VBFY2R462LXQWTPLLKP6ONVG7FXMP3FNKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5CM5O7CCDDCUWGV6DSDAIEOGZG3J6XCLJCWJQGQ23SDV6QIK2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCEAPGKBXBAQEKZWG5M55IWBBXSDTBCGPBZGFY7DODNXFPACC44A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFO6TJZOLYQO5WO2PQR7PRUFHGJ445W2MPDJNWSKTL5NXYA6SYWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VECH6OYKX3RQ2JHRSATDLIVQFDXONMZIJSX6ODUMWDJMWGYHB3CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XY2NGCXFLLTCGXKDCBC77VB2AUKFDNKZOHK3WLMCE2XOFI7FV5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWIQVAWJ54EPRZLLLKNTXGMJ2XYUVEWKC45HVLLHLHHQPEMLEBQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIDYBZUBBIRPLJT5YI75BDGEPUHTU2Q6NJT5S4PJSPTED37ETEFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQICYZIO5J44SUMJ7PNYNFOFNVWVD3ZHKZJ3PH77PKMKXC6LDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHSRLZYA5E2EJVMTH5WVD5ZTDVMETTVTBEO45FHQW5A7ERW4AEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YZZRYPUF7OZXXWCTIXWVOMO6BOCX5Q2JMJXYLXEOKCEJZV7I5SQ/main.js"
            ]
        },
        "GetOnboardingTask": {
            "http": {
                "method": "GET",
                "requestUri": "/tasks/{onboardingTaskId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "onboardingTaskId"
                ],
                "members": {
                    "onboardingTaskId": {
                        "location": "uri",
                        "locationName": "onboardingTaskId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "onboardingTaskInfo": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPYWQL3HTEZEHLKJ36LLR2S5C5E6WQFT2MKUZBJQY4P2PFOF2CFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4RJXAVZTYGZDFZKMQOTERLG2UVSMAI6HSJLWKYY5BU4N3KSQNQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z33ZTU5VLHCUGZMU3BU4PX74JYLWEIYDIYNJ363AEQU7XFHKLVOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M2IHVN3R3HV5OFUTKNVCK3MM673AKIRN6RI6PKNCD6NDU7ZHTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BHVO2STHDYLBMLE2EVFUKCHYLCXRG3ACZQ2ELMD2DURKRAWUJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQU7KDQQH7FPNN3INXQYDTWXI6ROQTOARX62JJDTRD2352EHD2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXNKHEHJZM2WS2KPBHCZPHJNFVQFGGKUZ7T7JEIRCEAUA7NPQMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6E6TJVGEX35MAZTXAREIYRVLQKHLUSBMIGDMXB6PKDUEAXXR5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCPUDSHJ5WJ7YOP63DOYX23REZ7YR7GGX3I6N7KUQPC4SGKKZKRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V6GGTO7D4D7ET3LA5VBFY2R462LXQWTPLLKP6ONVG7FXMP3FNKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5CM5O7CCDDCUWGV6DSDAIEOGZG3J6XCLJCWJQGQ23SDV6QIK2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCEAPGKBXBAQEKZWG5M55IWBBXSDTBCGPBZGFY7DODNXFPACC44A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFO6TJZOLYQO5WO2PQR7PRUFHGJ445W2MPDJNWSKTL5NXYA6SYWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VECH6OYKX3RQ2JHRSATDLIVQFDXONMZIJSX6ODUMWDJMWGYHB3CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XY2NGCXFLLTCGXKDCBC77VB2AUKFDNKZOHK3WLMCE2XOFI7FV5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWIQVAWJ54EPRZLLLKNTXGMJ2XYUVEWKC45HVLLHLHHQPEMLEBQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIDYBZUBBIRPLJT5YI75BDGEPUHTU2Q6NJT5S4PJSPTED37ETEFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQICYZIO5J44SUMJ7PNYNFOFNVWVD3ZHKZJ3PH77PKMKXC6LDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHSRLZYA5E2EJVMTH5WVD5ZTDVMETTVTBEO45FHQW5A7ERW4AEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YZZRYPUF7OZXXWCTIXWVOMO6BOCX5Q2JMJXYLXEOKCEJZV7I5SQ/main.js"
            ]
        },
        "ListOnboardingTasks": {
            "http": {
                "method": "GET",
                "requestUri": "/tasks"
            },
            "input": {
                "type": "structure",
                "members": {
                    "customerAccountId": {
                        "location": "querystring",
                        "locationName": "customerAccountId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "onboardingTaskInfos": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPYWQL3HTEZEHLKJ36LLR2S5C5E6WQFT2MKUZBJQY4P2PFOF2CFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4RJXAVZTYGZDFZKMQOTERLG2UVSMAI6HSJLWKYY5BU4N3KSQNQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z33ZTU5VLHCUGZMU3BU4PX74JYLWEIYDIYNJ363AEQU7XFHKLVOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M2IHVN3R3HV5OFUTKNVCK3MM673AKIRN6RI6PKNCD6NDU7ZHTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BHVO2STHDYLBMLE2EVFUKCHYLCXRG3ACZQ2ELMD2DURKRAWUJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQU7KDQQH7FPNN3INXQYDTWXI6ROQTOARX62JJDTRD2352EHD2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXNKHEHJZM2WS2KPBHCZPHJNFVQFGGKUZ7T7JEIRCEAUA7NPQMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6E6TJVGEX35MAZTXAREIYRVLQKHLUSBMIGDMXB6PKDUEAXXR5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCPUDSHJ5WJ7YOP63DOYX23REZ7YR7GGX3I6N7KUQPC4SGKKZKRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V6GGTO7D4D7ET3LA5VBFY2R462LXQWTPLLKP6ONVG7FXMP3FNKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5CM5O7CCDDCUWGV6DSDAIEOGZG3J6XCLJCWJQGQ23SDV6QIK2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCEAPGKBXBAQEKZWG5M55IWBBXSDTBCGPBZGFY7DODNXFPACC44A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFO6TJZOLYQO5WO2PQR7PRUFHGJ445W2MPDJNWSKTL5NXYA6SYWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VECH6OYKX3RQ2JHRSATDLIVQFDXONMZIJSX6ODUMWDJMWGYHB3CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XY2NGCXFLLTCGXKDCBC77VB2AUKFDNKZOHK3WLMCE2XOFI7FV5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWIQVAWJ54EPRZLLLKNTXGMJ2XYUVEWKC45HVLLHLHHQPEMLEBQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIDYBZUBBIRPLJT5YI75BDGEPUHTU2Q6NJT5S4PJSPTED37ETEFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQICYZIO5J44SUMJ7PNYNFOFNVWVD3ZHKZJ3PH77PKMKXC6LDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHSRLZYA5E2EJVMTH5WVD5ZTDVMETTVTBEO45FHQW5A7ERW4AEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YZZRYPUF7OZXXWCTIXWVOMO6BOCX5Q2JMJXYLXEOKCEJZV7I5SQ/main.js"
            ]
        },
        "StartOnboardingTask": {
            "http": {
                "requestUri": "/tasks/{onboardingTaskId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "onboardingTaskId"
                ],
                "members": {
                    "onboardingTaskId": {
                        "location": "uri",
                        "locationName": "onboardingTaskId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPYWQL3HTEZEHLKJ36LLR2S5C5E6WQFT2MKUZBJQY4P2PFOF2CFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4RJXAVZTYGZDFZKMQOTERLG2UVSMAI6HSJLWKYY5BU4N3KSQNQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z33ZTU5VLHCUGZMU3BU4PX74JYLWEIYDIYNJ363AEQU7XFHKLVOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M2IHVN3R3HV5OFUTKNVCK3MM673AKIRN6RI6PKNCD6NDU7ZHTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BHVO2STHDYLBMLE2EVFUKCHYLCXRG3ACZQ2ELMD2DURKRAWUJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQU7KDQQH7FPNN3INXQYDTWXI6ROQTOARX62JJDTRD2352EHD2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXNKHEHJZM2WS2KPBHCZPHJNFVQFGGKUZ7T7JEIRCEAUA7NPQMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6E6TJVGEX35MAZTXAREIYRVLQKHLUSBMIGDMXB6PKDUEAXXR5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCPUDSHJ5WJ7YOP63DOYX23REZ7YR7GGX3I6N7KUQPC4SGKKZKRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V6GGTO7D4D7ET3LA5VBFY2R462LXQWTPLLKP6ONVG7FXMP3FNKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5CM5O7CCDDCUWGV6DSDAIEOGZG3J6XCLJCWJQGQ23SDV6QIK2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCEAPGKBXBAQEKZWG5M55IWBBXSDTBCGPBZGFY7DODNXFPACC44A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFO6TJZOLYQO5WO2PQR7PRUFHGJ445W2MPDJNWSKTL5NXYA6SYWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VECH6OYKX3RQ2JHRSATDLIVQFDXONMZIJSX6ODUMWDJMWGYHB3CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XY2NGCXFLLTCGXKDCBC77VB2AUKFDNKZOHK3WLMCE2XOFI7FV5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWIQVAWJ54EPRZLLLKNTXGMJ2XYUVEWKC45HVLLHLHHQPEMLEBQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIDYBZUBBIRPLJT5YI75BDGEPUHTU2Q6NJT5S4PJSPTED37ETEFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQICYZIO5J44SUMJ7PNYNFOFNVWVD3ZHKZJ3PH77PKMKXC6LDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHSRLZYA5E2EJVMTH5WVD5ZTDVMETTVTBEO45FHQW5A7ERW4AEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YZZRYPUF7OZXXWCTIXWVOMO6BOCX5Q2JMJXYLXEOKCEJZV7I5SQ/main.js"
            ]
        },
        "UpdateOnboardingTask": {
            "http": {
                "method": "PUT",
                "requestUri": "/tasks/{onboardingTaskId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "onboardingTaskId"
                ],
                "members": {
                    "onboardingTaskId": {
                        "location": "uri",
                        "locationName": "onboardingTaskId"
                    },
                    "customerAccountId": {},
                    "customerName": {},
                    "customerAddress": {
                        "shape": "S3"
                    },
                    "shippingAddress": {
                        "shape": "S3"
                    },
                    "onDemandOrder": {
                        "type": "boolean"
                    },
                    "govcloudOrder": {
                        "type": "boolean"
                    },
                    "onboardingDate": {},
                    "partnerInfo": {
                        "shape": "S6"
                    },
                    "customerContactInfo": {
                        "shape": "S7"
                    },
                    "committedSpend": {
                        "shape": "S8"
                    },
                    "standardDeal": {
                        "type": "boolean"
                    },
                    "standardDealDetails": {},
                    "deploymentDetails": {},
                    "publicDeploymentDetails": {
                        "shape": "Sa"
                    },
                    "authorizedBy": {
                        "shape": "Sc"
                    },
                    "welcomeEmailContacts": {
                        "shape": "Sd"
                    },
                    "freeTrialOrder": {},
                    "freeTrialCampaignId": {},
                    "opportunityId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "onboardingTaskInfo": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPYWQL3HTEZEHLKJ36LLR2S5C5E6WQFT2MKUZBJQY4P2PFOF2CFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4RJXAVZTYGZDFZKMQOTERLG2UVSMAI6HSJLWKYY5BU4N3KSQNQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z33ZTU5VLHCUGZMU3BU4PX74JYLWEIYDIYNJ363AEQU7XFHKLVOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M2IHVN3R3HV5OFUTKNVCK3MM673AKIRN6RI6PKNCD6NDU7ZHTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BHVO2STHDYLBMLE2EVFUKCHYLCXRG3ACZQ2ELMD2DURKRAWUJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQU7KDQQH7FPNN3INXQYDTWXI6ROQTOARX62JJDTRD2352EHD2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXNKHEHJZM2WS2KPBHCZPHJNFVQFGGKUZ7T7JEIRCEAUA7NPQMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6E6TJVGEX35MAZTXAREIYRVLQKHLUSBMIGDMXB6PKDUEAXXR5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCPUDSHJ5WJ7YOP63DOYX23REZ7YR7GGX3I6N7KUQPC4SGKKZKRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V6GGTO7D4D7ET3LA5VBFY2R462LXQWTPLLKP6ONVG7FXMP3FNKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5CM5O7CCDDCUWGV6DSDAIEOGZG3J6XCLJCWJQGQ23SDV6QIK2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCEAPGKBXBAQEKZWG5M55IWBBXSDTBCGPBZGFY7DODNXFPACC44A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFO6TJZOLYQO5WO2PQR7PRUFHGJ445W2MPDJNWSKTL5NXYA6SYWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VECH6OYKX3RQ2JHRSATDLIVQFDXONMZIJSX6ODUMWDJMWGYHB3CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XY2NGCXFLLTCGXKDCBC77VB2AUKFDNKZOHK3WLMCE2XOFI7FV5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWIQVAWJ54EPRZLLLKNTXGMJ2XYUVEWKC45HVLLHLHHQPEMLEBQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIDYBZUBBIRPLJT5YI75BDGEPUHTU2Q6NJT5S4PJSPTED37ETEFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQICYZIO5J44SUMJ7PNYNFOFNVWVD3ZHKZJ3PH77PKMKXC6LDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHSRLZYA5E2EJVMTH5WVD5ZTDVMETTVTBEO45FHQW5A7ERW4AEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YZZRYPUF7OZXXWCTIXWVOMO6BOCX5Q2JMJXYLXEOKCEJZV7I5SQ/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "addressLine1": {},
                "addressLine2": {},
                "city": {},
                "state": {},
                "zipcode": {},
                "country": {}
            }
        },
        "S6": {
            "type": "structure",
            "members": {
                "name": {},
                "type": {},
                "address": {
                    "shape": "S3"
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "fundOwnerName": {},
                "fundOwnerEmail": {},
                "fundUserName": {},
                "fundUserEmail": {},
                "existingVmcInstance": {
                    "type": "boolean"
                },
                "orgId": {},
                "entitlementAgreementId": {}
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "ppaStartDate": {},
                "ppaEndDate": {},
                "msrp": {},
                "numHosts": {
                    "type": "integer"
                },
                "committed": {
                    "type": "boolean"
                }
            }
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "service": {},
                    "quantity": {},
                    "region": {},
                    "term": {},
                    "percentage": {}
                }
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "name": {},
                "email": {},
                "title": {}
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "email": {}
                }
            }
        },
        "Sg": {
            "type": "structure",
            "members": {
                "onboardingTaskId": {},
                "createTime": {
                    "type": "long"
                },
                "updateTime": {
                    "type": "long"
                },
                "customerAccountId": {},
                "customerName": {},
                "customerAddress": {
                    "shape": "S3"
                },
                "shippingAddress": {
                    "shape": "S3"
                },
                "onDemandOrder": {
                    "type": "boolean"
                },
                "govcloudOrder": {
                    "type": "boolean"
                },
                "partnerInfo": {
                    "shape": "S6"
                },
                "customerContactInfo": {
                    "shape": "S7"
                },
                "committedSpend": {
                    "shape": "S8"
                },
                "standardDeal": {
                    "type": "boolean"
                },
                "standardDealDetails": {},
                "deploymentDetails": {},
                "publicDeploymentDetails": {
                    "shape": "Sa"
                },
                "authorizedBy": {
                    "shape": "Sc"
                },
                "onboardingState": {},
                "onboardingStateContext": {},
                "onboardingUrl": {},
                "onboardingDate": {},
                "resellerOrderId": {},
                "welcomeEmailContacts": {
                    "shape": "Sd"
                },
                "freeTrialOrder": {},
                "freeTrialCampaignId": {}
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "onboardingTaskId": {},
                "createTime": {
                    "type": "long"
                },
                "updateTime": {
                    "type": "long"
                },
                "customerAccountId": {},
                "customerName": {},
                "customerAddress": {
                    "shape": "S3"
                },
                "shippingAddress": {
                    "shape": "S3"
                },
                "onDemandOrder": {
                    "type": "boolean"
                },
                "govcloudOrder": {
                    "type": "boolean"
                },
                "partnerInfo": {
                    "shape": "S6"
                },
                "customerContactInfo": {
                    "shape": "S7"
                },
                "committedSpend": {
                    "shape": "S8"
                },
                "standardDeal": {
                    "type": "boolean"
                },
                "standardDealDetails": {},
                "deploymentDetails": {},
                "publicDeploymentDetails": {
                    "shape": "Sa"
                },
                "authorizedBy": {
                    "shape": "Sc"
                },
                "onboardingState": {},
                "onboardingStateContext": {},
                "onboardingUrl": {},
                "onboardingDate": {},
                "resellerOrderId": {},
                "welcomeEmailContacts": {
                    "shape": "Sd"
                },
                "freeTrialOrder": {},
                "freeTrialCampaignId": {},
                "opportunityId": {}
            }
        }
    }
}