{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "vmcserviceonboarding",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "VMC Onboarding Public Service",
        "serviceId": "VmcServiceOnboarding",
        "signatureVersion": "v4",
        "signingName": "vmc-onboarding",
        "uid": "vmcserviceonboarding-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NWREY7VW6HWA5EX5G623VE5CCHWFPXOZMRXBTFYFI6RLK5KGQTZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPYWQL3HTEZEHLKJ36LLR2S5C5E6WQFT2MKUZBJQY4P2PFOF2CFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4RJXAVZTYGZDFZKMQOTERLG2UVSMAI6HSJLWKYY5BU4N3KSQNQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z33ZTU5VLHCUGZMU3BU4PX74JYLWEIYDIYNJ363AEQU7XFHKLVOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6M2IHVN3R3HV5OFUTKNVCK3MM673AKIRN6RI6PKNCD6NDU7ZHTPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BHVO2STHDYLBMLE2EVFUKCHYLCXRG3ACZQ2ELMD2DURKRAWUJYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQU7KDQQH7FPNN3INXQYDTWXI6ROQTOARX62JJDTRD2352EHD2YA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXNKHEHJZM2WS2KPBHCZPHJNFVQFGGKUZ7T7JEIRCEAUA7NPQMZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6E6TJVGEX35MAZTXAREIYRVLQKHLUSBMIGDMXB6PKDUEAXXR5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCPUDSHJ5WJ7YOP63DOYX23REZ7YR7GGX3I6N7KUQPC4SGKKZKRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7V6GGTO7D4D7ET3LA5VBFY2R462LXQWTPLLKP6ONVG7FXMP3FNKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5CM5O7CCDDCUWGV6DSDAIEOGZG3J6XCLJCWJQGQ23SDV6QIK2UQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCEAPGKBXBAQEKZWG5M55IWBBXSDTBCGPBZGFY7DODNXFPACC44A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFO6TJZOLYQO5WO2PQR7PRUFHGJ445W2MPDJNWSKTL5NXYA6SYWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VECH6OYKX3RQ2JHRSATDLIVQFDXONMZIJSX6ODUMWDJMWGYHB3CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XY2NGCXFLLTCGXKDCBC77VB2AUKFDNKZOHK3WLMCE2XOFI7FV5LA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWIQVAWJ54EPRZLLLKNTXGMJ2XYUVEWKC45HVLLHLHHQPEMLEBQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIDYBZUBBIRPLJT5YI75BDGEPUHTU2Q6NJT5S4PJSPTED37ETEFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSQICYZIO5J44SUMJ7PNYNFOFNVWVD3ZHKZJ3PH77PKMKXC6LDFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BHSRLZYA5E2EJVMTH5WVD5ZTDVMETTVTBEO45FHQW5A7ERW4AEOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YZZRYPUF7OZXXWCTIXWVOMO6BOCX5Q2JMJXYLXEOKCEJZV7I5SQ/main.js"
        ]
    },
    "operations": {
        "onboard": {
            "http": {
                "requestUri": "/onboard",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "authorizedBy": {
                        "type": "structure",
                        "members": {
                            "email": {},
                            "name": {},
                            "title": {}
                        }
                    },
                    "committedSpend": {
                        "type": "structure",
                        "members": {
                            "committed": {
                                "type": "boolean"
                            },
                            "msrp": {},
                            "numHosts": {
                                "type": "integer"
                            },
                            "ppaEndDate": {},
                            "ppaStartDate": {}
                        },
                        "sensitive": true
                    },
                    "customerAddress": {
                        "shape": "S7"
                    },
                    "customerContactInfo": {
                        "type": "structure",
                        "members": {
                            "entitlementAgreementId": {},
                            "existingVmcInstance": {
                                "type": "boolean"
                            },
                            "fundOwnerEmail": {},
                            "fundOwnerName": {},
                            "fundUserEmail": {},
                            "fundUserName": {},
                            "orgId": {}
                        },
                        "sensitive": true
                    },
                    "customerName": {},
                    "freeTrialOrder": {},
                    "govcloudOrder": {
                        "type": "boolean"
                    },
                    "onDemandOrder": {
                        "type": "boolean"
                    },
                    "onboardingDate": {},
                    "onboardingState": {},
                    "onboardingStateContext": {},
                    "onboardingUrl": {},
                    "partnerInfo": {
                        "type": "structure",
                        "members": {
                            "address": {
                                "shape": "S7"
                            },
                            "name": {},
                            "type": {}
                        },
                        "sensitive": true
                    },
                    "publicDeploymentDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "percentage": {},
                                "quantity": {},
                                "region": {},
                                "service": {},
                                "term": {}
                            }
                        }
                    },
                    "resellerOrderId": {},
                    "shippingAddress": {
                        "shape": "S7"
                    },
                    "standardDeal": {
                        "type": "boolean"
                    },
                    "standardDealDetails": {},
                    "welcomeEmailContacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {},
                                "name": {}
                            }
                        },
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPYWQL3HTEZEHLKJ36LLR2S5C5E6WQFT2MKUZBJQY4P2PFOF2CFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4RJXAVZTYGZDFZKMQOTERLG2UVSMAI6HSJLWKYY5BU4N3KSQNQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z33ZTU5VLHCUGZMU3BU4PX74JYLWEIYDIYNJ363AEQU7XFHKLVOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M2IHVN3R3HV5OFUTKNVCK3MM673AKIRN6RI6PKNCD6NDU7ZHTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BHVO2STHDYLBMLE2EVFUKCHYLCXRG3ACZQ2ELMD2DURKRAWUJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQU7KDQQH7FPNN3INXQYDTWXI6ROQTOARX62JJDTRD2352EHD2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXNKHEHJZM2WS2KPBHCZPHJNFVQFGGKUZ7T7JEIRCEAUA7NPQMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6E6TJVGEX35MAZTXAREIYRVLQKHLUSBMIGDMXB6PKDUEAXXR5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCPUDSHJ5WJ7YOP63DOYX23REZ7YR7GGX3I6N7KUQPC4SGKKZKRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V6GGTO7D4D7ET3LA5VBFY2R462LXQWTPLLKP6ONVG7FXMP3FNKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5CM5O7CCDDCUWGV6DSDAIEOGZG3J6XCLJCWJQGQ23SDV6QIK2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCEAPGKBXBAQEKZWG5M55IWBBXSDTBCGPBZGFY7DODNXFPACC44A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFO6TJZOLYQO5WO2PQR7PRUFHGJ445W2MPDJNWSKTL5NXYA6SYWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VECH6OYKX3RQ2JHRSATDLIVQFDXONMZIJSX6ODUMWDJMWGYHB3CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XY2NGCXFLLTCGXKDCBC77VB2AUKFDNKZOHK3WLMCE2XOFI7FV5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWIQVAWJ54EPRZLLLKNTXGMJ2XYUVEWKC45HVLLHLHHQPEMLEBQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIDYBZUBBIRPLJT5YI75BDGEPUHTU2Q6NJT5S4PJSPTED37ETEFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQICYZIO5J44SUMJ7PNYNFOFNVWVD3ZHKZJ3PH77PKMKXC6LDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHSRLZYA5E2EJVMTH5WVD5ZTDVMETTVTBEO45FHQW5A7ERW4AEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YZZRYPUF7OZXXWCTIXWVOMO6BOCX5Q2JMJXYLXEOKCEJZV7I5SQ/main.js"
            ]
        },
        "registerFreeTrial": {
            "http": {
                "requestUri": "/registerFreeTrial",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "freeTrialOrder": {},
                    "taskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaignId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPYWQL3HTEZEHLKJ36LLR2S5C5E6WQFT2MKUZBJQY4P2PFOF2CFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4RJXAVZTYGZDFZKMQOTERLG2UVSMAI6HSJLWKYY5BU4N3KSQNQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z33ZTU5VLHCUGZMU3BU4PX74JYLWEIYDIYNJ363AEQU7XFHKLVOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M2IHVN3R3HV5OFUTKNVCK3MM673AKIRN6RI6PKNCD6NDU7ZHTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BHVO2STHDYLBMLE2EVFUKCHYLCXRG3ACZQ2ELMD2DURKRAWUJYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQU7KDQQH7FPNN3INXQYDTWXI6ROQTOARX62JJDTRD2352EHD2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXNKHEHJZM2WS2KPBHCZPHJNFVQFGGKUZ7T7JEIRCEAUA7NPQMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6E6TJVGEX35MAZTXAREIYRVLQKHLUSBMIGDMXB6PKDUEAXXR5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCPUDSHJ5WJ7YOP63DOYX23REZ7YR7GGX3I6N7KUQPC4SGKKZKRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V6GGTO7D4D7ET3LA5VBFY2R462LXQWTPLLKP6ONVG7FXMP3FNKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5CM5O7CCDDCUWGV6DSDAIEOGZG3J6XCLJCWJQGQ23SDV6QIK2UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCEAPGKBXBAQEKZWG5M55IWBBXSDTBCGPBZGFY7DODNXFPACC44A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFO6TJZOLYQO5WO2PQR7PRUFHGJ445W2MPDJNWSKTL5NXYA6SYWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VECH6OYKX3RQ2JHRSATDLIVQFDXONMZIJSX6ODUMWDJMWGYHB3CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XY2NGCXFLLTCGXKDCBC77VB2AUKFDNKZOHK3WLMCE2XOFI7FV5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWIQVAWJ54EPRZLLLKNTXGMJ2XYUVEWKC45HVLLHLHHQPEMLEBQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIDYBZUBBIRPLJT5YI75BDGEPUHTU2Q6NJT5S4PJSPTED37ETEFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQICYZIO5J44SUMJ7PNYNFOFNVWVD3ZHKZJ3PH77PKMKXC6LDFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHSRLZYA5E2EJVMTH5WVD5ZTDVMETTVTBEO45FHQW5A7ERW4AEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YZZRYPUF7OZXXWCTIXWVOMO6BOCX5Q2JMJXYLXEOKCEJZV7I5SQ/main.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "addressLine1": {},
                "addressLine2": {},
                "city": {},
                "country": {},
                "state": {},
                "zipcode": {}
            },
            "sensitive": true
        }
    }
}