{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "vmcserviceonboarding",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "VMC Onboarding Public Service",
        "serviceId": "VmcServiceOnboarding",
        "signatureVersion": "v4",
        "signingName": "vmc-onboarding",
        "uid": "vmcserviceonboarding-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6MJ7LFXK5A5LC56LK5GIBSKNEWD4OSH3ACE6OYSF5QHEEJMLUZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KAVRY6IHJYRX3A755JR665CF65N4UWYJWEK5URIKZJTJWNDPAMXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AVZRYPOZWDADOV5XFCDI5WD5UOAAGLZ5PERMTZKCBCL4EXKBX3QA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NWREY7VW6HWA5EX5G623VE5CCHWFPXOZMRXBTFYFI6RLK5KGQTZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js"
        ]
    },
    "operations": {
        "onboard": {
            "http": {
                "requestUri": "/onboard",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "authorizedBy": {
                        "type": "structure",
                        "members": {
                            "email": {},
                            "name": {},
                            "title": {}
                        }
                    },
                    "committedSpend": {
                        "type": "structure",
                        "members": {
                            "committed": {
                                "type": "boolean"
                            },
                            "msrp": {},
                            "numHosts": {
                                "type": "integer"
                            },
                            "ppaEndDate": {},
                            "ppaStartDate": {}
                        },
                        "sensitive": true
                    },
                    "customerAddress": {
                        "shape": "S7"
                    },
                    "customerContactInfo": {
                        "type": "structure",
                        "members": {
                            "entitlementAgreementId": {},
                            "existingVmcInstance": {
                                "type": "boolean"
                            },
                            "fundOwnerEmail": {},
                            "fundOwnerName": {},
                            "fundUserEmail": {},
                            "fundUserName": {},
                            "orgId": {}
                        },
                        "sensitive": true
                    },
                    "customerName": {},
                    "freeTrialOrder": {},
                    "govcloudOrder": {
                        "type": "boolean"
                    },
                    "onDemandOrder": {
                        "type": "boolean"
                    },
                    "onboardingDate": {},
                    "onboardingState": {},
                    "onboardingStateContext": {},
                    "onboardingUrl": {},
                    "partnerInfo": {
                        "type": "structure",
                        "members": {
                            "address": {
                                "shape": "S7"
                            },
                            "name": {},
                            "type": {}
                        },
                        "sensitive": true
                    },
                    "publicDeploymentDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "percentage": {},
                                "quantity": {},
                                "region": {},
                                "service": {},
                                "term": {}
                            }
                        }
                    },
                    "resellerOrderId": {},
                    "shippingAddress": {
                        "shape": "S7"
                    },
                    "standardDeal": {
                        "type": "boolean"
                    },
                    "standardDealDetails": {},
                    "welcomeEmailContacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {},
                                "name": {}
                            }
                        },
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6MJ7LFXK5A5LC56LK5GIBSKNEWD4OSH3ACE6OYSF5QHEEJMLUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KAVRY6IHJYRX3A755JR665CF65N4UWYJWEK5URIKZJTJWNDPAMXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVZRYPOZWDADOV5XFCDI5WD5UOAAGLZ5PERMTZKCBCL4EXKBX3QA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWREY7VW6HWA5EX5G623VE5CCHWFPXOZMRXBTFYFI6RLK5KGQTZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js"
            ]
        },
        "registerFreeTrial": {
            "http": {
                "requestUri": "/registerFreeTrial",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "freeTrialOrder": {},
                    "taskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaignId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6MJ7LFXK5A5LC56LK5GIBSKNEWD4OSH3ACE6OYSF5QHEEJMLUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KAVRY6IHJYRX3A755JR665CF65N4UWYJWEK5URIKZJTJWNDPAMXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVZRYPOZWDADOV5XFCDI5WD5UOAAGLZ5PERMTZKCBCL4EXKBX3QA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWREY7VW6HWA5EX5G623VE5CCHWFPXOZMRXBTFYFI6RLK5KGQTZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCMFKU755WTFEGOQG5R2TJBR6Q6OL56EZD3ESXRLMIJDKU2FRIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6TBQ675XNAXXSXWT663ZEVNME66RAINJGX6OHDA5OQDIQL4VVXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAS3NC5ALFRBI57WBWPPXMLISGZRJFSFIHYUXUK467QHOO24U53A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26GUZVSDHQ2QPKHQHIDP6H5GZT5HO34G3SGCV45KYOSGWPO67KLQ/main.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "addressLine1": {},
                "addressLine2": {},
                "city": {},
                "country": {},
                "state": {},
                "zipcode": {}
            },
            "sensitive": true
        }
    }
}