{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-09-27",
        "endpointPrefix": "voiceid",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Amazon Voice ID",
        "serviceId": "Voice ID",
        "signatureVersion": "v4",
        "signingName": "voiceid",
        "targetPrefix": "VoiceID",
        "uid": "voice-id-2021-09-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ServerSideEncryptionConfiguration"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {
                        "shape": "S3"
                    },
                    "Name": {
                        "shape": "S4"
                    },
                    "ServerSideEncryptionConfiguration": {
                        "shape": "S5"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Domain": {
                        "shape": "Sc"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId"
                ],
                "members": {
                    "DomainId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteFraudster": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "FraudsterId"
                ],
                "members": {
                    "DomainId": {},
                    "FraudsterId": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteSpeaker": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "SpeakerId"
                ],
                "members": {
                    "DomainId": {},
                    "SpeakerId": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId"
                ],
                "members": {
                    "DomainId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Domain": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeFraudster": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "FraudsterId"
                ],
                "members": {
                    "DomainId": {},
                    "FraudsterId": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Fraudster": {
                        "type": "structure",
                        "members": {
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "DomainId": {},
                            "GeneratedFraudsterId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeFraudsterRegistrationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "JobId"
                ],
                "members": {
                    "DomainId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Job": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeSpeaker": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "SpeakerId"
                ],
                "members": {
                    "DomainId": {},
                    "SpeakerId": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Speaker": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeSpeakerEnrollmentJob": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "JobId"
                ],
                "members": {
                    "DomainId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Job": {
                        "shape": "S1j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "EvaluateSession": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "SessionNameOrId"
                ],
                "members": {
                    "DomainId": {},
                    "SessionNameOrId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuthenticationResult": {
                        "type": "structure",
                        "members": {
                            "AudioAggregationEndedAt": {
                                "type": "timestamp"
                            },
                            "AudioAggregationStartedAt": {
                                "type": "timestamp"
                            },
                            "AuthenticationResultId": {},
                            "Configuration": {
                                "type": "structure",
                                "required": [
                                    "AcceptanceThreshold"
                                ],
                                "members": {
                                    "AcceptanceThreshold": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "CustomerSpeakerId": {
                                "shape": "S1e"
                            },
                            "Decision": {},
                            "GeneratedSpeakerId": {},
                            "Score": {
                                "type": "integer"
                            }
                        }
                    },
                    "DomainId": {},
                    "FraudDetectionResult": {
                        "type": "structure",
                        "members": {
                            "AudioAggregationEndedAt": {
                                "type": "timestamp"
                            },
                            "AudioAggregationStartedAt": {
                                "type": "timestamp"
                            },
                            "Configuration": {
                                "type": "structure",
                                "required": [
                                    "RiskThreshold"
                                ],
                                "members": {
                                    "RiskThreshold": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "Decision": {},
                            "FraudDetectionResultId": {},
                            "Reasons": {
                                "type": "list",
                                "member": {}
                            },
                            "RiskDetails": {
                                "type": "structure",
                                "required": [
                                    "KnownFraudsterRisk",
                                    "VoiceSpoofingRisk"
                                ],
                                "members": {
                                    "KnownFraudsterRisk": {
                                        "type": "structure",
                                        "required": [
                                            "RiskScore"
                                        ],
                                        "members": {
                                            "GeneratedFraudsterId": {},
                                            "RiskScore": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "VoiceSpoofingRisk": {
                                        "type": "structure",
                                        "required": [
                                            "RiskScore"
                                        ],
                                        "members": {
                                            "RiskScore": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "SessionId": {},
                    "SessionName": {},
                    "StreamingStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListDomains": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "Description": {
                                    "shape": "S3"
                                },
                                "DomainId": {},
                                "DomainStatus": {},
                                "Name": {
                                    "shape": "S4"
                                },
                                "ServerSideEncryptionConfiguration": {
                                    "shape": "S5"
                                },
                                "ServerSideEncryptionUpdateDetails": {
                                    "shape": "Sh"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListFraudsterRegistrationJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId"
                ],
                "members": {
                    "DomainId": {},
                    "JobStatus": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "DomainId": {},
                                "EndedAt": {
                                    "type": "timestamp"
                                },
                                "FailureDetails": {
                                    "shape": "S10"
                                },
                                "JobId": {},
                                "JobName": {
                                    "shape": "S14"
                                },
                                "JobProgress": {
                                    "shape": "S15"
                                },
                                "JobStatus": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListSpeakerEnrollmentJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId"
                ],
                "members": {
                    "DomainId": {},
                    "JobStatus": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "DomainId": {},
                                "EndedAt": {
                                    "type": "timestamp"
                                },
                                "FailureDetails": {
                                    "shape": "S10"
                                },
                                "JobId": {},
                                "JobName": {
                                    "shape": "S14"
                                },
                                "JobProgress": {
                                    "shape": "S15"
                                },
                                "JobStatus": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListSpeakers": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId"
                ],
                "members": {
                    "DomainId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SpeakerSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "CustomerSpeakerId": {
                                    "shape": "S1e"
                                },
                                "DomainId": {},
                                "GeneratedSpeakerId": {},
                                "LastAccessedAt": {
                                    "type": "timestamp"
                                },
                                "Status": {},
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "OptOutSpeaker": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "SpeakerId"
                ],
                "members": {
                    "DomainId": {},
                    "SpeakerId": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Speaker": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartFraudsterRegistrationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "DataAccessRoleArn",
                    "DomainId",
                    "InputDataConfig",
                    "OutputDataConfig"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "DataAccessRoleArn": {},
                    "DomainId": {},
                    "InputDataConfig": {
                        "shape": "S12"
                    },
                    "JobName": {
                        "shape": "S14"
                    },
                    "OutputDataConfig": {
                        "shape": "S18"
                    },
                    "RegistrationConfig": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Job": {
                        "shape": "Sy"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartSpeakerEnrollmentJob": {
            "input": {
                "type": "structure",
                "required": [
                    "DataAccessRoleArn",
                    "DomainId",
                    "InputDataConfig",
                    "OutputDataConfig"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "DataAccessRoleArn": {},
                    "DomainId": {},
                    "EnrollmentConfig": {
                        "shape": "S1k"
                    },
                    "InputDataConfig": {
                        "shape": "S12"
                    },
                    "JobName": {
                        "shape": "S14"
                    },
                    "OutputDataConfig": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Job": {
                        "shape": "S1j"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "Name",
                    "ServerSideEncryptionConfiguration"
                ],
                "members": {
                    "Description": {
                        "shape": "S3"
                    },
                    "DomainId": {},
                    "Name": {
                        "shape": "S4"
                    },
                    "ServerSideEncryptionConfiguration": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Domain": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USX4MSE6CLM53RS5AH6BDSUKNAD5KAJWRPDBCJFR722IEMA624YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNDCSF4EQ3M5JAXSUHA2PUM3ITXQS5JBGB6RW6FXI4T2W37V3XTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDBQFEDOCJ2TXOXNNA5XX5OZ44LO44N7YDZ4N5AJRSAZSSSAXIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYHVSNC5UCMN4UIML67R2VI7SATAGA4CHUI4SJNQY2WAUROM6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5EFEIHOUH5CBCG5OSBR74WIZTMKDKTXRFGNC5TG4XJWL3FWXZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MYOTHBFCFMRZWQHYZQWZ3DQDBBMEGNS35OEHA73ZUWAJ5D54SUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52Z47Y56L6TSDU7OM2HPUWP43VHVJ6KJ3SZJMMFX7P3B7QIMIMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWOYRL4JWM45MIZDWPWUGNFVNK6SSDGZDRMLK2FR6GV3E2JIJXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AssociateFraudster": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "FraudsterId",
                    "WatchlistId"
                ],
                "members": {
                    "DomainId": {},
                    "FraudsterId": {
                        "shape": "S3"
                    },
                    "WatchlistId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Fraudster": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateWatchlist": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {
                        "shape": "St"
                    },
                    "DomainId": {},
                    "Name": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Watchlist": {
                        "shape": "Sw"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteWatchlist": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainId",
                    "WatchlistId"
                ],
                "members": {
                    "DomainId": {},
                    "WatchlistId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
[...]
