{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-11-30",
        "endpointPrefix": "vpc-lattice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon VPC Lattice",
        "serviceId": "VPC Lattice",
        "signatureVersion": "v4",
        "signingName": "vpc-lattice",
        "uid": "vpc-lattice-2022-11-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "BatchUpdateRule": {
            "http": {
                "method": "PATCH",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "rules",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ruleIdentifier"
                            ],
                            "members": {
                                "action": {
                                    "shape": "S5"
                                },
                                "match": {
                                    "shape": "Sd"
                                },
                                "priority": {
                                    "type": "integer"
                                },
                                "ruleIdentifier": {}
                            }
                        }
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "action": {
                                    "shape": "S5"
                                },
                                "arn": {},
                                "id": {},
                                "isDefault": {
                                    "type": "boolean"
                                },
                                "match": {
                                    "shape": "Sd"
                                },
                                "name": {},
                                "priority": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "unsuccessful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "failureCode": {},
                                "failureMessage": {},
                                "ruleIdentifier": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "CreateAccessLogSubscription": {
            "http": {
                "requestUri": "/accesslogsubscriptions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationArn",
                    "resourceIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "destinationArn": {},
                    "resourceIdentifier": {},
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "destinationArn",
                    "id",
                    "resourceArn",
                    "resourceId"
                ],
                "members": {
                    "arn": {},
                    "destinationArn": {},
                    "id": {},
                    "resourceArn": {},
                    "resourceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "CreateListener": {
            "http": {
                "requestUri": "/services/{serviceIdentifier}/listeners",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "defaultAction",
                    "name",
                    "protocol",
                    "serviceIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "defaultAction": {
                        "shape": "S5"
                    },
                    "name": {},
                    "port": {
                        "type": "integer"
                    },
                    "protocol": {},
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "defaultAction": {
                        "shape": "S5"
                    },
                    "id": {},
                    "name": {},
                    "port": {
                        "type": "integer"
                    },
                    "protocol": {},
                    "serviceArn": {},
                    "serviceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "CreateRule": {
            "http": {
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "listenerIdentifier",
                    "match",
                    "name",
                    "priority",
                    "serviceIdentifier"
                ],
                "members": {
                    "action": {
                        "shape": "S5"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "match": {
                        "shape": "Sd"
                    },
                    "name": {},
                    "priority": {
                        "type": "integer"
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "action": {
                        "shape": "S5"
                    },
                    "arn": {},
                    "id": {},
                    "match": {
                        "shape": "Sd"
                    },
                    "name": {},
                    "priority": {
                        "type": "integer"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "CreateService": {
            "http": {
                "requestUri": "/services",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "authType": {},
                    "certificateArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "customDomainName": {},
                    "name": {},
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "authType": {},
                    "certificateArn": {},
                    "customDomainName": {},
                    "dnsEntry": {
                        "shape": "S1y"
                    },
                    "id": {},
                    "name": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "CreateServiceNetwork": {
            "http": {
                "requestUri": "/servicenetworks",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "authType": {},
                    "id": {},
                    "name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "CreateServiceNetworkServiceAssociation": {
            "http": {
                "requestUri": "/servicenetworkserviceassociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceIdentifier",
                    "serviceNetworkIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "serviceIdentifier": {},
                    "serviceNetworkIdentifier": {},
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createdBy": {},
                    "customDomainName": {},
                    "dnsEntry": {
                        "shape": "S1y"
                    },
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "CreateServiceNetworkVpcAssociation": {
            "http": {
                "requestUri": "/servicenetworkvpcassociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkIdentifier",
                    "vpcIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "securityGroupIds": {
                        "type": "list",
                        "member": {}
                    },
                    "serviceNetworkIdentifier": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "vpcIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createdBy": {},
                    "id": {},
                    "securityGroupIds": {
                        "shape": "S2k"
                    },
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "CreateTargetGroup": {
            "http": {
                "requestUri": "/targetgroups",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "config": {
                        "shape": "S2n"
                    },
                    "name": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "config": {
                        "shape": "S2n"
                    },
                    "id": {},
                    "name": {},
                    "status": {},
                    "type": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteAccessLogSubscription": {
            "http": {
                "method": "DELETE",
                "requestUri": "/accesslogsubscriptions/{accessLogSubscriptionIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessLogSubscriptionIdentifier"
                ],
                "members": {
                    "accessLogSubscriptionIdentifier": {
                        "location": "uri",
                        "locationName": "accessLogSubscriptionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteAuthPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/authpolicy/{resourceIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteListener": {
            "http": {
                "method": "DELETE",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resourcepolicy/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules/{ruleIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "ruleIdentifier",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "ruleIdentifier": {
                        "location": "uri",
                        "locationName": "ruleIdentifier"
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteService": {
            "http": {
                "method": "DELETE",
                "requestUri": "/services/{serviceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceIdentifier"
                ],
                "members": {
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "name": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteServiceNetwork": {
            "http": {
                "method": "DELETE",
                "requestUri": "/servicenetworks/{serviceNetworkIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkIdentifier"
                ],
                "members": {
                    "serviceNetworkIdentifier": {
                        "location": "uri",
                        "locationName": "serviceNetworkIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteServiceNetworkServiceAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/servicenetworkserviceassociations/{serviceNetworkServiceAssociationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkServiceAssociationIdentifier"
                ],
                "members": {
                    "serviceNetworkServiceAssociationIdentifier": {
                        "location": "uri",
                        "locationName": "serviceNetworkServiceAssociationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteServiceNetworkVpcAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/servicenetworkvpcassociations/{serviceNetworkVpcAssociationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkVpcAssociationIdentifier"
                ],
                "members": {
                    "serviceNetworkVpcAssociationIdentifier": {
                        "location": "uri",
                        "locationName": "serviceNetworkVpcAssociationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeleteTargetGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/targetgroups/{targetGroupIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetGroupIdentifier"
                ],
                "members": {
                    "targetGroupIdentifier": {
                        "location": "uri",
                        "locationName": "targetGroupIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "DeregisterTargets": {
            "http": {
                "requestUri": "/targetgroups/{targetGroupIdentifier}/deregistertargets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetGroupIdentifier",
                    "targets"
                ],
                "members": {
                    "targetGroupIdentifier": {
                        "location": "uri",
                        "locationName": "targetGroupIdentifier"
                    },
                    "targets": {
                        "type": "list",
                        "member": {
                            "shape": "S3v"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successful": {
                        "shape": "S3y"
                    },
                    "unsuccessful": {
                        "shape": "S3z"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "GetAccessLogSubscription": {
            "http": {
                "method": "GET",
                "requestUri": "/accesslogsubscriptions/{accessLogSubscriptionIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessLogSubscriptionIdentifier"
                ],
                "members": {
                    "accessLogSubscriptionIdentifier": {
                        "location": "uri",
                        "locationName": "accessLogSubscriptionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "createdAt",
                    "destinationArn",
                    "id",
                    "lastUpdatedAt",
                    "resourceArn",
                    "resourceId"
                ],
                "members": {
                    "arn": {},
                    "createdAt": {
                        "shape": "S43"
                    },
                    "destinationArn": {},
                    "id": {},
                    "lastUpdatedAt": {
                        "shape": "S43"
                    },
                    "resourceArn": {},
                    "resourceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "GetAuthPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/authpolicy/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdAt": {
                        "shape": "S43"
                    },
                    "lastUpdatedAt": {
                        "shape": "S43"
                    },
                    "policy": {},
                    "state": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TV55QRLBLCNLP7GU32HIU3NR5APFWQ6PT5KS3DHEEVIJVXVRWGMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQBCDQYD4ED6BTQK3B2EXJ7K2SGYV3AS5IMECR74N46XKSZZX53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DMAOYB7FMAHFKUT2JBJ62W7OWAMCOWXCPHIH5FQ2IJE7RNMLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AY6RLQPCTE4W4GL7VPT5JUVWPWYHCTAAFOQVXIF6LU5IBB2HGTNA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGXTKBBQOF4VUC2OKY7TZCAFRQAJFOIUXUB7TOJ24KNT2HFBI2WA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC2BUHID5ITTETB6CEO3SINHG5SYXMKRTSPN46HOLWNNTWQO4ALA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js"
            ]
        },
        "GetListener": {
            "http": {
                "method": "GET",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createdAt": {
                        "shape": "S43"
                    },
                    "defaultAction": {
                        "shape": "S5"
                    },
                    "id": {},
[...]
