{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-11-30",
        "endpointPrefix": "vpc-lattice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon VPC Lattice",
        "serviceId": "VPC Lattice",
        "signatureVersion": "v4",
        "signingName": "vpc-lattice",
        "uid": "vpc-lattice-2022-11-30",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "BatchUpdateRule": {
            "http": {
                "method": "PATCH",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "rules",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ruleIdentifier"
                            ],
                            "members": {
                                "action": {
                                    "shape": "S5"
                                },
                                "match": {
                                    "shape": "Sd"
                                },
                                "priority": {
                                    "type": "integer"
                                },
                                "ruleIdentifier": {}
                            }
                        }
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "action": {
                                    "shape": "S5"
                                },
                                "arn": {},
                                "id": {},
                                "isDefault": {
                                    "type": "boolean"
                                },
                                "match": {
                                    "shape": "Sd"
                                },
                                "name": {},
                                "priority": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "unsuccessful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "failureCode": {},
                                "failureMessage": {},
                                "ruleIdentifier": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateAccessLogSubscription": {
            "http": {
                "requestUri": "/accesslogsubscriptions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationArn",
                    "resourceIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "destinationArn": {},
                    "resourceIdentifier": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "serviceNetworkLogType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "destinationArn",
                    "id",
                    "resourceArn",
                    "resourceId"
                ],
                "members": {
                    "arn": {},
                    "destinationArn": {},
                    "id": {},
                    "resourceArn": {},
                    "resourceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateListener": {
            "http": {
                "requestUri": "/services/{serviceIdentifier}/listeners",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "defaultAction",
                    "name",
                    "protocol",
                    "serviceIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "defaultAction": {
                        "shape": "S5"
                    },
                    "name": {},
                    "port": {
                        "type": "integer"
                    },
                    "protocol": {},
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "defaultAction": {
                        "shape": "S5"
                    },
                    "id": {},
                    "name": {},
                    "port": {
                        "type": "integer"
                    },
                    "protocol": {},
                    "serviceArn": {},
                    "serviceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateRule": {
            "http": {
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "listenerIdentifier",
                    "match",
                    "name",
                    "priority",
                    "serviceIdentifier"
                ],
                "members": {
                    "action": {
                        "shape": "S5"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "match": {
                        "shape": "Sd"
                    },
                    "name": {},
                    "priority": {
                        "type": "integer"
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "action": {
                        "shape": "S5"
                    },
                    "arn": {},
                    "id": {},
                    "match": {
                        "shape": "Sd"
                    },
                    "name": {},
                    "priority": {
                        "type": "integer"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateService": {
            "http": {
                "requestUri": "/services",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "authType": {},
                    "certificateArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "customDomainName": {},
                    "name": {},
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "authType": {},
                    "certificateArn": {},
                    "customDomainName": {},
                    "dnsEntry": {
                        "shape": "S1y"
                    },
                    "id": {},
                    "name": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateServiceNetwork": {
            "http": {
                "requestUri": "/servicenetworks",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "sharingConfig": {
                        "shape": "S3c"
                    },
                    "managedConfiguration": {
                        "shape": "S3d",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "authType": {},
                    "id": {},
                    "name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateServiceNetworkServiceAssociation": {
            "http": {
                "requestUri": "/servicenetworkserviceassociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceIdentifier",
                    "serviceNetworkIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "serviceIdentifier": {},
                    "serviceNetworkIdentifier": {},
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createdBy": {},
                    "customDomainName": {},
                    "dnsEntry": {
                        "shape": "S1y"
                    },
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateServiceNetworkVpcAssociation": {
            "http": {
                "requestUri": "/servicenetworkvpcassociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkIdentifier",
                    "vpcIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "securityGroupIds": {
                        "type": "list",
                        "member": {}
                    },
                    "serviceNetworkIdentifier": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "vpcIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createdBy": {},
                    "id": {},
                    "securityGroupIds": {
                        "shape": "S2k"
                    },
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateTargetGroup": {
            "http": {
                "requestUri": "/targetgroups",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "config": {
                        "shape": "S2n"
                    },
                    "name": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "config": {
                        "shape": "S2n"
                    },
                    "id": {},
                    "name": {},
                    "status": {},
                    "type": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAccessLogSubscription": {
            "http": {
                "method": "DELETE",
                "requestUri": "/accesslogsubscriptions/{accessLogSubscriptionIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessLogSubscriptionIdentifier"
                ],
                "members": {
                    "accessLogSubscriptionIdentifier": {
                        "location": "uri",
                        "locationName": "accessLogSubscriptionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAuthPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/authpolicy/{resourceIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteListener": {
            "http": {
                "method": "DELETE",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resourcepolicy/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules/{ruleIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "ruleIdentifier",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "ruleIdentifier": {
                        "location": "uri",
                        "locationName": "ruleIdentifier"
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteService": {
            "http": {
                "method": "DELETE",
                "requestUri": "/services/{serviceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceIdentifier"
                ],
                "members": {
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "name": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteServiceNetwork": {
            "http": {
                "method": "DELETE",
                "requestUri": "/servicenetworks/{serviceNetworkIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkIdentifier"
                ],
                "members": {
                    "serviceNetworkIdentifier": {
                        "location": "uri",
                        "locationName": "serviceNetworkIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteServiceNetworkServiceAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/servicenetworkserviceassociations/{serviceNetworkServiceAssociationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkServiceAssociationIdentifier"
                ],
                "members": {
                    "serviceNetworkServiceAssociationIdentifier": {
                        "location": "uri",
                        "locationName": "serviceNetworkServiceAssociationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteServiceNetworkVpcAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/servicenetworkvpcassociations/{serviceNetworkVpcAssociationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkVpcAssociationIdentifier"
                ],
                "members": {
                    "serviceNetworkVpcAssociationIdentifier": {
                        "location": "uri",
                        "locationName": "serviceNetworkVpcAssociationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteTargetGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/targetgroups/{targetGroupIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetGroupIdentifier"
                ],
                "members": {
                    "targetGroupIdentifier": {
                        "location": "uri",
                        "locationName": "targetGroupIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeregisterTargets": {
            "http": {
                "requestUri": "/targetgroups/{targetGroupIdentifier}/deregistertargets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetGroupIdentifier",
                    "targets"
                ],
                "members": {
                    "targetGroupIdentifier": {
                        "location": "uri",
                        "locationName": "targetGroupIdentifier"
                    },
                    "targets": {
                        "type": "list",
                        "member": {
                            "shape": "S3v"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successful": {
                        "shape": "S3y"
                    },
                    "unsuccessful": {
                        "shape": "S3z"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAccessLogSubscription": {
            "http": {
                "method": "GET",
                "requestUri": "/accesslogsubscriptions/{accessLogSubscriptionIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessLogSubscriptionIdentifier"
                ],
                "members": {
                    "accessLogSubscriptionIdentifier": {
                        "location": "uri",
                        "locationName": "accessLogSubscriptionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "createdAt",
                    "destinationArn",
                    "id",
                    "lastUpdatedAt",
                    "resourceArn",
                    "resourceId"
                ],
                "members": {
                    "arn": {},
                    "createdAt": {
                        "shape": "S43"
                    },
                    "destinationArn": {},
                    "id": {},
                    "lastUpdatedAt": {
                        "shape": "S43"
                    },
                    "resourceArn": {},
                    "resourceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAuthPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/authpolicy/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdAt": {
                        "shape": "S43"
                    },
                    "lastUpdatedAt": {
                        "shape": "S43"
                    },
                    "policy": {},
                    "state": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetListener": {
            "http": {
                "method": "GET",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createdAt": {
                        "shape": "S43"
                    },
                    "defaultAction": {
                        "shape": "S5"
                    },
                    "id": {},
                    "lastUpdatedAt": {
                        "shape": "S43"
                    },
                    "name": {},
                    "port": {
                        "type": "integer"
                    },
                    "protocol": {},
                    "serviceArn": {},
                    "serviceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5C5XVDT3ASZNUNZD6LIQGQIS2VRDHTSCKDF52PELPPQZATE6MJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSOREYYR6SSYZ2KB42DFUZYECNFJGOD5RERZWMP7NITVQVIDZXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
[...]
