{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-11-30",
        "endpointPrefix": "vpc-lattice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon VPC Lattice",
        "serviceId": "VPC Lattice",
        "signatureVersion": "v4",
        "signingName": "vpc-lattice",
        "uid": "vpc-lattice-2022-11-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
        ]
    },
    "operations": {
        "BatchUpdateRule": {
            "http": {
                "method": "PATCH",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "rules",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ruleIdentifier"
                            ],
                            "members": {
                                "action": {
                                    "shape": "S5"
                                },
                                "match": {
                                    "shape": "Sd"
                                },
                                "priority": {
                                    "type": "integer"
                                },
                                "ruleIdentifier": {}
                            }
                        }
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "action": {
                                    "shape": "S5"
                                },
                                "arn": {},
                                "id": {},
                                "isDefault": {
                                    "type": "boolean"
                                },
                                "match": {
                                    "shape": "Sd"
                                },
                                "name": {},
                                "priority": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "unsuccessful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "failureCode": {},
                                "failureMessage": {},
                                "ruleIdentifier": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateAccessLogSubscription": {
            "http": {
                "requestUri": "/accesslogsubscriptions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationArn",
                    "resourceIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "destinationArn": {},
                    "resourceIdentifier": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "serviceNetworkLogType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "destinationArn",
                    "id",
                    "resourceArn",
                    "resourceId"
                ],
                "members": {
                    "arn": {},
                    "destinationArn": {},
                    "id": {},
                    "resourceArn": {},
                    "resourceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateListener": {
            "http": {
                "requestUri": "/services/{serviceIdentifier}/listeners",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "defaultAction",
                    "name",
                    "protocol",
                    "serviceIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "defaultAction": {
                        "shape": "S5"
                    },
                    "name": {},
                    "port": {
                        "type": "integer"
                    },
                    "protocol": {},
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "defaultAction": {
                        "shape": "S5"
                    },
                    "id": {},
                    "name": {},
                    "port": {
                        "type": "integer"
                    },
                    "protocol": {},
                    "serviceArn": {},
                    "serviceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateRule": {
            "http": {
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "listenerIdentifier",
                    "match",
                    "name",
                    "priority",
                    "serviceIdentifier"
                ],
                "members": {
                    "action": {
                        "shape": "S5"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "match": {
                        "shape": "Sd"
                    },
                    "name": {},
                    "priority": {
                        "type": "integer"
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "action": {
                        "shape": "S5"
                    },
                    "arn": {},
                    "id": {},
                    "match": {
                        "shape": "Sd"
                    },
                    "name": {},
                    "priority": {
                        "type": "integer"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateService": {
            "http": {
                "requestUri": "/services",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "authType": {},
                    "certificateArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "customDomainName": {},
                    "name": {},
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "authType": {},
                    "certificateArn": {},
                    "customDomainName": {},
                    "dnsEntry": {
                        "shape": "S1y"
                    },
                    "id": {},
                    "name": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateServiceNetwork": {
            "http": {
                "requestUri": "/servicenetworks",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "sharingConfig": {
                        "shape": "S3c"
                    },
                    "managedConfiguration": {
                        "shape": "S3d",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "authType": {},
                    "id": {},
                    "name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateServiceNetworkServiceAssociation": {
            "http": {
                "requestUri": "/servicenetworkserviceassociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceIdentifier",
                    "serviceNetworkIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "serviceIdentifier": {},
                    "serviceNetworkIdentifier": {},
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createdBy": {},
                    "customDomainName": {},
                    "dnsEntry": {
                        "shape": "S1y"
                    },
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateServiceNetworkVpcAssociation": {
            "http": {
                "requestUri": "/servicenetworkvpcassociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkIdentifier",
                    "vpcIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "securityGroupIds": {
                        "type": "list",
                        "member": {}
                    },
                    "serviceNetworkIdentifier": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "vpcIdentifier": {},
                    "privateDnsEnabled": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "privateDnsPreference": {
                        "internalonly": true
                    },
                    "privateDomainsList": {
                        "shape": "S4u",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "createdBy": {},
                    "id": {},
                    "securityGroupIds": {
                        "shape": "S2k"
                    },
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateTargetGroup": {
            "http": {
                "requestUri": "/targetgroups",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "config": {
                        "shape": "S2n"
                    },
                    "name": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "config": {
                        "shape": "S2n"
                    },
                    "id": {},
                    "name": {},
                    "status": {},
                    "type": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteAccessLogSubscription": {
            "http": {
                "method": "DELETE",
                "requestUri": "/accesslogsubscriptions/{accessLogSubscriptionIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessLogSubscriptionIdentifier"
                ],
                "members": {
                    "accessLogSubscriptionIdentifier": {
                        "location": "uri",
                        "locationName": "accessLogSubscriptionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteAuthPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/authpolicy/{resourceIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteListener": {
            "http": {
                "method": "DELETE",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resourcepolicy/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}/rules/{ruleIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "ruleIdentifier",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
                        "location": "uri",
                        "locationName": "listenerIdentifier"
                    },
                    "ruleIdentifier": {
                        "location": "uri",
                        "locationName": "ruleIdentifier"
                    },
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteService": {
            "http": {
                "method": "DELETE",
                "requestUri": "/services/{serviceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceIdentifier"
                ],
                "members": {
                    "serviceIdentifier": {
                        "location": "uri",
                        "locationName": "serviceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "name": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteServiceNetwork": {
            "http": {
                "method": "DELETE",
                "requestUri": "/servicenetworks/{serviceNetworkIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkIdentifier"
                ],
                "members": {
                    "serviceNetworkIdentifier": {
                        "location": "uri",
                        "locationName": "serviceNetworkIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteServiceNetworkServiceAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/servicenetworkserviceassociations/{serviceNetworkServiceAssociationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkServiceAssociationIdentifier"
                ],
                "members": {
                    "serviceNetworkServiceAssociationIdentifier": {
                        "location": "uri",
                        "locationName": "serviceNetworkServiceAssociationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteServiceNetworkVpcAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/servicenetworkvpcassociations/{serviceNetworkVpcAssociationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceNetworkVpcAssociationIdentifier"
                ],
                "members": {
                    "serviceNetworkVpcAssociationIdentifier": {
                        "location": "uri",
                        "locationName": "serviceNetworkVpcAssociationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteTargetGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/targetgroups/{targetGroupIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetGroupIdentifier"
                ],
                "members": {
                    "targetGroupIdentifier": {
                        "location": "uri",
                        "locationName": "targetGroupIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeregisterTargets": {
            "http": {
                "requestUri": "/targetgroups/{targetGroupIdentifier}/deregistertargets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetGroupIdentifier",
                    "targets"
                ],
                "members": {
                    "targetGroupIdentifier": {
                        "location": "uri",
                        "locationName": "targetGroupIdentifier"
                    },
                    "targets": {
                        "type": "list",
                        "member": {
                            "shape": "S3v"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successful": {
                        "shape": "S3y"
                    },
                    "unsuccessful": {
                        "shape": "S3z"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "GetAccessLogSubscription": {
            "http": {
                "method": "GET",
                "requestUri": "/accesslogsubscriptions/{accessLogSubscriptionIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessLogSubscriptionIdentifier"
                ],
                "members": {
                    "accessLogSubscriptionIdentifier": {
                        "location": "uri",
                        "locationName": "accessLogSubscriptionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "createdAt",
                    "destinationArn",
                    "id",
                    "lastUpdatedAt",
                    "resourceArn",
                    "resourceId"
                ],
                "members": {
                    "arn": {},
                    "createdAt": {
                        "shape": "S43"
                    },
                    "destinationArn": {},
                    "id": {},
                    "lastUpdatedAt": {
                        "shape": "S43"
                    },
                    "resourceArn": {},
                    "resourceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "GetAuthPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/authpolicy/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdAt": {
                        "shape": "S43"
                    },
                    "lastUpdatedAt": {
                        "shape": "S43"
                    },
                    "policy": {},
                    "state": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYVGRF4RJZ7VC7YSM53WMF4L65XG6SWOLIICZYLJQ2RJRWC42DFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4I46KBXGTLGZIN2OF2EJTPOFJP7ISWOD7HW5GT6HUASJA6ITVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2S3HRW4HVPEK66LGM62N4UKIAJTHLDM2NFC4L7YTYZZXNHEQLDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7FQEJBWYBFECGMHODOKR7J54SBND744HCXYPK5DZ6SD5NQSI6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTQQDMBKISWCF7PNXCI6TOG6NH7LEAQQBA6XLHW5S7C2OKEF7HSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI4QTXNCFAVBWKQMTYYX4FVVJWLECD2L5SUMYJIHG37HSQQ3TG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKVPGLM4WMNUM3EPB3RC2KRDWX5ZA2IBBZJHAOJQ67PK3WW2ODFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OV2WL4Z7MGW4WKJ4JY7CGXB5YN5HSJDJJOPQ6VWY6JMYQRAIEBTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "GetListener": {
            "http": {
                "method": "GET",
                "requestUri": "/services/{serviceIdentifier}/listeners/{listenerIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "listenerIdentifier",
                    "serviceIdentifier"
                ],
                "members": {
                    "listenerIdentifier": {
[...]
