{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-08-24",
        "endpointPrefix": "waf",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "WAF",
        "serviceFullName": "AWS WAF",
        "serviceId": "WAF",
        "signatureVersion": "v4",
        "targetPrefix": "AWSWAF_20150824",
        "uid": "waf-2015-08-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
        ]
    },
    "operations": {
        "CreateByteMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ByteMatchSet": {
                        "shape": "S5"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateGeoMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GeoMatchSet": {
                        "shape": "Sh"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IPSet": {
                        "shape": "So"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateRateBasedRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "RateKey",
                    "RateLimit",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "RateKey": {},
                    "RateLimit": {
                        "type": "long"
                    },
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S12"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateRegexMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexMatchSet": {
                        "shape": "S19"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexPatternSet": {
                        "shape": "S1e"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S1j"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleGroup": {
                        "shape": "S1m"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateSizeConstraintSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SizeConstraintSet": {
                        "shape": "S1p"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateSqlInjectionMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SqlInjectionMatchSet": {
                        "shape": "S1w"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "DefaultAction",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "DefaultAction": {
                        "shape": "S20"
                    },
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebACL": {
                        "shape": "S23"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateWebACLMigrationStack": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId",
                    "S3BucketName",
                    "IgnoreUnsupportedType"
                ],
                "members": {
                    "WebACLId": {},
                    "S3BucketName": {},
                    "IgnoreUnsupportedType": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "S3ObjectUrl"
                ],
                "members": {
                    "S3ObjectUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateXssMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "XssMatchSet": {
                        "shape": "S2k"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteByteMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ByteMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "ByteMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteGeoMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "GeoMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "GeoMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "IPSetId",
                    "ChangeToken"
                ],
                "members": {
                    "IPSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteLoggingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeletePermissionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteRateBasedRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteRegexMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RegexMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "RegexMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RegexPatternSetId",
                    "ChangeToken"
                ],
                "members": {
                    "RegexPatternSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleGroupId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleGroupId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteSizeConstraintSet": {
            "input": {
                "type": "structure",
                "required": [
                    "SizeConstraintSetId",
                    "ChangeToken"
                ],
                "members": {
                    "SizeConstraintSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteSqlInjectionMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "SqlInjectionMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "SqlInjectionMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId",
                    "ChangeToken"
                ],
                "members": {
                    "WebACLId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
[...]
