{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "waf-regional",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "WAF Regional",
        "serviceFullName": "AWS WAF Regional",
        "serviceId": "WAF Regional",
        "signatureVersion": "v4",
        "targetPrefix": "AWSWAF_Regional_20161128",
        "uid": "waf-regional-2016-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
        ]
    },
    "operations": {
        "AssociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId",
                    "ResourceArn"
                ],
                "members": {
                    "WebACLId": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateByteMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ByteMatchSet": {
                        "shape": "S9"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateGeoMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GeoMatchSet": {
                        "shape": "Sk"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IPSet": {
                        "shape": "Sr"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateRateBasedRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "RateKey",
                    "RateLimit",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "RateKey": {},
                    "RateLimit": {
                        "type": "long"
                    },
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S15"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateRegexMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexMatchSet": {
                        "shape": "S1c"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexPatternSet": {
                        "shape": "S1h"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S1m"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleGroup": {
                        "shape": "S1p"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateSizeConstraintSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SizeConstraintSet": {
                        "shape": "S1s"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateSqlInjectionMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SqlInjectionMatchSet": {
                        "shape": "S1z"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "DefaultAction",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "DefaultAction": {
                        "shape": "S23"
                    },
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebACL": {
                        "shape": "S26"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateWebACLMigrationStack": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId",
                    "S3BucketName",
                    "IgnoreUnsupportedType"
                ],
                "members": {
                    "WebACLId": {},
                    "S3BucketName": {},
                    "IgnoreUnsupportedType": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "S3ObjectUrl"
                ],
                "members": {
                    "S3ObjectUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateXssMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "XssMatchSet": {
                        "shape": "S2m"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteByteMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ByteMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "ByteMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteGeoMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "GeoMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "GeoMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "IPSetId",
                    "ChangeToken"
                ],
                "members": {
                    "IPSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteLoggingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeletePermissionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteRateBasedRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteRegexMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RegexMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "RegexMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RegexPatternSetId",
                    "ChangeToken"
                ],
                "members": {
                    "RegexPatternSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleGroupId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleGroupId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteSizeConstraintSet": {
            "input": {
                "type": "structure",
                "required": [
                    "SizeConstraintSetId",
                    "ChangeToken"
                ],
                "members": {
                    "SizeConstraintSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
[...]
