{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "waf-regional",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "WAF Regional",
        "serviceFullName": "AWS WAF Regional",
        "serviceId": "WAF Regional",
        "signatureVersion": "v4",
        "targetPrefix": "AWSWAF_Regional_20161128",
        "uid": "waf-regional-2016-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ATNB37GHAF7PGSUUY5C55YDCHAZ5HLY7HXEQ2ZDAAZ35FW3DGDQ/efe1f56e73a6b0c34ac8b6b3afddc2f1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
        ]
    },
    "operations": {
        "AssociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId",
                    "ResourceArn"
                ],
                "members": {
                    "WebACLId": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateByteMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ByteMatchSet": {
                        "shape": "S9"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateGeoMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GeoMatchSet": {
                        "shape": "Sk"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IPSet": {
                        "shape": "Sr"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateRateBasedRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "RateKey",
                    "RateLimit",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "RateKey": {},
                    "RateLimit": {
                        "type": "long"
                    },
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S15"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateRegexMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexMatchSet": {
                        "shape": "S1c"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexPatternSet": {
                        "shape": "S1h"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S1m"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleGroup": {
                        "shape": "S1p"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateSizeConstraintSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SizeConstraintSet": {
                        "shape": "S1s"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateSqlInjectionMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SqlInjectionMatchSet": {
                        "shape": "S1z"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "DefaultAction",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "DefaultAction": {
                        "shape": "S23"
                    },
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebACL": {
                        "shape": "S26"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateWebACLMigrationStack": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId",
                    "S3BucketName",
                    "IgnoreUnsupportedType"
                ],
                "members": {
                    "WebACLId": {},
                    "S3BucketName": {},
                    "IgnoreUnsupportedType": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "S3ObjectUrl"
                ],
                "members": {
                    "S3ObjectUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateXssMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "XssMatchSet": {
                        "shape": "S2m"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteByteMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ByteMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "ByteMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteGeoMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "GeoMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "GeoMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "IPSetId",
                    "ChangeToken"
                ],
                "members": {
                    "IPSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteLoggingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeletePermissionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteRateBasedRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteRegexMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RegexMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "RegexMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RegexPatternSetId",
                    "ChangeToken"
                ],
                "members": {
                    "RegexPatternSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleGroupId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleGroupId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteSizeConstraintSet": {
            "input": {
                "type": "structure",
                "required": [
                    "SizeConstraintSetId",
                    "ChangeToken"
                ],
                "members": {
                    "SizeConstraintSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/ec516dea939fc28d61b522d938d4642e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/eed3de4a452e38e1a1b1352d2b129c23.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/5b1aab2ca945f8235cdd12ea6b5d0991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/98cd1ad74e81327b9f2e2361644096cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/f3c41c081da04f5e10e2fe164f3afef1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
[...]
