{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "waf-regional",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "WAF Regional",
        "serviceFullName": "AWS WAF Regional",
        "serviceId": "WAF Regional",
        "signatureVersion": "v4",
        "targetPrefix": "AWSWAF_Regional_20161128",
        "uid": "waf-regional-2016-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JO3ZWCY64W32LY2DQ6V7DRUK2IPCUWO7PFBKHLZELTEOM3BDY5GQ/a58f8c0ad51b6ca783a1e1c9309e5f47.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
        ]
    },
    "operations": {
        "AssociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId",
                    "ResourceArn"
                ],
                "members": {
                    "WebACLId": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateByteMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ByteMatchSet": {
                        "shape": "S9"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateGeoMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GeoMatchSet": {
                        "shape": "Sk"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IPSet": {
                        "shape": "Sr"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateRateBasedRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "RateKey",
                    "RateLimit",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "RateKey": {},
                    "RateLimit": {
                        "type": "long"
                    },
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S15"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateRegexMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexMatchSet": {
                        "shape": "S1c"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexPatternSet": {
                        "shape": "S1h"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S1m"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleGroup": {
                        "shape": "S1p"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateSizeConstraintSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SizeConstraintSet": {
                        "shape": "S1s"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateSqlInjectionMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SqlInjectionMatchSet": {
                        "shape": "S1z"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "DefaultAction",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "DefaultAction": {
                        "shape": "S23"
                    },
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebACL": {
                        "shape": "S26"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateWebACLMigrationStack": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId",
                    "S3BucketName",
                    "IgnoreUnsupportedType"
                ],
                "members": {
                    "WebACLId": {},
                    "S3BucketName": {},
                    "IgnoreUnsupportedType": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "S3ObjectUrl"
                ],
                "members": {
                    "S3ObjectUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "CreateXssMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "XssMatchSet": {
                        "shape": "S2m"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "DeleteByteMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ByteMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "ByteMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "DeleteGeoMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "GeoMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "GeoMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "DeleteIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "IPSetId",
                    "ChangeToken"
                ],
                "members": {
                    "IPSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "DeleteLoggingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "DeletePermissionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "DeleteRateBasedRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "DeleteRegexMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RegexMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "RegexMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "DeleteRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RegexPatternSetId",
                    "ChangeToken"
                ],
                "members": {
                    "RegexPatternSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "DeleteRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "DeleteRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleGroupId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleGroupId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js"
            ]
        },
        "DeleteSizeConstraintSet": {
            "input": {
                "type": "structure",
                "required": [
                    "SizeConstraintSetId",
                    "ChangeToken"
                ],
                "members": {
                    "SizeConstraintSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCZF26LJLFEU27Q5VUWMH3ILZW2LIM6A5COQK63NUXHBDL5MRAMQ/6d81e1db40b17c5517ddcad217b49bee.js",
[...]
