{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-08-24",
        "endpointPrefix": "waf",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "WAF",
        "serviceFullName": "AWS WAF",
        "serviceId": "WAF",
        "signatureVersion": "v4",
        "targetPrefix": "AWSWAF_20150824",
        "uid": "waf-2015-08-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
        ]
    },
    "operations": {
        "CreateByteMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ByteMatchSet": {
                        "shape": "S5"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateGeoMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GeoMatchSet": {
                        "shape": "Sh"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IPSet": {
                        "shape": "So"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateRateBasedRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "RateKey",
                    "RateLimit",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "RateKey": {},
                    "RateLimit": {
                        "type": "long"
                    },
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S12"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateRegexMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexMatchSet": {
                        "shape": "S19"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexPatternSet": {
                        "shape": "S1e"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S1j"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleGroup": {
                        "shape": "S1m"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateSizeConstraintSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SizeConstraintSet": {
                        "shape": "S1p"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateSqlInjectionMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SqlInjectionMatchSet": {
                        "shape": "S1w"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricName",
                    "DefaultAction",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "MetricName": {},
                    "DefaultAction": {
                        "shape": "S20"
                    },
                    "ChangeToken": {},
                    "Tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebACL": {
                        "shape": "S23"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateWebACLMigrationStack": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId",
                    "S3BucketName",
                    "IgnoreUnsupportedType"
                ],
                "members": {
                    "WebACLId": {},
                    "S3BucketName": {},
                    "IgnoreUnsupportedType": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "S3ObjectUrl"
                ],
                "members": {
                    "S3ObjectUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "CreateXssMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ChangeToken"
                ],
                "members": {
                    "Name": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "XssMatchSet": {
                        "shape": "S2k"
                    },
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteByteMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ByteMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "ByteMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteGeoMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "GeoMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "GeoMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "IPSetId",
                    "ChangeToken"
                ],
                "members": {
                    "IPSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteLoggingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeletePermissionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteRateBasedRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteRegexMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RegexMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "RegexMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RegexPatternSetId",
                    "ChangeToken"
                ],
                "members": {
                    "RegexPatternSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleGroupId",
                    "ChangeToken"
                ],
                "members": {
                    "RuleGroupId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteSizeConstraintSet": {
            "input": {
                "type": "structure",
                "required": [
                    "SizeConstraintSetId",
                    "ChangeToken"
                ],
                "members": {
                    "SizeConstraintSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteSqlInjectionMatchSet": {
            "input": {
                "type": "structure",
                "required": [
                    "SqlInjectionMatchSetId",
                    "ChangeToken"
                ],
                "members": {
                    "SqlInjectionMatchSetId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLId",
                    "ChangeToken"
                ],
                "members": {
                    "WebACLId": {},
                    "ChangeToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
[...]
