{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-29",
        "endpointPrefix": "wafv2",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "WAFV2",
        "serviceFullName": "AWS WAFV2",
        "serviceId": "WAFV2",
        "signatureVersion": "v4",
        "targetPrefix": "AWSWAF_20190729",
        "uid": "wafv2-2019-07-29",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
        ]
    },
    "operations": {
        "AssociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLArn",
                    "ResourceArn"
                ],
                "members": {
                    "WebACLArn": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "CheckCapacity": {
            "input": {
                "type": "structure",
                "required": [
                    "Scope",
                    "Rules"
                ],
                "members": {
                    "Scope": {},
                    "Rules": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Capacity": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "CreateIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "IPAddressVersion",
                    "Addresses"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Description": {},
                    "IPAddressVersion": {},
                    "Addresses": {
                        "shape": "S3a"
                    },
                    "Tags": {
                        "shape": "S3c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S3h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "CreateRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "RegularExpressionList"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Description": {},
                    "RegularExpressionList": {
                        "shape": "S3l"
                    },
                    "Tags": {
                        "shape": "S3c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S3o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "CreateRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Capacity",
                    "VisibilityConfig"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Capacity": {
                        "type": "long"
                    },
                    "Description": {},
                    "Rules": {
                        "shape": "S6"
                    },
                    "VisibilityConfig": {
                        "shape": "S2y"
                    },
                    "Tags": {
                        "shape": "S3c"
                    },
                    "CustomResponseBodies": {
                        "shape": "S3r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S3w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "CreateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "DefaultAction",
                    "VisibilityConfig"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "DefaultAction": {
                        "shape": "S3y"
                    },
                    "Description": {},
                    "Rules": {
                        "shape": "S6"
                    },
                    "VisibilityConfig": {
                        "shape": "S2y"
                    },
                    "Tags": {
                        "shape": "S3c"
                    },
                    "CustomResponseBodies": {
                        "shape": "S3r"
                    },
                    "CaptchaConfig": {
                        "shape": "S31"
                    },
                    "ChallengeConfig": {
                        "shape": "S34"
                    },
                    "TokenDomains": {
                        "shape": "S3z"
                    },
                    "AssociationConfig": {
                        "shape": "S52"
                    },
                    "DataMaskConfig": {
                        "shape": "S5x"
                    },
                    "DDOSProtectionConfig": {
                        "shape": "S6b"
                    },
                    "DataProtectionConfig": {
                        "shape": "S5x"
                    },
                    "ApplicationConfig": {
                        "shape": "S6d"
                    },
                    "OnSourceDDoSProtectionConfig": {
                        "shape": "S6b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S42"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteFirewallManagerRuleGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLArn",
                    "WebACLLockToken"
                ],
                "members": {
                    "WebACLArn": {},
                    "WebACLLockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextWebACLLockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteLoggingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "LogType": {},
                    "LogScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeletePermissionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DeleteWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DescribeManagedRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "VendorName",
                    "Name",
                    "Scope"
                ],
                "members": {
                    "VendorName": {},
                    "Name": {},
                    "Scope": {},
                    "VersionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VersionName": {},
                    "SnsTopicArn": {},
                    "Capacity": {
                        "type": "long"
                    },
                    "Rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Action": {
                                    "shape": "S1o"
                                }
                            }
                        }
                    },
                    "LabelNamespace": {},
                    "AvailableLabels": {
                        "shape": "S4l"
                    },
                    "ConsumedLabels": {
                        "shape": "S4l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "DisassociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GenerateMobileSdkReleaseUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "Platform",
                    "ReleaseVersion"
                ],
                "members": {
                    "Platform": {},
                    "ReleaseVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IPSet": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Id",
                            "ARN",
                            "IPAddressVersion",
                            "Addresses"
                        ],
                        "members": {
                            "Name": {},
                            "Id": {},
                            "ARN": {},
                            "Description": {},
                            "IPAddressVersion": {},
                            "Addresses": {
                                "shape": "S3a"
                            }
                        }
                    },
                    "LockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetLoggingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "LogType": {},
                    "LogScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LoggingConfiguration": {
                        "shape": "S4y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetManagedRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManagedRuleSet": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Id",
                            "ARN"
                        ],
                        "members": {
                            "Name": {},
                            "Id": {},
                            "ARN": {},
                            "Description": {},
                            "PublishedVersions": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "AssociatedRuleGroupArn": {},
                                        "Capacity": {
                                            "type": "long"
                                        },
                                        "ForecastedLifetime": {
                                            "type": "integer"
                                        },
                                        "PublishTimestamp": {
                                            "type": "timestamp"
                                        },
                                        "LastUpdateTimestamp": {
                                            "type": "timestamp"
                                        },
                                        "ExpiryTimestamp": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            },
                            "RecommendedVersion": {},
                            "LabelNamespace": {}
                        }
                    },
                    "LockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetMobileSdkRelease": {
            "input": {
                "type": "structure",
                "required": [
                    "Platform",
                    "ReleaseVersion"
                ],
                "members": {
                    "Platform": {},
                    "ReleaseVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MobileSdkRelease": {
                        "type": "structure",
                        "members": {
                            "ReleaseVersion": {},
                            "Timestamp": {
                                "type": "timestamp"
                            },
                            "ReleaseNotes": {},
                            "Tags": {
                                "shape": "S3c"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetPermissionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetRateBasedStatementManagedKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "Scope",
                    "WebACLName",
                    "WebACLId",
                    "RuleName"
                ],
                "members": {
                    "Scope": {},
                    "WebACLName": {},
                    "WebACLId": {},
                    "RuleGroupRuleName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManagedKeysIPV4": {
                        "shape": "S5r"
                    },
                    "ManagedKeysIPV6": {
                        "shape": "S5r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexPatternSet": {
                        "type": "structure",
                        "members": {
                            "Name": {},
                            "Id": {},
                            "ARN": {},
                            "Description": {},
                            "RegularExpressionList": {
                                "shape": "S3l"
                            }
                        }
                    },
                    "LockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5VTLPVUY34DQOZMM4DU2XY6MHPNQBCA53IGSEQV3EA6EMK7VBCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHHSFVFGJL7IXUSSRSAEUEKYAW7OMOHVFXBY2VIBA4N5BXCXUTIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HSAYS7SXYFZNAE3LNTGEGLQME6ZXMKFPVLTYIJH3S4F64ZQ7GA/vendors.sdk.js"
            ]
        },
        "GetRuleGroup": {
            "input": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "ARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleGroup": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Id",
                            "Capacity",
                            "ARN",
                            "VisibilityConfig"
                        ],
                        "members": {
                            "Name": {},
                            "Id": {},
                            "Capacity": {
                                "type": "long"
                            },
                            "ARN": {},
                            "Description": {},
                            "Rules": {
                                "shape": "S6"
                            },
                            "VisibilityConfig": {
                                "shape": "S2y"
                            },
                            "LabelNamespace": {},
                            "CustomResponseBodies": {
                                "shape": "S3r"
                            },
                            "AvailableLabels": {
                                "shape": "S4l"
                            },
                            "ConsumedLabels": {
                                "shape": "S4l"
                            }
                        }
                    },
                    "LockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/34WRANYO7EATRQ37UHDCUGNHRM3EZ26L6OASY7HVF5ATJTLPGF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXGZWO4CA26ODJZIOOJMNP4JH2M5CFVYA52VNNP63FWWCNLKBKQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5AS67MBZLQJFEZTET7Z3OGKNPGQLVPWRXSWOLFJZNFIOLKMDXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFOTRG65CQF6LZCZ7PGUNI6CZOF4TEDEVYJT27UUMQKB6AFQQI3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GP6TC6DQERMUMQOKZCD2QQAFP3WRTMUQDTPBDRYMO7KGIBVZYZWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D63YPSWBCHULRGHB73CQGYFF56EEVM2DMXDVFJ2FKROBE5JN4INA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVNNHWZH5RJJCSQG6QHPDP2STD3CRU4LQGTHJXWVMOR2TZHXBZMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DXOUVIPRIQQ23OHUTUMBVCPTQAMQNM5BEY3237WCEAA2B2P7WA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66UPESOCXN7QL5GGRXKTOO7GSI3UJGFCVSO66EVEIYJHDWHVSXDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
[...]
