{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-29",
        "endpointPrefix": "wafv2",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "WAFV2",
        "serviceFullName": "AWS WAFV2",
        "serviceId": "WAFV2",
        "signatureVersion": "v4",
        "targetPrefix": "AWSWAF_20190729",
        "uid": "wafv2-2019-07-29",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
        ]
    },
    "operations": {
        "AssociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLArn",
                    "ResourceArn"
                ],
                "members": {
                    "WebACLArn": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "CheckCapacity": {
            "input": {
                "type": "structure",
                "required": [
                    "Scope",
                    "Rules"
                ],
                "members": {
                    "Scope": {},
                    "Rules": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Capacity": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "CreateIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "IPAddressVersion",
                    "Addresses"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Description": {},
                    "IPAddressVersion": {},
                    "Addresses": {
                        "shape": "S3a"
                    },
                    "Tags": {
                        "shape": "S3c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S3h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "CreateRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "RegularExpressionList"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Description": {},
                    "RegularExpressionList": {
                        "shape": "S3l"
                    },
                    "Tags": {
                        "shape": "S3c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S3o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "CreateRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Capacity",
                    "VisibilityConfig"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Capacity": {
                        "type": "long"
                    },
                    "Description": {},
                    "Rules": {
                        "shape": "S6"
                    },
                    "VisibilityConfig": {
                        "shape": "S2y"
                    },
                    "Tags": {
                        "shape": "S3c"
                    },
                    "CustomResponseBodies": {
                        "shape": "S3r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S3w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "CreateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "DefaultAction",
                    "VisibilityConfig"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "DefaultAction": {
                        "shape": "S3y"
                    },
                    "Description": {},
                    "Rules": {
                        "shape": "S6"
                    },
                    "VisibilityConfig": {
                        "shape": "S2y"
                    },
                    "Tags": {
                        "shape": "S3c"
                    },
                    "CustomResponseBodies": {
                        "shape": "S3r"
                    },
                    "CaptchaConfig": {
                        "shape": "S31"
                    },
                    "ChallengeConfig": {
                        "shape": "S34"
                    },
                    "TokenDomains": {
                        "shape": "S3z"
                    },
                    "AssociationConfig": {
                        "shape": "S52"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S42"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "DeleteFirewallManagerRuleGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLArn",
                    "WebACLLockToken"
                ],
                "members": {
                    "WebACLArn": {},
                    "WebACLLockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextWebACLLockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "DeleteIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "DeleteLoggingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "DeletePermissionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "DeleteRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "DeleteRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "DeleteWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "DescribeManagedRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "VendorName",
                    "Name",
                    "Scope"
                ],
                "members": {
                    "VendorName": {},
                    "Name": {},
                    "Scope": {},
                    "VersionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VersionName": {},
                    "SnsTopicArn": {},
                    "Capacity": {
                        "type": "long"
                    },
                    "Rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Action": {
                                    "shape": "S1o"
                                }
                            }
                        }
                    },
                    "LabelNamespace": {},
                    "AvailableLabels": {
                        "shape": "S4l"
                    },
                    "ConsumedLabels": {
                        "shape": "S4l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "DisassociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "GenerateMobileSdkReleaseUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "Platform",
                    "ReleaseVersion"
                ],
                "members": {
                    "Platform": {},
                    "ReleaseVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js"
            ]
        },
        "GetIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IPSet": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Id",
                            "ARN",
                            "IPAddressVersion",
                            "Addresses"
                        ],
                        "members": {
                            "Name": {},
                            "Id": {},
                            "ARN": {},
                            "Description": {},
                            "IPAddressVersion": {},
                            "Addresses": {
                                "shape": "S3a"
                            }
                        }
                    },
                    "LockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "GetLoggingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LoggingConfiguration": {
                        "shape": "S4y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "GetManagedRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManagedRuleSet": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Id",
                            "ARN"
                        ],
                        "members": {
                            "Name": {},
                            "Id": {},
                            "ARN": {},
                            "Description": {},
                            "PublishedVersions": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "AssociatedRuleGroupArn": {},
                                        "Capacity": {
                                            "type": "long"
                                        },
                                        "ForecastedLifetime": {
                                            "type": "integer"
                                        },
                                        "PublishTimestamp": {
                                            "type": "timestamp"
                                        },
                                        "LastUpdateTimestamp": {
                                            "type": "timestamp"
                                        },
                                        "ExpiryTimestamp": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            },
                            "RecommendedVersion": {},
                            "LabelNamespace": {}
                        }
                    },
                    "LockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetMobileSdkRelease": {
            "input": {
                "type": "structure",
                "required": [
                    "Platform",
                    "ReleaseVersion"
                ],
                "members": {
                    "Platform": {},
                    "ReleaseVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MobileSdkRelease": {
                        "type": "structure",
                        "members": {
                            "ReleaseVersion": {},
                            "Timestamp": {
                                "type": "timestamp"
                            },
                            "ReleaseNotes": {},
                            "Tags": {
                                "shape": "S3c"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3LOFHIKYHZECH3XKBC7ZSUQEC6GWSKKQCDJNGU6RCYVMELDHQ4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js"
            ]
        },
        "GetPermissionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "GetRateBasedStatementManagedKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "Scope",
                    "WebACLName",
                    "WebACLId",
                    "RuleName"
                ],
                "members": {
                    "Scope": {},
                    "WebACLName": {},
                    "WebACLId": {},
                    "RuleGroupRuleName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManagedKeysIPV4": {
                        "shape": "S5r"
                    },
                    "ManagedKeysIPV6": {
                        "shape": "S5r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "GetRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexPatternSet": {
                        "type": "structure",
                        "members": {
                            "Name": {},
                            "Id": {},
                            "ARN": {},
                            "Description": {},
                            "RegularExpressionList": {
                                "shape": "S3l"
                            }
                        }
                    },
                    "LockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js"
            ]
        },
        "GetRuleGroup": {
            "input": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "ARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleGroup": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Id",
                            "Capacity",
                            "ARN",
                            "VisibilityConfig"
                        ],
                        "members": {
                            "Name": {},
                            "Id": {},
                            "Capacity": {
                                "type": "long"
                            },
                            "ARN": {},
                            "Description": {},
                            "Rules": {
                                "shape": "S6"
                            },
                            "VisibilityConfig": {
[...]
