{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-29",
        "endpointPrefix": "wafv2",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "WAFV2",
        "serviceFullName": "AWS WAFV2",
        "serviceId": "WAFV2",
        "signatureVersion": "v4",
        "targetPrefix": "AWSWAF_20190729",
        "uid": "wafv2-2019-07-29",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
        ]
    },
    "operations": {
        "AssociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLArn",
                    "ResourceArn"
                ],
                "members": {
                    "WebACLArn": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CheckCapacity": {
            "input": {
                "type": "structure",
                "required": [
                    "Scope",
                    "Rules"
                ],
                "members": {
                    "Scope": {},
                    "Rules": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Capacity": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "IPAddressVersion",
                    "Addresses"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Description": {},
                    "IPAddressVersion": {},
                    "Addresses": {
                        "shape": "S3a"
                    },
                    "Tags": {
                        "shape": "S3c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S3h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "RegularExpressionList"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Description": {},
                    "RegularExpressionList": {
                        "shape": "S3l"
                    },
                    "Tags": {
                        "shape": "S3c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S3o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Capacity",
                    "VisibilityConfig"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Capacity": {
                        "type": "long"
                    },
                    "Description": {},
                    "Rules": {
                        "shape": "S6"
                    },
                    "VisibilityConfig": {
                        "shape": "S2y"
                    },
                    "Tags": {
                        "shape": "S3c"
                    },
                    "CustomResponseBodies": {
                        "shape": "S3r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S3w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "DefaultAction",
                    "VisibilityConfig"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "DefaultAction": {
                        "shape": "S3y"
                    },
                    "Description": {},
                    "Rules": {
                        "shape": "S6"
                    },
                    "VisibilityConfig": {
                        "shape": "S2y"
                    },
                    "Tags": {
                        "shape": "S3c"
                    },
                    "CustomResponseBodies": {
                        "shape": "S3r"
                    },
                    "CaptchaConfig": {
                        "shape": "S31"
                    },
                    "ChallengeConfig": {
                        "shape": "S34"
                    },
                    "TokenDomains": {
                        "shape": "S3z"
                    },
                    "AssociationConfig": {
                        "shape": "S52"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Summary": {
                        "shape": "S42"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteFirewallManagerRuleGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "WebACLArn",
                    "WebACLLockToken"
                ],
                "members": {
                    "WebACLArn": {},
                    "WebACLLockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextWebACLLockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteLoggingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "LogType": {},
                    "LogScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeletePermissionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id",
                    "LockToken"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "LockToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DescribeManagedRuleGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "VendorName",
                    "Name",
                    "Scope"
                ],
                "members": {
                    "VendorName": {},
                    "Name": {},
                    "Scope": {},
                    "VersionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VersionName": {},
                    "SnsTopicArn": {},
                    "Capacity": {
                        "type": "long"
                    },
                    "Rules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Action": {
                                    "shape": "S1o"
                                }
                            }
                        }
                    },
                    "LabelNamespace": {},
                    "AvailableLabels": {
                        "shape": "S4l"
                    },
                    "ConsumedLabels": {
                        "shape": "S4l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DisassociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "GenerateMobileSdkReleaseUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "Platform",
                    "ReleaseVersion"
                ],
                "members": {
                    "Platform": {},
                    "ReleaseVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "GetIPSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IPSet": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Id",
                            "ARN",
                            "IPAddressVersion",
                            "Addresses"
                        ],
                        "members": {
                            "Name": {},
                            "Id": {},
                            "ARN": {},
                            "Description": {},
                            "IPAddressVersion": {},
                            "Addresses": {
                                "shape": "S3a"
                            }
                        }
                    },
                    "LockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "GetLoggingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "LogType": {},
                    "LogScope": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LoggingConfiguration": {
                        "shape": "S4y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "GetManagedRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManagedRuleSet": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Id",
                            "ARN"
                        ],
                        "members": {
                            "Name": {},
                            "Id": {},
                            "ARN": {},
                            "Description": {},
                            "PublishedVersions": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "AssociatedRuleGroupArn": {},
                                        "Capacity": {
                                            "type": "long"
                                        },
                                        "ForecastedLifetime": {
                                            "type": "integer"
                                        },
                                        "PublishTimestamp": {
                                            "type": "timestamp"
                                        },
                                        "LastUpdateTimestamp": {
                                            "type": "timestamp"
                                        },
                                        "ExpiryTimestamp": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            },
                            "RecommendedVersion": {},
                            "LabelNamespace": {}
                        }
                    },
                    "LockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "GetMobileSdkRelease": {
            "input": {
                "type": "structure",
                "required": [
                    "Platform",
                    "ReleaseVersion"
                ],
                "members": {
                    "Platform": {},
                    "ReleaseVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MobileSdkRelease": {
                        "type": "structure",
                        "members": {
                            "ReleaseVersion": {},
                            "Timestamp": {
                                "type": "timestamp"
                            },
                            "ReleaseNotes": {},
                            "Tags": {
                                "shape": "S3c"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "GetPermissionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "GetRateBasedStatementManagedKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "Scope",
                    "WebACLName",
                    "WebACLId",
                    "RuleName"
                ],
                "members": {
                    "Scope": {},
                    "WebACLName": {},
                    "WebACLId": {},
                    "RuleGroupRuleName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManagedKeysIPV4": {
                        "shape": "S5r"
                    },
                    "ManagedKeysIPV6": {
                        "shape": "S5r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "GetRegexPatternSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Scope",
                    "Id"
                ],
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegexPatternSet": {
                        "type": "structure",
                        "members": {
                            "Name": {},
                            "Id": {},
                            "ARN": {},
                            "Description": {},
                            "RegularExpressionList": {
                                "shape": "S3l"
                            }
                        }
                    },
                    "LockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BNCVMKWJON3YAOP6WDCN7COWVUKE2A6RZQYS5HAC5TX7AITU4UTA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GHZMKFXZHIFEBIDBU3QGTBBWIPUJKOQ3SKPZGMI4NPLYHF7EMA3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65KR7UZPH24W6CEAC44WZ2ZE4TKAVSA2ESF7YRPZDFJKPDFZKG2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "GetRuleGroup": {
            "input": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Scope": {},
                    "Id": {},
                    "ARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleGroup": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Id",
                            "Capacity",
                            "ARN",
                            "VisibilityConfig"
                        ],
                        "members": {
                            "Name": {},
                            "Id": {},
                            "Capacity": {
                                "type": "long"
                            },
                            "ARN": {},
                            "Description": {},
                            "Rules": {
                                "shape": "S6"
                            },
                            "VisibilityConfig": {
                                "shape": "S2y"
                            },
                            "LabelNamespace": {},
                            "CustomResponseBodies": {
                                "shape": "S3r"
                            },
                            "AvailableLabels": {
                                "shape": "S4l"
                            },
                            "ConsumedLabels": {
                                "shape": "S4l"
                            }
                        }
                    },
                    "LockToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/vendors.js",
[...]
