{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-13",
        "endpointPrefix": "workspaces",
        "jsonVersion": "1.1",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "serviceAbbreviation": "WorkspacesService",
        "serviceFullName": "AWS WorkSpaces",
        "signatureVersion": "v4",
        "targetPrefix": "WorkspacesService",
        "uid": "workspaces-2020-08-13",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
        ]
    },
    "operations": {
        "AcceptAccountLinkInvitation": {
            "input": {
                "type": "structure",
                "required": [
                    "LinkId"
                ],
                "members": {
                    "LinkId": {},
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountLink": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "AssociateConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasId",
                    "ResourceId"
                ],
                "members": {
                    "AliasId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "AssociateIpGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "GroupIds"
                ],
                "members": {
                    "DirectoryId": {},
                    "GroupIds": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "AssociateSSOGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SSOGroupId"
                ],
                "members": {
                    "DirectoryId": {},
                    "SSOGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "AssociateWorkspaceApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkspaceId",
                    "ApplicationId"
                ],
                "members": {
                    "WorkspaceId": {},
                    "ApplicationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Association": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "AuthorizeIpRules": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "UserRules"
                ],
                "members": {
                    "GroupId": {},
                    "UserRules": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CopyWorkspaceImage": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "SourceImageId",
                    "SourceRegion"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "SourceImageId": {},
                    "SourceRegion": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateAccountLinkInvitation": {
            "input": {
                "type": "structure",
                "required": [
                    "TargetAccountId"
                ],
                "members": {
                    "TargetAccountId": {},
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountLink": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateConnectClientAddIn": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Name",
                    "URL"
                ],
                "members": {
                    "ResourceId": {},
                    "Name": {},
                    "URL": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddInId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionString"
                ],
                "members": {
                    "ConnectionString": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AliasId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateDirectoryUserForConsole": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Users"
                ],
                "members": {
                    "DirectoryId": {},
                    "Users": {
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SuccessResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "User": {
                                    "shape": "S1o"
                                },
                                "URL": {}
                            }
                        }
                    },
                    "FailureResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "UserName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateIpGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {},
                    "GroupDesc": {},
                    "UserRules": {
                        "shape": "Sx"
                    },
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreatePool": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Name",
                    "BundleId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Name": {},
                    "Description": {},
                    "BundleId": {},
                    "PoolProperties": {
                        "shape": "S28"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceUserRequests"
                ],
                "members": {
                    "workspaceUserRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workspaceUser",
                                "workspaceProfileId"
                            ],
                            "members": {
                                "workspaceUser": {
                                    "shape": "S1o"
                                },
                                "workspaceProfileId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directoryStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateStandbyWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "PrimaryRegion",
                    "StandbyWorkspaces"
                ],
                "members": {
                    "PrimaryRegion": {},
                    "StandbyWorkspaces": {
                        "type": "list",
                        "member": {
                            "shape": "S2i"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedStandbyRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StandbyWorkspaceRequest": {
                                    "shape": "S2i"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "PendingStandbyRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "UserName": {},
                                "DirectoryId": {},
                                "State": {},
                                "WorkspaceId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateUpdatedWorkspaceImage": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Description",
                    "SourceImageId"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "SourceImageId": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateWorkspaceBundle": {
            "input": {
                "type": "structure",
                "required": [
                    "BundleName",
                    "BundleDescription",
                    "ImageId",
                    "ComputeType",
                    "UserStorage"
                ],
                "members": {
                    "BundleName": {},
                    "BundleDescription": {},
                    "ImageId": {},
                    "ComputeType": {
                        "shape": "S30"
                    },
                    "UserStorage": {
                        "shape": "S32"
                    },
                    "RootStorage": {
                        "shape": "S33"
                    },
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkspaceBundle": {
                        "shape": "S35"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateWorkspaceImage": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Description",
                    "WorkspaceId"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "WorkspaceId": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageId": {},
                    "Name": {},
                    "Description": {},
                    "OperatingSystem": {
                        "shape": "S3b"
                    },
                    "State": {},
                    "RequiredTenancy": {},
                    "Created": {
                        "type": "timestamp"
                    },
                    "OwnerAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateWorkspaceManagedSSOApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateWorkspacePool": {
            "input": {
                "type": "structure",
                "required": [
                    "PoolName",
                    "MaxConcurrentUsers",
                    "LaunchConfiguration",
                    "NetworkConfiguration",
                    "UserAccessConfiguration"
                ],
                "members": {
                    "PoolName": {
                        "shape": "S3i"
                    },
                    "Description": {},
                    "MaxConcurrentUsers": {
                        "shape": "S3k"
                    },
                    "LaunchConfiguration": {
                        "shape": "S3l"
                    },
                    "NetworkConfiguration": {
                        "shape": "S3m"
                    },
                    "DomainJoinConfiguration": {
                        "shape": "S3r"
                    },
                    "SessionConfiguration": {
                        "shape": "S3x"
                    },
                    "UserAccessConfiguration": {
                        "shape": "S45"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkspacePool": {
                        "shape": "S4a"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "Workspaces"
                ],
                "members": {
                    "Workspaces": {
                        "type": "list",
                        "member": {
                            "shape": "S4h"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkspaceRequest": {
                                    "shape": "S4h"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "PendingRequests": {
                        "shape": "S4y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "CreateWorkspacesPool": {
            "input": {
                "type": "structure",
                "required": [
                    "PoolName",
                    "Description",
                    "BundleId",
                    "DirectoryId",
                    "Capacity"
                ],
                "members": {
                    "PoolName": {},
                    "Description": {},
                    "BundleId": {},
                    "DirectoryId": {},
                    "Capacity": {
                        "shape": "S5e"
                    },
                    "Tags": {
                        "shape": "S17"
                    },
                    "ApplicationSettings": {
                        "shape": "S5g"
                    },
                    "TimeoutSettings": {
                        "shape": "S5j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkspacesPool": {
                        "shape": "S5o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeleteAccountLinkInvitation": {
            "input": {
                "type": "structure",
                "required": [
                    "LinkId"
                ],
                "members": {
                    "LinkId": {},
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountLink": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeleteCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateId"
                ],
                "members": {
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeleteClientBranding": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Platforms"
                ],
                "members": {
                    "ResourceId": {},
                    "Platforms": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeleteConnectClientAddIn": {
            "input": {
                "type": "structure",
                "required": [
                    "AddInId",
                    "ResourceId"
                ],
                "members": {
                    "AddInId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeleteConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasId"
                ],
                "members": {
                    "AliasId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeleteIpGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeleteTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "TagKeys"
                ],
                "members": {
                    "ResourceId": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeleteWorkspaceBundle": {
            "input": {
                "type": "structure",
                "members": {
                    "BundleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeleteWorkspaceImage": {
            "input": {
                "type": "structure",
                "required": [
                    "ImageId"
                ],
                "members": {
                    "ImageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeleteWorkspaceManagedSSOApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeleteWorkspacePool": {
            "input": {
                "type": "structure",
                "required": [
                    "PoolName"
                ],
                "members": {
                    "PoolName": {
                        "shape": "S3i"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeployWorkspaceApplications": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkspaceId"
                ],
                "members": {
                    "WorkspaceId": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Deployment": {
                        "type": "structure",
                        "members": {
                            "Associations": {
                                "shape": "S6u"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DeregisterWorkspaceDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "DedicatedTenancySupport": {},
                    "DedicatedTenancyManagementCidrRange": {},
                    "DedicatedTenancyAccountType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeAccountModifications": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountModifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ModificationState": {},
                                "DedicatedTenancySupport": {},
                                "DedicatedTenancyManagementCidrRange": {},
                                "StartTime": {
                                    "type": "timestamp"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeApplicationAssociations": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "AssociatedResourceTypes"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ApplicationId": {},
                    "AssociatedResourceTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Associations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "AssociatedResourceId": {},
                                "AssociatedResourceType": {},
                                "Created": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "State": {},
                                "StateReason": {
                                    "shape": "St"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeApplications": {
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationIds": {
                        "type": "list",
                        "member": {}
                    },
                    "ComputeTypeNames": {
                        "shape": "S7h"
                    },
                    "LicenseType": {},
                    "OperatingSystemNames": {
                        "shape": "S7j"
                    },
                    "Owner": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "Created": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "LicenseType": {},
                                "Name": {},
                                "Owner": {},
                                "State": {},
                                "SupportedComputeTypeNames": {
                                    "shape": "S7h"
                                },
                                "SupportedOperatingSystemNames": {
                                    "shape": "S7j"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeBundleAssociations": {
            "input": {
                "type": "structure",
                "required": [
                    "BundleId",
                    "AssociatedResourceTypes"
                ],
                "members": {
                    "BundleId": {},
                    "AssociatedResourceTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Associations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AssociatedResourceId": {},
                                "AssociatedResourceType": {},
                                "BundleId": {},
                                "Created": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "State": {},
                                "StateReason": {
                                    "shape": "St"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeCertificates": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateIds"
                ],
                "members": {
                    "CertificateIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificates": {
                        "type": "list",
                        "member": {
                            "shape": "S7z"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeClientBranding": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeviceTypeWindows": {
                        "shape": "S86"
                    },
                    "DeviceTypeOsx": {
                        "shape": "S86"
                    },
                    "DeviceTypeAndroid": {
                        "shape": "S86"
                    },
                    "DeviceTypeIos": {
                        "shape": "S8c"
                    },
                    "DeviceTypeLinux": {
                        "shape": "S86"
                    },
                    "DeviceTypeWeb": {
                        "shape": "S86"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeClientProperties": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceIds"
                ],
                "members": {
                    "ResourceIds": {
                        "shape": "S8e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientPropertiesList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceId": {},
                                "ClientProperties": {
                                    "shape": "S8i"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeConnectClientAddIns": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddIns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AddInId": {},
                                "ResourceId": {},
                                "Name": {},
                                "URL": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeConnectionAliasPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasId"
                ],
                "members": {
                    "AliasId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AliasId": {},
                    "ConnectionAliasPermissions": {
                        "type": "list",
                        "member": {
                            "shape": "S8s"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeConnectionAliases": {
            "input": {
                "type": "structure",
                "members": {
                    "AliasIds": {
                        "type": "list",
                        "member": {}
                    },
                    "ResourceId": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionAliases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConnectionString": {},
                                "AliasId": {},
                                "State": {},
                                "OwnerAccountId": {},
                                "Associations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "AssociationStatus": {},
                                            "AssociatedAccountId": {},
                                            "ResourceId": {},
                                            "ConnectionIdentifier": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeConsoleBundlesAssociatedWithImage": {
            "input": {
                "type": "structure",
                "required": [
                    "ImageId"
                ],
                "members": {
                    "ImageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BundleArnList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeConsoleEnabledFeatures": {
            "input": {
                "type": "structure",
                "members": {},
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "members": {
                    "enabledFeatures": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeConsoleImagesForBundle": {
            "input": {
                "type": "structure",
                "required": [
                    "BundleId"
                ],
                "members": {
                    "BundleId": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BundleId": {},
                    "Images": {
                        "shape": "S9b"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeDirectoryOrganizationalUnits": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "userRealm": {},
                    "organizationalUnitNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "organizationalUnits": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CommonName": {},
                                "DistinguishedName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeDirectoryUser": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "userRealm",
                    "userName"
                ],
                "members": {
                    "directoryId": {},
                    "userRealm": {},
                    "userName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "user": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeDirectoryUserWithSearchQueryForConsole": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "UserRealm"
                ],
                "members": {
                    "DirectoryId": {},
                    "UserRealm": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "SearchQuery": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Users": {
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    },
                    "NextToken": {},
                    "FullUserCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeImageAssociations": {
            "input": {
                "type": "structure",
                "required": [
                    "ImageId",
                    "AssociatedResourceTypes"
                ],
                "members": {
                    "ImageId": {},
                    "AssociatedResourceTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Associations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AssociatedResourceId": {},
                                "AssociatedResourceType": {},
                                "Created": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "ImageId": {},
                                "State": {},
                                "StateReason": {
                                    "shape": "St"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeInviteInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "user"
                ],
                "members": {
                    "directoryId": {},
                    "user": {
                        "shape": "S1o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Links": {
                        "type": "structure",
                        "members": {
                            "downloadLink": {},
                            "inviteLink": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeIpGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "GroupIds": {
                        "shape": "Sf"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Result": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "groupId": {},
                                "groupName": {},
                                "groupDesc": {},
                                "userRules": {
                                    "shape": "Sx"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeMigrateWorkspaceOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkspaceIds"
                ],
                "members": {
                    "WorkspaceIds": {
                        "type": "list",
                        "member": {}
                    },
                    "Filters": {
                        "shape": "Sam"
                    },
                    "Limit": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AvailableBundles": {
                        "shape": "Sau"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribePools": {
            "input": {
                "type": "structure",
                "members": {
                    "PoolIds": {
                        "type": "list",
                        "member": {}
                    },
                    "Limit": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PoolId": {},
                                "DirectoryId": {},
                                "Name": {},
                                "Description": {},
                                "State": {},
                                "BundleId": {},
                                "PoolProperties": {
                                    "shape": "S28"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeRegistration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "registrationRecord": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeSupportedAvailabilityZones": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "SupportedExternalAzIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TagList": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkSpacesNetworkConfigurationOptions": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "NetworkConfiguration": {
                        "type": "structure",
                        "members": {
                            "cidrRanges": {
                                "type": "list",
                                "member": {}
                            },
                            "isDedicatedEnabled": {
                                "type": "boolean"
                            }
                        }
                    },
                    "CidrRanges": {
                        "type": "list",
                        "member": {}
                    },
                    "DedicatedConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {}
                            }
                        }
                    }
                },
                "internalonly": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceAssociations": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkspaceId",
                    "AssociatedResourceTypes"
                ],
                "members": {
                    "WorkspaceId": {},
                    "AssociatedResourceTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Associations": {
                        "shape": "S6u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceAvailableSnapshotsPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkspaceId"
                ],
                "members": {
                    "WorkspaceId": {},
                    "SnapshotId": {},
                    "CreatedAfter": {
                        "type": "timestamp"
                    },
                    "CreatedBefore": {
                        "type": "timestamp"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Snapshots": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SnapshotId": {},
                                "SnapshotTime": {
                                    "type": "timestamp"
                                },
                                "InternalWorkspaceId": {},
                                "RootVolumeEbsSnapshotId": {},
                                "UserVolumeEbsSnapshotId": {},
                                "OwningAwsAccountId": {},
                                "RootVolumeEncryptionKey": {},
                                "UserVolumeEncryptionKey": {},
                                "WorkspaceInstanceId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceBundleDetailsForConsole": {
            "input": {
                "type": "structure",
                "required": [
                    "BundleId"
                ],
                "members": {
                    "BundleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Bundle": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Name": {},
                            "Description": {},
                            "CreatedDate": {
                                "type": "timestamp"
                            },
                            "UpdatedDate": {
                                "type": "timestamp"
                            },
                            "HardwareType": {},
                            "ImageType": {
                                "shape": "S9e"
                            },
                            "LanguageType": {},
                            "RootVolumeSizeGib": {
                                "type": "integer"
                            },
                            "UserVolumeSizeGib": {
                                "type": "integer"
                            },
                            "FreeTierEligible": {
                                "type": "boolean"
                            },
                            "Deprecated": {
                                "type": "boolean"
                            },
                            "OwnerType": {},
                            "ImageId": {},
                            "ImageName": {},
                            "State": {},
                            "BundleType": {},
                            "Tags": {
                                "shape": "S17"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceBundles": {
            "input": {
                "type": "structure",
                "members": {
                    "BundleIds": {
                        "type": "list",
                        "member": {}
                    },
                    "Owner": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Bundles": {
                        "type": "list",
                        "member": {
                            "shape": "S35"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceBundlesForConsole": {
            "input": {
                "type": "structure",
                "members": {
                    "Search": {},
                    "Filters": {
                        "shape": "Sam"
                    },
                    "Sort": {
                        "type": "structure",
                        "members": {
                            "field": {},
                            "ascending": {
                                "type": "boolean"
                            }
                        }
                    },
                    "Limit": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "GetAllBundles": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Bundles": {
                        "shape": "Sau"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceDirectories": {
            "input": {
                "shape": "Sc8"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Directories": {
                        "shape": "Sch"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceDirectoriesForConsole": {
            "input": {
                "shape": "Sc8"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Directories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Certificates": {
                                    "shape": "Sdk"
                                },
                                "DirectoryId": {},
                                "Alias": {},
                                "DirectoryName": {},
                                "RegistrationCode": {},
                                "SubnetIds": {
                                    "shape": "S3o"
                                },
                                "DnsIpAddresses": {
                                    "shape": "Sck"
                                },
                                "CustomerUserName": {},
                                "IamRoleId": {},
                                "DirectoryType": {},
                                "WorkspaceSecurityGroupId": {},
                                "State": {},
                                "WorkspaceCreationProperties": {
                                    "shape": "Scn"
                                },
                                "ipGroupIds": {
                                    "shape": "Sf"
                                },
                                "WorkspaceAccessProperties": {
                                    "shape": "Scp"
                                },
                                "Tenancy": {},
                                "SelfservicePermissions": {
                                    "shape": "Scs"
                                },
                                "SamlProperties": {
                                    "shape": "S46"
                                },
                                "CertificateBasedAuthProperties": {
                                    "shape": "Sct"
                                },
                                "EndpointEncryptionMode": {},
                                "MicrosoftEntraConfig": {
                                    "shape": "Scx"
                                },
                                "WorkspaceDirectoryName": {},
                                "WorkspaceDirectoryDescription": {},
                                "UserIdentityType": {},
                                "WorkspaceType": {},
                                "IDCConfig": {
                                    "shape": "Sd3"
                                },
                                "ActiveDirectoryConfig": {
                                    "shape": "Sd4"
                                },
                                "StreamingProperties": {
                                    "shape": "Sd6"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceDirectoriesPrivate": {
            "input": {
                "shape": "Sc8"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Directories": {
                        "shape": "Sch"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceImageDetailsForConsole": {
            "input": {
                "type": "structure",
                "required": [
                    "ImageId"
                ],
                "members": {
                    "ImageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Image": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Name": {},
                            "Description": {},
                            "CreatedDate": {
                                "type": "timestamp"
                            },
                            "RootVolumeSizeGib": {
                                "type": "integer"
                            },
                            "Type": {
                                "shape": "S9e"
                            },
                            "State": {},
                            "Status": {},
                            "StatusMessage": {},
                            "OwnerAccountId": {},
                            "Tags": {
                                "shape": "S17"
                            },
                            "AllowedCopyDestinationRegionNames": {
                                "shape": "S9m"
                            },
                            "ErrorDetailsForConsole": {
                                "shape": "S9o"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceImagePermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "ImageId"
                ],
                "members": {
                    "ImageId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageId": {},
                    "ImagePermissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SharedAccountId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceImages": {
            "input": {
                "type": "structure",
                "members": {
                    "ImageIds": {
                        "shape": "Sdv"
                    },
                    "ImageType": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Images": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ImageId": {},
                                "Name": {},
                                "Description": {},
                                "OperatingSystem": {
                                    "shape": "S3b"
                                },
                                "State": {},
                                "RequiredTenancy": {},
                                "ErrorCode": {},
                                "ErrorMessage": {},
                                "Created": {
                                    "type": "timestamp"
                                },
                                "SoftwarePackage": {},
                                "OwnerAccountId": {},
                                "RootStorage": {
                                    "shape": "S33"
                                },
                                "ProgressPercentage": {
                                    "type": "integer"
                                },
                                "StageMessage": {},
                                "Updates": {
                                    "type": "structure",
                                    "members": {
                                        "UpdateAvailable": {
                                            "type": "boolean"
                                        },
                                        "Description": {}
                                    }
                                },
                                "ErrorDetails": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ErrorCode": {},
                                            "ErrorMessage": {}
                                        }
                                    }
                                },
                                "Protocol": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js"
            ]
        },
        "DescribeWorkspaceImagesForConsole": {
            "input": {
                "type": "structure",
                "members": {
                    "ImageIds": {
                        "shape": "Sdv"
                    },
                    "Sort": {
                        "type": "structure",
                        "required": [
                            "Property",
                            "Order"
                        ],
                        "members": {
                            "Property": {},
                            "Order": {}
                        }
                    },
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "State": {},
                            "License": {}
                        }
                    },
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Images": {
                        "shape": "S9b"
                    },
[...]
