{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-05-11",
        "endpointPrefix": "manage.zocalo",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "WorkDocs ControlPlane Service",
        "serviceId": "WorkDocs ControlPlane",
        "signatureVersion": "v4",
        "signingName": "workdocs",
        "uid": "workdocs-controlplane-service-2021-05-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
        ]
    },
    "operations": {
        "ActivateUser": {
            "http": {
                "method": "PUT",
                "requestUri": "/gb/api/v1/instance/{id}/user/activation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "userSid": {},
                    "username": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "AddNotificationPermissions": {
            "http": {
                "requestUri": "/gb/api/v2/notifications/{OrganizationId}/{ClientId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ClientId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    },
                    "ClientId": {
                        "location": "uri",
                        "locationName": "ClientId"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "AddUserToGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/gb/api/v1/instance/{directoryId}/user/groups/{group}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "group"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    },
                    "userSid": {},
                    "username": {},
                    "group": {
                        "location": "uri",
                        "locationName": "group"
                    },
                    "notify": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "AssociateAccount": {
            "http": {
                "requestUri": "/gb/api/v1/sites/account"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountAssociationCode"
                ],
                "members": {
                    "siteId": {},
                    "alias": {},
                    "accountAssociationCode": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "awsAccountId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "AssociateEnterpriseActiveDirectory": {
            "http": {
                "requestUri": "/gb/api/v1/instance/{id}/ad",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "organizationId"
                ],
                "members": {
                    "organizationId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "directoryId": {},
                    "serviceAccount": {
                        "shape": "Sk"
                    },
                    "directorySettings": {
                        "shape": "Sm"
                    },
                    "vpcSettings": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instance": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "CheckAlias": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/alias/{alias}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "alias"
                ],
                "members": {
                    "alias": {
                        "location": "uri",
                        "locationName": "alias"
                    },
                    "instanceType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Available": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "CreateApplication": {
            "http": {
                "requestUri": "/gb/api/v1/applications",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "RedirectUris",
                    "Name",
                    "Description",
                    "Scopes",
                    "EmailAddress"
                ],
                "members": {
                    "RedirectUris": {
                        "shape": "S1g"
                    },
                    "Name": {},
                    "Description": {},
                    "Scopes": {
                        "shape": "S1k"
                    },
                    "EmailAddress": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Id": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "CreateInstance": {
            "http": {
                "requestUri": "/gb/api/v1/instance",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "alias",
                    "mode"
                ],
                "members": {
                    "alias": {},
                    "mode": {},
                    "administratorInformation": {
                        "type": "structure",
                        "members": {
                            "username": {},
                            "givenName": {},
                            "surname": {},
                            "email": {
                                "shape": "S1s"
                            }
                        }
                    },
                    "administratorUserIds": {
                        "type": "list",
                        "member": {}
                    },
                    "serviceAccount": {
                        "shape": "Sk"
                    },
                    "directoryId": {},
                    "directorySettings": {
                        "shape": "Sm"
                    },
                    "vpcSettings": {
                        "shape": "Ss"
                    },
                    "inviteEmailList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "EmailAddress",
                                "UserType"
                            ],
                            "members": {
                                "EmailAddress": {
                                    "shape": "S1s"
                                },
                                "UserType": {}
                            }
                        }
                    },
                    "sseSpec": {
                        "shape": "S18"
                    },
                    "secondaryRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instance": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "CreateNotificationTopic": {
            "http": {
                "requestUri": "/gb/api/v1/instance/{directoryId}/notification/topic",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "roleArn"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "topicArnList": {
                        "shape": "S22"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DeactivateUser": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/instance/{id}/user/{userSid}/activation",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "userSid"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "userSid": {
                        "location": "uri",
                        "locationName": "userSid"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/applications/{ApplicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DeleteInstance": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/instance",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "id": {
                        "location": "querystring",
                        "locationName": "id"
                    },
                    "alias": {
                        "location": "querystring",
                        "locationName": "alias"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DeleteNotificationPermissions": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v2/notifications/{OrganizationId}/{ClientId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ClientId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    },
                    "ClientId": {
                        "location": "uri",
                        "locationName": "ClientId"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DeleteNotificationTopic": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/instance/{directoryId}/notification/topic",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "roleArn"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    },
                    "roleArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DeregisterDirectory": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/directory/{id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DescribeApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ApplicationDetails": {
                                    "shape": "S2j"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DescribeAvailableDirectories": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/directory",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "location": "querystring",
                        "locationName": "filter"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "alias": {},
                                "fqdn": {},
                                "tags": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "value": {}
                                        }
                                    }
                                },
                                "attachedToInstances": {
                                    "shape": "S2v"
                                },
                                "launchTime": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DescribeDirectoryMFA": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/mfa/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaStatus": {},
                    "mfaSettings": {
                        "shape": "S2z"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js"
            ]
        },
        "DescribeEnabledNotifications": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/notifications/{OrganizationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientIds": {
                        "shape": "S37"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DescribeInstances": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/instance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InstanceIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instances": {
                        "shape": "S2v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DescribeNotificationPermissions": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v2/notifications/{OrganizationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientIds": {
                        "shape": "S37"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "DisableDirectoryMFA": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/mfa/{id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js"
            ]
        },
        "DisableNotifications": {
            "http": {
                "requestUri": "/gb/api/v1/notifications/{OrganizationId}/disable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ClientId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    },
                    "ClientId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "EnableDirectoryMFA": {
            "http": {
                "requestUri": "/gb/api/v1/mfa/{id}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "mfaSettings": {
                        "shape": "S2z"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js"
            ]
        },
        "EnableNotifications": {
            "http": {
                "requestUri": "/gb/api/v1/notifications/{OrganizationId}/enable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ClientId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    },
                    "ClientId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/applications/{ApplicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Details": {
                        "shape": "S2j"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYBE2ZQBZHWHNR6EITMYRRQROCCEBTXY223YS3A6I4E5DW5RD5SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4MU5NX4IRVHV3BFGAREQJKH5HKBE3AGA65IMW5JOBFOZHJAKNQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js"
            ]
        },
        "GetNotificationTopic": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/instance/{directoryId}/notification/topic",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "topicArnList": {
                        "shape": "S22"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS774EJJRIFLUICHU6IDIC35CS3677GF5EAYN4A4ALLHUBABHXDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDSYLGSFK3B2L6T65EFSRCRHUZHQBMVEHXSSMJMYL5XRHXXWH4DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4KEY42PDWQOYG4IPE3FUNHP5QMR2JKJPJFZF5W35RAAONXGIIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYWEOIYFJJRKNE4ME4YK6HQTHVUI76EG2VM57J2X4S2F56NMMVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWCFMPAW2BAF5673HKYKZBB4AQLI7Q5QGCNAG4DDUOFYJDXWVMKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AG4CVVMQW3TPQTVEFRAZMLPXMP2MMBOYUEWE3EMGHRUQH4DJVSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLX2JBLWIWSO2RCUYBWN6VBUXZIQKSUMMHWSOSPZL4GKMKLMUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYX35H2KTGNK3BY3TAVVT35LKIGQ2UOKB4SJW7AMKQMIS3MYI6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WA3IS3GCJHGQF4P3JYPGRWIZNTMTKOEIUBYEFECDF2AINSUTDRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NP6WEHMVP6ZVBJXC7V2AEQT3PWMKF5UAGB7RZV6DQUEQLNJJ3OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXASCXNCACW6IARTXUDO4CZXM6PFYMEQBALBM4DPJ7V7IPGQRD6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIMRBTMCLMOQQC36BX7IEYKOCNETT4C3Z5NGGG7VNJ53GSFLVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24LZDKJMZFLRFZBMRZDDEN2PAOGXGQBEJKEULRVKLPER3FKXVSVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B42OLU3XOPSL2U5QI54DAGLQ4SKXQ7SB5C7RKVBFQXUNHOBRAQ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJB7MW7D6G5ZZDNICKUTIFAS6RH5REEFUMB374GO2OS626W3BOCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SM3PY3XCMH6SJK5DCQSGX6EL3OMZFKU5EYYJCJGBWCAVB25KSWOQ/main.js",
[...]
