{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-02-09",
        "endpointPrefix": "workload-provisioning",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Workload Provisioning",
        "serviceFullName": "AWS Launch Wizard",
        "serviceId": "Workload Provisioning",
        "signatureVersion": "v4",
        "signingName": "app-provisioning",
        "targetPrefix": "AWSWorkloadProvisioningService",
        "uid": "workload-provisioning-2022-02-09",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
        ]
    },
    "operations": {
        "CreateAdditionalNode": {
            "input": {
                "type": "structure",
                "required": [
                    "actionType",
                    "userSpecifications",
                    "dryRun"
                ],
                "members": {
                    "actionType": {},
                    "userSpecifications": {
                        "shape": "S3"
                    },
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "actionId": {},
                    "provisioningParameters": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "CreateSettingsSet": {
            "input": {
                "type": "structure",
                "required": [
                    "applicationType",
                    "name",
                    "settings"
                ],
                "members": {
                    "applicationType": {},
                    "name": {},
                    "settings": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "DeleteAdditionalNode": {
            "input": {
                "type": "structure",
                "required": [
                    "actionId",
                    "parentProvisioningId"
                ],
                "members": {
                    "actionId": {},
                    "parentProvisioningId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "deletionStartTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "DeleteApp": {
            "input": {
                "type": "structure",
                "required": [
                    "provisioningId"
                ],
                "members": {
                    "provisioningId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "deletionStartTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "DeleteSettingsSet": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "DescribeAdditionalNode": {
            "input": {
                "type": "structure",
                "required": [
                    "parentProvisioningId",
                    "actionId"
                ],
                "members": {
                    "parentProvisioningId": {},
                    "actionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "status": {},
                    "timestamp": {
                        "type": "long"
                    },
                    "userSpecifications": {
                        "shape": "S3"
                    },
                    "provisioningParameters": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "DescribeProvisionedApp": {
            "input": {
                "type": "structure",
                "required": [
                    "provisioningId"
                ],
                "members": {
                    "provisioningId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "appId": {},
                    "deploymentOptionId": {},
                    "workloadVersionId": {},
                    "id": {},
                    "status": {},
                    "timestamp": {
                        "type": "long"
                    },
                    "productId": {},
                    "userSpecifications": {
                        "shape": "S3"
                    },
                    "provisioningParameters": {
                        "shape": "S3"
                    },
                    "additionalSpecifications": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "DescribeProvisioningEvents": {
            "input": {
                "type": "structure",
                "required": [
                    "provisioningId"
                ],
                "members": {
                    "provisioningId": {},
                    "actionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "provisioningId": {},
                    "actionId": {},
                    "provisioningEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "id": {
                                    "type": "long"
                                },
                                "description": {},
                                "status": {},
                                "statusReason": {},
                                "timestamp": {
                                    "type": "long"
                                },
                                "eventType": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "DescribeSettingsSet": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "GetInfrastructureSuggestion": {
            "input": {
                "type": "structure",
                "members": {
                    "workloadType": {},
                    "infrastructureSpecifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "specifications": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "allowedTypes": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "infrastructureSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "suggestion": {},
                                "instanceSaps": {},
                                "fsxStorage": {},
                                "fsxThroughput": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "GetIpAddress": {
            "output": {
                "type": "structure",
                "members": {
                    "ipAddress": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "GetResourceCostEstimate": {
            "input": {
                "type": "structure",
                "members": {
                    "resourceSpecifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "parameters": {
                                    "shape": "S3"
                                }
                            }
                        }
                    },
                    "appId": {},
                    "deploymentOptionId": {},
                    "workloadVersionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceCostDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "category": {},
                                "type": {},
                                "price": {
                                    "type": "double"
                                },
                                "unit": {},
                                "subtype": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "GetWorkloadAssets": {
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "deploymentOptionId",
                    "workloadVersionId",
                    "assetFilters"
                ],
                "members": {
                    "appId": {},
                    "deploymentOptionId": {},
                    "workloadVersionId": {},
                    "assetFilters": {
                        "type": "list",
                        "member": {
                            "shape": "S1k"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "metadataAsset": {
                        "type": "structure",
                        "members": {
                            "signedURL": {}
                        }
                    },
                    "helpPanelAssets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "fileName": {},
                                "signedURL": {}
                            }
                        }
                    },
                    "failedAssetRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "assetFilter": {
                                    "shape": "S1k"
                                },
                                "reason": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "ListAdditionalNodes": {
            "input": {
                "type": "structure",
                "required": [
                    "parentProvisioningId"
                ],
                "members": {
                    "parentProvisioningId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "additionalNodes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "actionId": {},
                                "status": {},
                                "timestamp": {
                                    "type": "long"
                                },
                                "parameters": {
                                    "shape": "S3"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "ListProvisionedApps": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "provisionedApps": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "id": {},
                                "provisioningId": {},
                                "description": {},
                                "resourceGroup": {},
                                "productId": {},
                                "status": {},
                                "timestamp": {
                                    "type": "long"
                                },
                                "userSpecifications": {
                                    "shape": "S3"
                                },
                                "allowedOperations": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "ListSettingsSets": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSets": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "ListWorkloadDeploymentOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {},
                    "maxItems": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "appId": {},
                    "displayName": {},
                    "description": {},
                    "isActive": {
                        "type": "boolean"
                    },
                    "deploymentOptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "deploymentOptionId": {},
                                "displayName": {},
                                "description": {},
                                "workloadVersionId": {},
                                "isActive": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "ListWorkloads": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workloads": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "appId": {},
                                "displayName": {},
                                "description": {},
                                "documentationLink": {},
                                "isActive": {
                                    "type": "boolean"
                                },
                                "createdTime": {},
                                "updatedTime": {},
                                "iconSignedURL": {},
                                "workloadStatus": {},
                                "workloadStatusMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "StartProvisioning": {
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "userSpecifications",
                    "dryRun"
                ],
                "members": {
                    "appId": {},
                    "userSpecifications": {
                        "shape": "S3"
                    },
                    "additionalSpecifications": {
                        "shape": "S3"
                    },
                    "dryRun": {
                        "type": "boolean"
                    },
                    "applicationName": {},
                    "deploymentOptionId": {},
                    "workloadVersionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "provisioningId": {},
                    "provisioningParameters": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        },
        "UpdateSettingsSet": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "settings"
                ],
                "members": {
                    "name": {},
                    "settings": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZBB4AIVG7LBUX5RZE3URIYOYC24FNUM3VHMKYUWJSVBVBTP5JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SWUI5TZIS27KFNDXPB7MCQPSGUXSCZFFCAYJ2DBRXXSFNSQ7ASQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBPLEQH7QCPLA6GOVSIQPSGZVDUEICE7IS34Y4LXWN5ZGX7ZIFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKQ6GHTQYDSEYLOY3NJG3SVT7ANEGJHLHPJKZKJJVUQM4WHONVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW7TTWAZXUHEGXR3HSWZ64EUNL6HLD3ABOC6Y2AVAEK7ESUVEG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YSFGEMCDIMHL5LR2LN27UOMQ52USC7NCCRM5N6IF4LCDJTHXBTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5OC3DS4TYSLTNDRXJ4PPLWJ3DC5FCPQ4JFQTUK6ONPKAMTVON7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IDICXCTFPAIYRSWMMFWWA2OP2NOAC4HUGOKDAHCKRKN3GE3HILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFBGSJQOT2TUFYKWFV5AEO6HK5K42SNKGLAQ57TO5CO5XUMPKAAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH7ZWHYLBXAA6L6KZXB2I4URGPMBIK5AFZS7FD3GS5EBXJOKRRTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTGQVOXE44V7N7FFPXEK6TRT3RPT35TOYX6WCWGDOCABJYKT73GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFO4BOWXXZJK64QLWGGSBPAMTVXTICYQLBK3V3AF4ZNUJWWUEJDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2UYZA3ALIYJCBIN55CI2FJGVXH2YYWL5OOUO6ODLZL73OQN4Y2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YK7KLZWSNXXSUFWQSNWT5MX5TZEZIOCHQZRRYMVOMAQNWYJYXD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FBWIXD57IUX2SUUYAANVDFJ5H42TLNIOKYNIM23XKN6WLLHSS7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJGVY3DHZJ4E533TQSVWFPDZW6QIBHWQ4SJUNDBMTIV6IPUELQNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STXZPBWE7QEF25P6NPXKVBI42ETDKOP72YAASPLDCWV36ISEYJEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBQ2B57C7I7FKZJJ3EHXOGCIQWG44LMLKVQPKA4XXTQC6IVSNNAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLUMBOWVLKCUMG7MTQOTWURR2NJ75FYNVLNOBT6QTNRRNFNECRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KUFSO3LI4WWIBQHJGVO252UPDHYOXMR7M27KXD5AXFGUZN6RLRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFCMRACJ5MZFFFPKDO3N4PV56R3D3VD4CTBWLAX2CDNU6TCHBB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Z54TRWCDT6ZDFQLOH2TF3X4ZVJQIPGBFUYIWO66RNOC2INCAQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONXJI7HTDQTFPB67XFKWBUCD4GNQPOZV4CUBXYUHJXKHJ2DPPIQ/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sc": {
            "type": "structure",
            "members": {
                "applicationType": {},
                "name": {},
                "settings": {
                    "shape": "S3"
                }
            }
        },
        "S1k": {
            "type": "structure",
            "members": {
                "assetType": {},
                "fileFilters": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        }
    }
}