{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-01",
        "endpointPrefix": "workmail",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon WorkMail",
        "serviceId": "WorkMail",
        "signatureVersion": "v4",
        "targetPrefix": "WorkMailService",
        "uid": "workmail-2017-10-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateDelegateToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ResourceId",
                    "EntityId"
                ],
                "members": {
                    "OrganizationId": {},
                    "ResourceId": {},
                    "EntityId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "OrganizationId": {},
                    "GroupId": {},
                    "MemberId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssumeImpersonationRole": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ImpersonationRoleId"
                ],
                "members": {
                    "OrganizationId": {},
                    "ImpersonationRoleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Token": {},
                    "ExpiresIn": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CancelMailboxExportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "JobId",
                    "OrganizationId"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "JobId": {},
                    "OrganizationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "EntityId",
                    "Alias"
                ],
                "members": {
                    "OrganizationId": {},
                    "EntityId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateAvailabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "DomainName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "OrganizationId": {},
                    "DomainName": {},
                    "EwsProvider": {
                        "shape": "Sm"
                    },
                    "LambdaProvider": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name"
                ],
                "members": {
                    "OrganizationId": {},
                    "Name": {},
                    "HiddenFromGlobalAddressList": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateImpersonationRole": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name",
                    "Type",
                    "Rules"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "OrganizationId": {},
                    "Name": {},
                    "Type": {},
                    "Description": {},
                    "Rules": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImpersonationRoleId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateMobileDeviceAccessRule": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name",
                    "Effect"
                ],
                "members": {
                    "OrganizationId": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Description": {},
                    "Effect": {},
                    "DeviceTypes": {
                        "shape": "S1d"
                    },
                    "NotDeviceTypes": {
                        "shape": "S1d"
                    },
                    "DeviceModels": {
                        "shape": "S1f"
                    },
                    "NotDeviceModels": {
                        "shape": "S1f"
                    },
                    "DeviceOperatingSystems": {
                        "shape": "S1h"
                    },
                    "NotDeviceOperatingSystems": {
                        "shape": "S1h"
                    },
                    "DeviceUserAgents": {
                        "shape": "S1j"
                    },
                    "NotDeviceUserAgents": {
                        "shape": "S1j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MobileDeviceAccessRuleId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Domains": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DomainName": {},
                                "HostedZoneId": {}
                            }
                        }
                    },
                    "KmsKeyArn": {},
                    "EnableInteroperability": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateResource": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name",
                    "Type"
                ],
                "members": {
                    "OrganizationId": {},
                    "Name": {},
                    "Type": {},
                    "Description": {},
                    "HiddenFromGlobalAddressList": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name",
                    "DisplayName",
                    "Password"
                ],
                "members": {
                    "OrganizationId": {},
                    "Name": {},
                    "DisplayName": {},
                    "Password": {
                        "shape": "Sp"
                    },
                    "Role": {},
                    "FirstName": {
                        "shape": "S23"
                    },
                    "LastName": {
                        "shape": "S23"
                    },
                    "HiddenFromGlobalAddressList": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAccessControlRule": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name"
                ],
                "members": {
                    "OrganizationId": {},
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "EntityId",
                    "Alias"
                ],
                "members": {
                    "OrganizationId": {},
                    "EntityId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAvailabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "DomainName"
                ],
                "members": {
                    "OrganizationId": {},
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteEmailMonitoringConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId"
                ],
                "members": {
                    "OrganizationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "GroupId"
                ],
                "members": {
                    "OrganizationId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteImpersonationRole": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ImpersonationRoleId"
                ],
                "members": {
                    "OrganizationId": {},
                    "ImpersonationRoleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGQ4IKWIF37IPK6FD7NCKUXULHJL2XGCFWJCSMO5HYEASQO43XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35RE4HCE4ALSMJZOSIFJKJ5URU6ZJV333GHRXFKDZ56SKFCJSJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HGOUZQ57QXPX77RWQ44FUXPSPJ6ZKSVX2SJPTKYCITLLNDJDCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteMailboxPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "EntityId",
                    "GranteeId"
                ],
                "members": {
                    "OrganizationId": {},
                    "EntityId": {},
                    "GranteeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteMobileDeviceAccessOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "UserId",
                    "DeviceId"
                ],
                "members": {
                    "OrganizationId": {},
                    "UserId": {},
                    "DeviceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteMobileDeviceAccessRule": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "MobileDeviceAccessRuleId"
                ],
                "members": {
                    "OrganizationId": {},
                    "MobileDeviceAccessRuleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "DeleteDirectory"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "OrganizationId": {},
                    "DeleteDirectory": {
                        "type": "boolean"
                    },
                    "ForceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationId": {},
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteResource": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ResourceId"
                ],
                "members": {
                    "OrganizationId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteRetentionPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Id"
                ],
                "members": {
                    "OrganizationId": {},
                    "Id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "UserId"
                ],
                "members": {
                    "OrganizationId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeregisterFromWorkMail": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "EntityId"
                ],
                "members": {
                    "OrganizationId": {},
                    "EntityId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
[...]
