{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-05-11",
        "endpointPrefix": "manage.zocalo",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "WorkDocs ControlPlane Service",
        "serviceId": "WorkDocs ControlPlane",
        "signatureVersion": "v4",
        "signingName": "workdocs",
        "uid": "workdocs-controlplane-service-2021-05-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
        ]
    },
    "operations": {
        "ActivateUser": {
            "http": {
                "method": "PUT",
                "requestUri": "/gb/api/v1/instance/{id}/user/activation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "userSid": {},
                    "username": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "AddNotificationPermissions": {
            "http": {
                "requestUri": "/gb/api/v2/notifications/{OrganizationId}/{ClientId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ClientId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    },
                    "ClientId": {
                        "location": "uri",
                        "locationName": "ClientId"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "AddUserToGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/gb/api/v1/instance/{directoryId}/user/groups/{group}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "group"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    },
                    "userSid": {},
                    "username": {},
                    "group": {
                        "location": "uri",
                        "locationName": "group"
                    },
                    "notify": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "AssociateAccount": {
            "http": {
                "requestUri": "/gb/api/v1/sites/account"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountAssociationCode"
                ],
                "members": {
                    "siteId": {},
                    "alias": {},
                    "accountAssociationCode": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "awsAccountId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "AssociateEnterpriseActiveDirectory": {
            "http": {
                "requestUri": "/gb/api/v1/instance/{id}/ad",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "organizationId"
                ],
                "members": {
                    "organizationId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "directoryId": {},
                    "serviceAccount": {
                        "shape": "Sk"
                    },
                    "directorySettings": {
                        "shape": "Sm"
                    },
                    "vpcSettings": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instance": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "CheckAlias": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/alias/{alias}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "alias"
                ],
                "members": {
                    "alias": {
                        "location": "uri",
                        "locationName": "alias"
                    },
                    "instanceType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Available": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "CreateApplication": {
            "http": {
                "requestUri": "/gb/api/v1/applications",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "RedirectUris",
                    "Name",
                    "Description",
                    "Scopes",
                    "EmailAddress"
                ],
                "members": {
                    "RedirectUris": {
                        "shape": "S1g"
                    },
                    "Name": {},
                    "Description": {},
                    "Scopes": {
                        "shape": "S1k"
                    },
                    "EmailAddress": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Id": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "CreateInstance": {
            "http": {
                "requestUri": "/gb/api/v1/instance",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "alias",
                    "mode"
                ],
                "members": {
                    "alias": {},
                    "mode": {},
                    "administratorInformation": {
                        "type": "structure",
                        "members": {
                            "username": {},
                            "givenName": {},
                            "surname": {},
                            "email": {
                                "shape": "S1s"
                            }
                        }
                    },
                    "administratorUserIds": {
                        "type": "list",
                        "member": {}
                    },
                    "serviceAccount": {
                        "shape": "Sk"
                    },
                    "directoryId": {},
                    "directorySettings": {
                        "shape": "Sm"
                    },
                    "vpcSettings": {
                        "shape": "Ss"
                    },
                    "inviteEmailList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "EmailAddress",
                                "UserType"
                            ],
                            "members": {
                                "EmailAddress": {
                                    "shape": "S1s"
                                },
                                "UserType": {}
                            }
                        }
                    },
                    "sseSpec": {
                        "shape": "S18"
                    },
                    "secondaryRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instance": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "CreateNotificationTopic": {
            "http": {
                "requestUri": "/gb/api/v1/instance/{directoryId}/notification/topic",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "roleArn"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "topicArnList": {
                        "shape": "S22"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DeactivateUser": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/instance/{id}/user/{userSid}/activation",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "userSid"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "userSid": {
                        "location": "uri",
                        "locationName": "userSid"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/applications/{ApplicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DeleteInstance": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/instance",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "id": {
                        "location": "querystring",
                        "locationName": "id"
                    },
                    "alias": {
                        "location": "querystring",
                        "locationName": "alias"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DeleteNotificationPermissions": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v2/notifications/{OrganizationId}/{ClientId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ClientId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    },
                    "ClientId": {
                        "location": "uri",
                        "locationName": "ClientId"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DeleteNotificationTopic": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/instance/{directoryId}/notification/topic",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "roleArn"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    },
                    "roleArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DeregisterDirectory": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/directory/{id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DescribeApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ApplicationDetails": {
                                    "shape": "S2j"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DescribeAvailableDirectories": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/directory",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "location": "querystring",
                        "locationName": "filter"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "alias": {},
                                "fqdn": {},
                                "tags": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "value": {}
                                        }
                                    }
                                },
                                "attachedToInstances": {
                                    "shape": "S2v"
                                },
                                "launchTime": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DescribeDirectoryMFA": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/mfa/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaStatus": {},
                    "mfaSettings": {
                        "shape": "S2z"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js"
            ]
        },
        "DescribeEnabledNotifications": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/notifications/{OrganizationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientIds": {
                        "shape": "S37"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DescribeInstances": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/instance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InstanceIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instances": {
                        "shape": "S2v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DescribeNotificationPermissions": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v2/notifications/{OrganizationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientIds": {
                        "shape": "S37"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DisableDirectoryMFA": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/mfa/{id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js"
            ]
        },
        "DisableNotifications": {
            "http": {
                "requestUri": "/gb/api/v1/notifications/{OrganizationId}/disable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ClientId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    },
                    "ClientId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "EnableDirectoryMFA": {
            "http": {
                "requestUri": "/gb/api/v1/mfa/{id}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "mfaSettings": {
                        "shape": "S2z"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js"
            ]
        },
        "EnableNotifications": {
            "http": {
                "requestUri": "/gb/api/v1/notifications/{OrganizationId}/enable",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ClientId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    },
                    "ClientId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/applications/{ApplicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Details": {
                        "shape": "S2j"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "GetNotificationTopic": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/instance/{directoryId}/notification/topic",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "topicArnList": {
                        "shape": "S22"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "IsFeatureEnabled": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v1/feature/{featureName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "featureName"
                ],
                "members": {
                    "featureName": {
                        "location": "uri",
                        "locationName": "featureName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "featureEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "RegisterDirectory": {
            "http": {
                "requestUri": "/gb/api/v1/directory/{id}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "alias": {},
                    "storageRule": {
                        "type": "structure",
                        "required": [
                            "StorageType"
                        ],
                        "members": {
                            "StorageAllocatedInBytes": {
                                "type": "long"
                            },
                            "StorageType": {}
                        }
                    },
                    "adminSid": {},
                    "sendInvite": {
                        "type": "boolean"
                    },
                    "vendor": {},
                    "sseSpec": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instance": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "RemoveUserFromGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/gb/api/v1/instance/{directoryId}/user/{userSid}/groups/{group}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "userSid",
                    "group"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    },
                    "userSid": {
                        "location": "uri",
                        "locationName": "userSid"
                    },
                    "group": {
                        "location": "uri",
                        "locationName": "group"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "ResendUserNotification": {
            "http": {
                "requestUri": "/gb/api/v1/instance/{directoryId}/notification",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    },
                    "userSid": {},
                    "userName": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "ResetOrganizationAccessControlPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/gb/api/v1/instance/{OrganizationId}/accesscontrol/reset",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "RestoreInstance": {
            "http": {
                "method": "PUT",
                "requestUri": "/gb/api/v1/instance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "organizationId": {
                        "location": "querystring",
                        "locationName": "organizationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instance": {
                        "shape": "Sx"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "RestoreInstanceGrants": {
            "http": {
                "requestUri": "/gb/api/v1/instance/{directoryId}/grants",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "SetPublishRoleArn": {
            "http": {
                "requestUri": "/gb/api/v1/instance/{directoryId}/notification/publishRoleArn",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "roleArn"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    },
                    "roleArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "UpdateApplication": {
            "http": {
                "method": "PATCH",
                "requestUri": "/gb/api/v1/applications/{ApplicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "RedirectUris": {
                        "shape": "S1g"
                    },
                    "Description": {},
                    "Scopes": {
                        "shape": "S1k"
                    },
                    "Status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "UpdateDirectoryMFA": {
            "http": {
                "method": "PUT",
                "requestUri": "/gb/api/v1/mfa/{id}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "mfaSettings": {
                        "shape": "S2z"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js"
            ]
        },
        "UpdateInstanceAlias": {
            "http": {
                "method": "PUT",
                "requestUri": "/gb/api/v1/instance/{id}/alias/{alias}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "alias"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "alias": {
                        "location": "uri",
                        "locationName": "alias"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "UpdateOrganizationAccessControlPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/gb/api/v1/instance/{OrganizationId}/accesscontrol/update",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "uri",
                        "locationName": "OrganizationId"
                    },
                    "AccessControlPolicy": {
                        "shape": "S46"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessControlPolicy": {
                        "shape": "S46"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "DescribeInstanceExports": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v2/instance/{directoryId}/export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {
                        "location": "uri",
                        "locationName": "directoryId"
                    },
                    "marker": {
                        "location": "querystring",
                        "locationName": "marker"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "marker": {},
                    "instanceExports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobId": {},
                                "targetBucketName": {},
                                "targetKmsKeyArn": {},
                                "status": {},
                                "createdTime": {},
                                "completedTime": {},
                                "errorType": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "ListInstanceWorkflowDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v2/kms/ListInstanceWorkflowDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "WorkflowType"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "querystring",
                        "locationName": "orgId"
                    },
                    "WorkflowType": {
                        "location": "querystring",
                        "locationName": "type"
                    },
                    "Marker": {
                        "location": "querystring",
                        "locationName": "marker"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Marker": {},
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "status": {},
                                "numberOfUsers": {
                                    "type": "long"
                                },
                                "numberOfUsersProcessed": {
                                    "type": "long"
                                },
                                "numberOfDocsSucceeded": {
                                    "type": "long"
                                },
                                "numberOfDocsFailed": {
                                    "type": "long"
                                },
                                "numberOfUsersToVerify": {
                                    "type": "long"
                                },
                                "numberOfUsersProcessedOnVerification": {
                                    "type": "long"
                                },
                                "numberOfDocsSucceededOnVerification": {
                                    "type": "long"
                                },
                                "numberOfDocsFailedOnVerification": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "ListInstanceWorkflowFailedFileDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/gb/api/v2/kms/ListInstanceWorkflowFailedFileDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "InstanceWorkflowId"
                ],
                "members": {
                    "OrganizationId": {
                        "location": "querystring",
                        "locationName": "orgId"
                    },
                    "InstanceWorkflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    },
                    "Marker": {
                        "location": "querystring",
                        "locationName": "marker"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Marker": {},
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "userId": {},
                                "documentId": {},
                                "documentVersion": {},
                                "failureReason": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "StartInstanceExport": {
            "http": {
                "requestUri": "/gb/api/v2/instance/export",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "targetBucketName"
                ],
                "members": {
                    "directoryId": {},
                    "targetBucketName": {},
                    "targetKmsKeyArn": {},
                    "administratorEmails": {
                        "shape": "S4c"
                    },
                    "onlyResidualUsers": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "directoryId": {},
                    "alias": {},
                    "targetBucketName": {},
                    "targetKmsKeyArn": {},
                    "status": {},
                    "createTime": {},
                    "administratorEmails": {
                        "shape": "S4c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "UpdateInstanceEncryption": {
            "http": {
                "requestUri": "/gb/api/v1/instanceEncryption",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "sseSpecification"
                ],
                "members": {
                    "directoryId": {},
                    "sseSpecification": {
                        "shape": "S18"
                    },
                    "parameters": {
                        "shape": "S4i"
                    },
                    "userIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "messageCode": {},
                    "workflowId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "UpdateInstanceWorkflow": {
            "http": {
                "requestUri": "/gb/api/v1/updateInstanceWorkflow",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "workflowId",
                    "parameters"
                ],
                "members": {
                    "directoryId": {},
                    "workflowId": {},
                    "parameters": {
                        "shape": "S4i"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34QPSMU53JBMC5VRHRITLQOBTUJ35SOLUPZP766Q6GSLNOOEEOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7E6PVBOI23BILTK7SGMNDLZVKVUGHLKVB5RRQLN2346PJBUMFJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        },
        "IsAccountInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSAccountId"
                ],
                "members": {
                    "AWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "internal": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISULR4K4LOD35VLZQQZMX6DYYXGLDO2XL4UXISRMF2VRPLHKKUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sk": {
            "type": "structure",
            "required": [
                "username",
                "password"
            ],
            "members": {
                "username": {},
                "password": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "directoryName",
                "shortName",
                "type"
            ],
            "members": {
                "directoryName": {},
                "shortName": {},
                "type": {},
                "dnsIpAddresses": {
                    "shape": "Sq"
                }
            }
        },
        "Sq": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "structure",
            "required": [
                "vpcId"
            ],
            "members": {
                "vpcId": {},
                "subnetIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "id": {},
                "alias": {},
                "mode": {},
                "state": {},
                "launchLink": {},
                "createTime": {},
                "error": {
                    "type": "structure",
                    "required": [
                        "errorCode",
                        "description"
                    ],
                    "members": {
                        "errorCode": {
                            "type": "integer"
                        },
                        "errorType": {},
                        "description": {}
                    }
                },
                "skuType": {},
                "sseSpec": {
                    "shape": "S18"
                },
                "siteUrl": {}
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "sseType": {},
                "kmsKeyId": {}
            }
        },
        "S1g": {
            "type": "list",
            "member": {}
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1s": {
            "type": "string",
            "sensitive": true
        },
        "S22": {
            "type": "list",
            "member": {}
        },
        "S2j": {
            "type": "structure",
            "members": {
                "RedirectUris": {
                    "shape": "S1g"
                },
                "Name": {},
                "Description": {},
                "Scopes": {
                    "shape": "S1k"
                },
                "Status": {},
                "EmailAddress": {}
            }
        },
        "S2v": {
            "type": "list",
            "member": {
                "shape": "Sx"
            }
        },
        "S2z": {
            "type": "structure",
            "members": {
                "servers": {
                    "shape": "Sq"
                },
                "port": {
                    "type": "integer"
                },
                "sharedSecret": {
                    "type": "string",
                    "sensitive": true
                },
                "protocol": {},
                "timeout": {
                    "type": "integer"
                },
                "retries": {
                    "type": "integer"
                }
            }
        },
        "S37": {
            "type": "list",
            "member": {}
        },
        "S46": {
            "type": "structure",
            "members": {
                "AllowedCIDRList": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S1n": {
            "type": "list",
            "member": {}
        },
        "S1v": {
            "type": "string",
            "sensitive": true
        },
        "S25": {
            "type": "list",
            "member": {}
        },
        "S2m": {
            "type": "structure",
            "members": {
                "RedirectUris": {
                    "shape": "S1j"
                },
                "Name": {},
                "Description": {},
                "Scopes": {
                    "shape": "S1n"
                },
                "Status": {},
                "EmailAddress": {}
            }
        },
        "S2y": {
            "type": "list",
            "member": {
                "shape": "Sx"
            }
        },
        "S31": {
            "type": "list",
            "member": {}
        },
        "S4c": {
            "type": "list",
            "member": {}
        },
        "S4i": {
            "type": "structure",
            "required": [
                "userBatchSize",
                "batchSleepTime",
                "documentBatchSize",
                "pauseAfterBatch",
                "pauseWorkflow"
            ],
            "members": {
                "userBatchSize": {
                    "type": "integer"
                },
                "batchSleepTime": {
                    "type": "long"
                },
                "documentBatchSize": {
                    "type": "integer"
                },
                "pauseAfterBatch": {
                    "type": "boolean"
                },
                "pauseWorkflow": {
                    "type": "boolean"
                }
            }
        },
        "S4s": {
            "type": "structure",
            "members": {
                "AllowedCIDRList": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S4e": {
            "type": "list",
            "member": {}
        },
        "S4k": {
            "type": "structure",
            "required": [
                "userBatchSize",
                "batchSleepTime",
                "documentBatchSize",
                "pauseAfterBatch",
                "pauseWorkflow"
            ],
            "members": {
                "userBatchSize": {
                    "type": "integer"
                },
                "batchSleepTime": {
                    "type": "long"
                },
                "documentBatchSize": {
                    "type": "integer"
                },
                "pauseAfterBatch": {
                    "type": "boolean"
                },
                "pauseWorkflow": {
                    "type": "boolean"
                }
            }
        },
        "S4u": {
            "type": "structure",
            "members": {
                "AllowedCIDRList": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S4l": {
            "type": "structure",
            "required": [
                "userBatchSize",
                "batchSleepTime",
                "documentBatchSize",
                "pauseAfterBatch",
                "pauseWorkflow"
            ],
            "members": {
                "userBatchSize": {
                    "type": "integer"
                },
                "batchSleepTime": {
                    "type": "long"
                },
                "documentBatchSize": {
                    "type": "integer"
                },
                "pauseAfterBatch": {
                    "type": "boolean"
                },
                "pauseWorkflow": {
                    "type": "boolean"
                }
            }
        },
        "S4v": {
            "type": "structure",
            "members": {
                "AllowedCIDRList": {
                    "type": "list",
                    "member": {}
                }
            }
        }
    }
}