{
    "version": "2.0",
    "metadata": {
        "apiVersion": "1986-04-08",
        "endpointPrefix": "workmail",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon WorkMail Service",
        "serviceId": "WorkMailService",
        "signatureVersion": "v4",
        "signingName": "workmail",
        "targetPrefix": "WorkMailService",
        "uid": "workmail-1986-04-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHONCKGPOIWX57S6D763TD5Y3GOPQOV5QZLWUYVNVZXZYN7QWODA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
        ]
    },
    "operations": {
        "AssociateDelegateToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ResourceId",
                    "EntityId"
                ],
                "members": {
                    "OrganizationId": {},
                    "ResourceId": {},
                    "EntityId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "AssociateMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "GroupId",
                    "MemberId"
                ],
                "members": {
                    "OrganizationId": {},
                    "GroupId": {},
                    "MemberId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "AssumeImpersonationRole": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ImpersonationRoleId"
                ],
                "members": {
                    "OrganizationId": {},
                    "ImpersonationRoleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Token": {},
                    "ExpiresIn": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CancelMailboxExportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "JobId",
                    "OrganizationId"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "JobId": {},
                    "OrganizationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "EntityId",
                    "Alias"
                ],
                "members": {
                    "OrganizationId": {},
                    "EntityId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateAvailabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "DomainName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "OrganizationId": {},
                    "DomainName": {},
                    "EwsProvider": {
                        "shape": "Sm"
                    },
                    "LambdaProvider": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name"
                ],
                "members": {
                    "OrganizationId": {},
                    "Name": {},
                    "HiddenFromGlobalAddressList": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateImpersonationRole": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name",
                    "Type",
                    "Rules"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "OrganizationId": {},
                    "Name": {},
                    "Type": {},
                    "Description": {},
                    "Rules": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImpersonationRoleId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateInboundMailFlowRule": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Rule"
                ],
                "members": {
                    "OrganizationId": {},
                    "Rule": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateLegalHold": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "EntityId"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "OrganizationId": {},
                    "EntityId": {},
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LegalHoldId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateMobileDeviceAccessRule": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name",
                    "Effect"
                ],
                "members": {
                    "OrganizationId": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Name": {},
                    "Description": {},
                    "Effect": {},
                    "DeviceTypes": {
                        "shape": "S20"
                    },
                    "NotDeviceTypes": {
                        "shape": "S20"
                    },
                    "DeviceModels": {
                        "shape": "S22"
                    },
                    "NotDeviceModels": {
                        "shape": "S22"
                    },
                    "DeviceOperatingSystems": {
                        "shape": "S24"
                    },
                    "NotDeviceOperatingSystems": {
                        "shape": "S24"
                    },
                    "DeviceUserAgents": {
                        "shape": "S26"
                    },
                    "NotDeviceUserAgents": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MobileDeviceAccessRuleId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Domains": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DomainName"
                            ],
                            "members": {
                                "DomainName": {},
                                "HostedZoneId": {}
                            }
                        }
                    },
                    "KmsKeyArn": {},
                    "EnableInteroperability": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateOutboundMailFlowRule": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Rule"
                ],
                "members": {
                    "OrganizationId": {},
                    "Rule": {
                        "shape": "S2j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateResource": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name",
                    "Type"
                ],
                "members": {
                    "OrganizationId": {},
                    "Name": {},
                    "Type": {},
                    "Description": {
                        "shape": "S2x",
                        "internalonly": true
                    },
                    "HiddenFromGlobalAddressList": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateSmtpGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "SmtpGateway"
                ],
                "members": {
                    "OrganizationId": {},
                    "SmtpGateway": {
                        "shape": "S31"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name",
                    "DisplayName"
                ],
                "members": {
                    "OrganizationId": {},
                    "Name": {},
                    "DisplayName": {},
                    "Password": {
                        "shape": "Sp"
                    },
                    "Role": {
                        "internalonly": true
                    },
                    "FirstName": {
                        "internalonly": true
                    },
                    "LastName": {
                        "internalonly": true
                    },
                    "HiddenFromGlobalAddressList": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "DeleteAccessControlRule": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "Name"
                ],
                "members": {
                    "OrganizationId": {},
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "EntityId",
                    "Alias"
                ],
                "members": {
                    "OrganizationId": {},
                    "EntityId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "DeleteAvailabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "DomainName"
                ],
                "members": {
                    "OrganizationId": {},
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "DeleteEmailMonitoringConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId"
                ],
                "members": {
                    "OrganizationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "GroupId"
                ],
                "members": {
                    "OrganizationId": {},
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "DeleteImpersonationRole": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "ImpersonationRoleId"
                ],
                "members": {
                    "OrganizationId": {},
                    "ImpersonationRoleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "DeleteInboundMailFlowRule": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "RuleName"
                ],
                "members": {
                    "OrganizationId": {},
                    "RuleName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "DeleteLegalHold": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "LegalHoldId"
                ],
                "members": {
                    "OrganizationId": {},
                    "LegalHoldId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "DeleteMailboxPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "EntityId",
                    "GranteeId"
                ],
                "members": {
                    "OrganizationId": {},
                    "EntityId": {},
                    "GranteeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQEQPEQSMEUQ47BQX5TMRVZTJMK5NN7RZF7BMKHUVSKCCUBSQR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QK2LRCJSRVC4Q6PN3SYMVFMPLTUDWIRKFY3TRB247VBLPIUKGFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIMRNXPDHWNY676PEHEBDZECG7A4HGFYJGRSCUPPM6KMAF4B3JJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NWVHKXTTGAIMM2G3TVEOS7BY5SWQA6T5DWQWFYRFWNKS4AC2VSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIZIIPXL52YABFYINEJOT6EQGIB3OXPVAGUOPSQ3JJ42LYJPNSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js"
            ]
        },
        "DeleteMobileDeviceAccessOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationId",
                    "UserId",
                    "DeviceId"
                ],
                "members": {
                    "OrganizationId": {},
                    "UserId": {},
                    "DeviceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNSKTFMMGIE2HS2EBYSDZL5YMQA7ATFALNVMGHI7V5I4B3RV3ARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLSQ7HYJWXZ7CRSFCSL4V7TV6JGMQV7PUQSP4JOC6IN7YYYBWDQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK6PWBSRDV4RK2AF23AYTDC42D63GNPD6XN5M6RK7TCDXAMIY4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEZG5G4EWMQ76X64XVT4RLCSPNFTL6X5XRO4HWYQ2ZMXZLTIWWUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33ABJZJX5PPIDYXTOCMM2XBL5LTO264K47C5RGCW7NOEN4UEXCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIOWHRJU56IH35CSBMLS5IIIBSITYIUNSJWWU4HUUQNPZA5WOUZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A7BJTK5LX2MZPYNFEHDB42LOQVBNLWWJMHD5RNXFKJWCWB76PJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXTBOKIB25Q5WDDDSKSK6J47UAIALN7B2OOFKEWWUXEITONXDEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAFTLZ7MV22S2FTPM7TBYC72AMIZ623TZTHXFROGOHLYSXZX6LDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNHYUUTWERCXLUMZ2FCDIS5C5PLWNBNXNPE5V56DDHODDDBRJZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPT2LTZ6OS7FUPX2K6TOPYFMNOJZMK3JMCTJKLJKNZBKPJCKS4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSGZJ3H23MBMLGRG2OU2DXPWAMSXZDYJWDEHS3M6PPKOCL3KCSUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B24B3X7WXFU4TXGT7YSQJNFNXJDGYTXA6LJNW3SZDEA6HBL5QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZFQPFFIBXY72HC4JH7B5H7RF44OQZND24EITVXHII2BB6ICAIUA/vendors.js",
[...]
