{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-02-03",
        "endpointPrefix": "workspacesconsoleservice",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "WorkspacesConsoleService",
        "serviceFullName": "Amazon Workspaces Console Service",
        "signatureVersion": "v4",
        "targetPrefix": "WorkspacesConsoleService",
        "uid": "workspacesconsoleservice-2020-02-03",
        "download_location": [
            "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
        ]
    },
    "operations": {
        "AssociateConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "aliasId",
                    "directoryId"
                ],
                "members": {
                    "aliasId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectionIdentifier": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "AssociateIpGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "ipGroupIds"
                ],
                "members": {
                    "directoryId": {},
                    "ipGroupIds": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "AssociateSSOGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "ssoGroups"
                ],
                "members": {
                    "directoryId": {},
                    "ssoGroups": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ssoGroupName": {},
                                "ssoGroupId": {}
                            }
                        }
                    },
                    "failureResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ssoGroupName": {},
                                "ssoGroupId": {},
                                "exceptionName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "CopyImage": {
            "input": {
                "type": "structure",
                "required": [
                    "sourceImageId",
                    "destinationRegionName",
                    "imageName"
                ],
                "members": {
                    "sourceImageId": {},
                    "destinationRegionName": {},
                    "imageName": {},
                    "imageDescription": {},
                    "imageTags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "copiedImageId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "CreateBundle": {
            "input": {
                "type": "structure",
                "required": [
                    "bundleName",
                    "bundleDescription",
                    "hardwareType",
                    "sourceImageId"
                ],
                "members": {
                    "bundleName": {},
                    "bundleDescription": {},
                    "hardwareType": {},
                    "userVolumeSizeGib": {
                        "type": "integer"
                    },
                    "rootVolumeSizeGib": {
                        "type": "integer"
                    },
                    "sourceImageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdBundleId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "CreateConnectClientAddIn": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "name",
                    "url"
                ],
                "members": {
                    "directoryId": {},
                    "name": {},
                    "url": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectClientAddInConfigId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "CreateConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "connectionString"
                ],
                "members": {
                    "connectionString": {},
                    "tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "aliasId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "CreateDirectoryUser": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "users"
                ],
                "members": {
                    "directoryId": {},
                    "users": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "user": {
                                    "shape": "S1c"
                                },
                                "URL": {}
                            }
                        }
                    },
                    "failureResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "CreateImage": {
            "input": {
                "type": "structure",
                "required": [
                    "imageName",
                    "imageDescription",
                    "workspaceId"
                ],
                "members": {
                    "imageName": {},
                    "imageDescription": {},
                    "workspaceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workspaceImageExternalId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "CreateIpGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "groupName"
                ],
                "members": {
                    "groupName": {},
                    "groupDesc": {},
                    "userRules": {
                        "shape": "S1u"
                    },
                    "tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "groupId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "CreateRegistrationService": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceUserRequests"
                ],
                "members": {
                    "workspaceUserRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workspaceUser",
                                "workspaceProfileId"
                            ],
                            "members": {
                                "workspaceUser": {
                                    "shape": "S1c"
                                },
                                "workspaceProfileId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directoryStatus": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "CreateStandbyWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "targetRegion",
                    "standbyWorkspaces"
                ],
                "members": {
                    "targetRegion": {},
                    "standbyWorkspaces": {
                        "type": "list",
                        "member": {
                            "shape": "S26"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedStandbyRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "standbyWorkspaceRequest": {
                                    "shape": "S26"
                                },
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    },
                    "pendingStandbyRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "username": {},
                                "directoryId": {},
                                "state": {},
                                "workspaceId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "CreateWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceRequests"
                ],
                "members": {
                    "workspaceRequests": {
                        "type": "list",
                        "member": {
                            "shape": "S2j"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkspaceRequest": {
                                    "shape": "S2j"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "PendingRequests": {
                        "shape": "S2w"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "CreateWorkspacesManagedSSOApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DeleteBundle": {
            "input": {
                "type": "structure",
                "required": [
                    "bundleId"
                ],
                "members": {
                    "bundleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DeleteCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "certificateId"
                ],
                "members": {
                    "certificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DeleteClientBranding": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "platforms"
                ],
                "members": {
                    "directoryId": {},
                    "platforms": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DeleteConnectClientAddIn": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "connectClientAddInConfigId"
                ],
                "members": {
                    "directoryId": {},
                    "connectClientAddInConfigId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DeleteConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "aliasId"
                ],
                "members": {
                    "aliasId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DeleteDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directoryId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DeleteImage": {
            "input": {
                "type": "structure",
                "required": [
                    "imageId"
                ],
                "members": {
                    "imageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DeleteIpGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "groupId"
                ],
                "members": {
                    "groupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DeleteWorkspacesManagedSSOApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DeregisterWorkspaceDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeAccessToInternet": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "enableInternetAccess": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "account": {
                        "type": "structure",
                        "members": {
                            "dedicatedTenancyManagementCidrRange": {},
                            "dedicatedTenancySupport": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeAccountModifications": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountModifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "dedicatedTenancyManagementCidrRange": {},
                                "dedicatedTenancySupport": {},
                                "errorCode": {},
                                "errorMessage": {},
                                "modificationState": {},
                                "startTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeAllWorkspaceDirectories": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "directories": {
                        "shape": "S4q"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeAllWorkspaces": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "workspaces": {
                        "shape": "S2w"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeAssociatedSSOGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ssoGroups": {
                        "type": "list",
                        "member": {
                            "shape": "Sc"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeAvailableManagementCidrRanges": {
            "input": {
                "type": "structure",
                "required": [
                    "managementCidrRangeConstraint"
                ],
                "members": {
                    "managementCidrRangeConstraint": {},
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "managementCidrRanges": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeBundleDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "bundleId"
                ],
                "members": {
                    "bundleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bundle": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "description": {},
                            "createdDate": {
                                "type": "timestamp"
                            },
                            "updatedDate": {
                                "type": "timestamp"
                            },
                            "hardwareType": {},
                            "imageType": {
                                "shape": "S5g"
                            },
                            "languageType": {},
                            "rootVolumeSizeGib": {
                                "type": "integer"
                            },
                            "userVolumeSizeGib": {
                                "type": "integer"
                            },
                            "freeTierEligible": {
                                "type": "boolean"
                            },
                            "deprecated": {
                                "type": "boolean"
                            },
                            "ownerType": {},
                            "imageId": {},
                            "imageName": {},
                            "state": {},
                            "bundleType": {},
                            "tags": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeBundles": {
            "input": {
                "type": "structure",
                "members": {
                    "search": {},
                    "filters": {
                        "shape": "S5t"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "field": {},
                            "ascending": {
                                "type": "boolean"
                            }
                        }
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "getAllBundles": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bundles": {
                        "shape": "S62"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeBundlesAssociatedWithImage": {
            "input": {
                "type": "structure",
                "required": [
                    "imageId"
                ],
                "members": {
                    "imageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bundleArnList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeCertificates": {
            "input": {
                "type": "structure",
                "required": [
                    "certificateIds"
                ],
                "members": {
                    "certificateIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "certificates": {
                        "type": "list",
                        "member": {
                            "shape": "S6d"
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeClientBranding": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceTypeWindows": {
                        "shape": "S6k"
                    },
                    "deviceTypeOsx": {
                        "shape": "S6k"
                    },
                    "deviceTypeAndroid": {
                        "shape": "S6k"
                    },
                    "deviceTypeIos": {
                        "shape": "S6o"
                    },
                    "deviceTypeLinux": {
                        "shape": "S6k"
                    },
                    "deviceTypeWeb": {
                        "shape": "S6k"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeClientPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "selfservicePermissionsAndClientProperties": {
                        "shape": "S6r"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeConnectClientAddIns": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectClientAddInConfigId": {},
                    "name": {},
                    "url": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeConnectionAliasDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "aliasId"
                ],
                "members": {
                    "aliasId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectionAlias": {
                        "type": "structure",
                        "members": {
                            "connectionString": {},
                            "aliasId": {},
                            "state": {},
                            "ownerAccountId": {},
                            "associations": {
                                "shape": "S71"
                            },
                            "tags": {
                                "shape": "Sq"
                            },
                            "connectionAliasPermissions": {
                                "shape": "S74"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeConnectionAliasPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "aliasId"
                ],
                "members": {
                    "aliasId": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "aliasId": {},
                    "connectionAliasPermissions": {
                        "shape": "S74"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeConnectionAliases": {
            "input": {
                "type": "structure",
                "members": {
                    "aliasIds": {
                        "type": "list",
                        "member": {}
                    },
                    "directoryId": {},
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectionAliases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "connectionString": {},
                                "aliasId": {},
                                "state": {},
                                "ownerAccountId": {},
                                "associations": {
                                    "shape": "S71"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeDirectories": {
            "input": {
                "type": "structure",
                "members": {
                    "directoryIds": {
                        "shape": "S7g"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directories": {
                        "shape": "S4q"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeDirectory": {
            "input": {
                "type": "structure",
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directory": {
                        "shape": "S7l"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeDirectoryOrganizationalUnits": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "userRealm": {},
                    "organizationalUnitNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "organizationalUnits": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CommonName": {},
                                "DistinguishedName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeDirectoryUser": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "userRealm",
                    "userName"
                ],
                "members": {
                    "directoryId": {},
                    "userRealm": {},
                    "userName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "user": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeDirectoryUserWithSearchQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "userRealm"
                ],
                "members": {
                    "directoryId": {},
                    "userRealm": {},
                    "limit": {
                        "type": "integer"
                    },
                    "searchQuery": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "users": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    },
                    "nextToken": {},
                    "fullUserCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeEnabledFeatures": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "enabledFeatures": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeEndpointEncryptionMode": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "endpointEncryptionMode": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeImageDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "imageId"
                ],
                "members": {
                    "imageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "image": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "description": {},
                            "createdDate": {
                                "type": "timestamp"
                            },
                            "rootVolumeSizeGib": {
                                "type": "integer"
                            },
                            "type": {
                                "shape": "S5g"
                            },
                            "state": {},
                            "status": {},
                            "statusMessage": {},
                            "ownerAccountId": {},
                            "tags": {
                                "shape": "Sq"
                            },
                            "allowedCopyDestinationRegionNames": {
                                "shape": "S8w"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeImagePermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "imageId"
                ],
                "members": {
                    "imageId": {},
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageId": {},
                    "imagePermissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "sharedAccountId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeImages": {
            "input": {
                "type": "structure",
                "members": {
                    "sort": {
                        "type": "structure",
                        "required": [
                            "property",
                            "order"
                        ],
                        "members": {
                            "property": {},
                            "order": {}
                        }
                    },
                    "filters": {
                        "type": "structure",
                        "members": {
                            "state": {},
                            "license": {}
                        }
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "images": {
                        "shape": "S99"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeImagesForBundle": {
            "input": {
                "type": "structure",
                "required": [
                    "bundleId"
                ],
                "members": {
                    "bundleId": {},
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bundleId": {},
                    "images": {
                        "shape": "S99"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeInviteInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "user"
                ],
                "members": {
                    "directoryId": {},
                    "user": {
                        "shape": "S1c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "inviteLinks": {
                        "type": "structure",
                        "members": {
                            "downloadLink": {},
                            "inviteLink": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeIpGroupDetails": {
            "input": {
                "type": "structure",
                "members": {
                    "ipGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ipGroup": {
                        "type": "structure",
                        "members": {
                            "ipGroupId": {},
                            "ipGroupName": {},
                            "ipGroupDesc": {},
                            "userRules": {
                                "shape": "S1u"
                            },
                            "tags": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeIpGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ipGroups": {
                        "shape": "S9n"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeIpGroupsWithSearch": {
            "input": {
                "type": "structure",
                "required": [
                    "searchText"
                ],
                "members": {
                    "searchText": {},
                    "nextToken": {},
                    "limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ipGroups": {
                        "shape": "S9n"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeKmsKeys": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "KmsKeys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "aliasList": {
                                    "type": "list",
                                    "member": {}
                                },
                                "keyArn": {},
                                "keyId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeLocalAdministratorSetting": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userEnabledAsLocalAdmin": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeMaintenanceMode": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "enableMaintenanceMode": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeMigrateWorkspaceOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceIds"
                ],
                "members": {
                    "workspaceIds": {
                        "shape": "Sa5"
                    },
                    "filters": {
                        "shape": "S5t"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "availableBundles": {
                        "shape": "S62"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeMultiFactorAuthenticationProperties": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "isEnabled": {
                        "type": "boolean"
                    },
                    "radiusStatus": {},
                    "radiusSettings": {
                        "shape": "Sa9"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeRegisterDirectoryPrepInfo": {
            "input": {
                "type": "structure",
                "members": {
                    "vpcId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "networkConfiguration": {
                        "type": "structure",
                        "members": {
                            "cidrRanges": {
                                "type": "list",
                                "member": {}
                            },
                            "isDedicatedEnabled": {
                                "type": "boolean"
                            }
                        }
                    },
                    "supportedSubnets": {
                        "shape": "S7r"
                    },
                    "supportedExternalAzIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeRegistration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "registrationRecord": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeResourceTags": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceExternalId"
                ],
                "members": {
                    "resourceExternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeResourcesByTag": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceTagMappingList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "complianceDetails": {
                                    "type": "structure",
                                    "members": {
                                        "complianceStatus": {
                                            "type": "boolean"
                                        },
                                        "keysWithNoncompliantValues": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "noncompliantKeys": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "resourceArn": {},
                                "tags": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeSecurityGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "vpcId"
                ],
                "members": {
                    "vpcId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityGroupList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "securityGroupId": {},
                                "securityGroupName": {},
                                "vpcId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeStandbyRegions": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "standbyRegionNames": {
                        "shape": "S8w"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeTrusts": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "trusts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "directoryId": {},
                                "remoteDomainName": {},
                                "trustId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeWorkspaceAccessProperties": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workspaceAccessProperties": {
                        "shape": "S7x"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeWorkspaceDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workspace": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "directoryId": {},
                            "directoryName": {},
                            "directoryType": {},
                            "registrationCode": {},
                            "username": {},
                            "userRealm": {},
                            "ipAddress": {},
                            "state": {},
                            "bundleId": {},
                            "bundleName": {},
                            "languageType": {},
                            "protocolType": {},
                            "errorMessage": {},
                            "errorCode": {},
                            "userVolumeEncryptionEnabled": {
                                "type": "boolean"
                            },
                            "rootVolumeEncryptionEnabled": {
                                "type": "boolean"
                            },
                            "modificationStates": {
                                "shape": "S37"
                            },
                            "workspaceProperties": {
                                "shape": "S2m"
                            },
                            "user": {
                                "shape": "S1c"
                            },
                            "computerName": {},
                            "rootVolumeEncryptionKey": {},
                            "userVolumeEncryptionKey": {},
                            "rootVolumeEncryptionKeyAlias": {},
                            "userVolumeEncryptionKeyAlias": {},
                            "connectionStatus": {
                                "shape": "S3d"
                            },
                            "imageId": {},
                            "imageName": {},
                            "imageDescription": {},
                            "tags": {
                                "shape": "Sq"
                            },
                            "relatedWorkspaces": {
                                "shape": "S3h"
                            },
                            "isStandByWorkspace": {
                                "type": "boolean"
                            },
                            "hasStandByWorkspaces": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeWorkspaceDirectoriesForTargetRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "targetRegion"
                ],
                "members": {
                    "targetRegion": {},
                    "directoryIds": {
                        "shape": "S7g"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "alias": {},
                                "customerUserName": {},
                                "directoryId": {},
                                "directoryName": {},
                                "directoryType": {},
                                "dnsIpAddresses": {
                                    "shape": "S7v"
                                },
                                "iamRoleId": {},
                                "ipGroupIds": {
                                    "shape": "S7"
                                },
                                "registrationCode": {},
                                "selfservicePermissions": {
                                    "shape": "Sbt"
                                },
                                "directoryStatus": {},
                                "subnetIds": {
                                    "shape": "S4x"
                                },
                                "tenancy": {},
                                "workspaceAccessProperties": {
                                    "shape": "S7x"
                                },
                                "workspaceCreationProperties": {
                                    "shape": "S80"
                                },
                                "workspaceSecurityGroupId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeWorkspaceDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "alias": {},
                    "customerUserName": {},
                    "directoryId": {},
                    "directoryName": {},
                    "directoryType": {},
                    "dnsIpAddresses": {
                        "shape": "S7v"
                    },
                    "iamRoleId": {},
                    "ipGroupIds": {
                        "shape": "S7"
                    },
                    "registrationCode": {},
                    "samlProperties": {
                        "shape": "Sbx"
                    },
                    "selfservicePermissions": {
                        "shape": "Sbt"
                    },
                    "state": {},
                    "subnetIds": {
                        "shape": "S4x"
                    },
                    "tenancy": {},
                    "workspaceAccessProperties": {
                        "shape": "S7x"
                    },
                    "workspaceCreationProperties": {
                        "shape": "S80"
                    },
                    "workspaceSecurityGroupId": {},
                    "certificateBasedAuthProperties": {
                        "shape": "Sc1"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeWorkspaceDirectoryDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directory": {
                        "shape": "S7l"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeWorkspaceSnapshots": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "rebuildSnapshots": {
                        "shape": "Sc8"
                    },
                    "restoreSnapshots": {
                        "shape": "Sc8"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeWorkspaces": {
            "input": {
                "type": "structure",
                "members": {
                    "workspaceIds": {
                        "type": "list",
                        "member": {}
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workspaces": {
                        "shape": "S2w"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeWorkspacesForBundle": {
            "input": {
                "type": "structure",
                "required": [
                    "bundleId"
                ],
                "members": {
                    "bundleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workspaces": {
                        "shape": "S2w"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeWorkspacesManagedSSOApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "wsSsoUrl": {},
                    "ssoDisplayName": {},
                    "ssoApplicationId": {},
                    "ssoClientId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DescribeWorkspacesWithSearchQuery": {
            "input": {
                "type": "structure",
                "members": {
                    "directoryId": {},
                    "bundleId": {},
                    "userName": {},
                    "searchAllDirectories": {
                        "type": "boolean"
                    },
                    "workspaceIds": {
                        "type": "list",
                        "member": {}
                    },
                    "searchWorkspacesOption": {},
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workspaces": {
                        "shape": "S2w"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DisassociateConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "aliasId"
                ],
                "members": {
                    "aliasId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DisassociateIpGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "ipGroupIds"
                ],
                "members": {
                    "directoryId": {},
                    "ipGroupIds": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "DisassociateSSOGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "ssoGroups"
                ],
                "members": {
                    "directoryId": {},
                    "ssoGroups": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ssoGroupName": {},
                                "ssoGroupId": {}
                            }
                        }
                    },
                    "failureResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ssoGroupName": {},
                                "ssoGroupId": {},
                                "exceptionName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ImportCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "certificateData"
                ],
                "members": {
                    "certificateData": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "certificate": {
                        "shape": "S6d"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ImportClientBranding": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "deviceTypeWindows": {
                        "shape": "Sd4"
                    },
                    "deviceTypeOsx": {
                        "shape": "Sd4"
                    },
                    "deviceTypeAndroid": {
                        "shape": "Sd4"
                    },
                    "deviceTypeIos": {
                        "type": "structure",
                        "members": {
                            "Logo": {
                                "type": "blob"
                            },
                            "Logo2x": {
                                "type": "blob"
                            },
                            "Logo3x": {
                                "type": "blob"
                            },
                            "SupportEmail": {},
                            "SupportLink": {},
                            "ForgotPasswordLink": {},
                            "LoginMessage": {
                                "shape": "S6l"
                            }
                        }
                    },
                    "deviceTypeLinux": {
                        "shape": "Sd4"
                    },
                    "deviceTypeWeb": {
                        "shape": "Sd4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceTypeWindows": {
                        "shape": "S6k"
                    },
                    "deviceTypeOsx": {
                        "shape": "S6k"
                    },
                    "deviceTypeAndroid": {
                        "shape": "S6k"
                    },
                    "deviceTypeIos": {
                        "shape": "S6o"
                    },
                    "deviceTypeLinux": {
                        "shape": "S6k"
                    },
                    "deviceTypeWeb": {
                        "shape": "S6k"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ImportImage": {
            "input": {
                "type": "structure",
                "required": [
                    "ec2ImageId",
                    "imageName",
                    "imageDescription",
                    "ingestionProcess"
                ],
                "members": {
                    "ec2ImageId": {},
                    "imageName": {},
                    "imageDescription": {},
                    "ingestionProcess": {},
                    "applications": {
                        "type": "list",
                        "member": {}
                    },
                    "tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "importedImageId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "MigrateWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceIds",
                    "bundleId"
                ],
                "members": {
                    "workspaceIds": {
                        "shape": "Sa5"
                    },
                    "bundleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "sourceWorkspaceId": {},
                                "targetWorkspaceId": {}
                            }
                        }
                    },
                    "failureResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "bundleId": {},
                                "sourceWorkspaceId": {},
                                "exceptionName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyAccessToInternet": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "enableInternetAccess"
                ],
                "members": {
                    "directoryId": {},
                    "enableInternetAccess": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyAccount": {
            "input": {
                "type": "structure",
                "members": {
                    "dedicatedTenancyManagementCidrRange": {},
                    "dedicatedTenancySupport": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyCertificateBasedAuthProperties": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "certificateBasedAuthProperties": {
                        "shape": "Sc1"
                    },
                    "deletableCertificateBasedAuthProperties": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyClientPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "selfservicePermissionsAndClientProperties"
                ],
                "members": {
                    "directoryId": {},
                    "selfservicePermissionsAndClientProperties": {
                        "shape": "S6r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyEndpointEncryptionMode": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "endpointEncryptionMode"
                ],
                "members": {
                    "directoryId": {},
                    "endpointEncryptionMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyLocalAdministratorSetting": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "userEnabledAsLocalAdministrator"
                ],
                "members": {
                    "directoryId": {},
                    "userEnabledAsLocalAdministrator": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyMaintenanceMode": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "enableMaintenanceMode"
                ],
                "members": {
                    "directoryId": {},
                    "enableMaintenanceMode": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyRulesOfIpGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "groupId",
                    "userRules"
                ],
                "members": {
                    "groupId": {},
                    "userRules": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifySAMLProperties": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "samlProperties"
                ],
                "members": {
                    "directoryId": {},
                    "samlProperties": {
                        "shape": "Sbx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyTargetDomainAndOrganizationalUnits": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "defaultOU": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyWorkspaceAccessProperties": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "workspaceAccessProperties"
                ],
                "members": {
                    "directoryId": {},
                    "workspaceAccessProperties": {
                        "shape": "S7x"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyWorkspaceProperties": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "workspaceProperties"
                ],
                "members": {
                    "workspaceId": {},
                    "workspaceProperties": {
                        "shape": "S2m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "ModifyWorkspaceState": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId",
                    "workspaceState"
                ],
                "members": {
                    "workspaceId": {},
                    "workspaceState": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "RebootWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceIds"
                ],
                "members": {
                    "workspaceIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "workspaceId": {}
                            }
                        }
                    },
                    "failureResults": {
                        "type": "list",
                        "member": {
                            "shape": "Sen"
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "RebuildWorkspace": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedRequest": {
                        "shape": "Sen"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "RegisterDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "enableWorkDocs"
                ],
                "members": {
                    "directoryId": {},
                    "enableSelfService": {
                        "type": "boolean"
                    },
                    "enableWorkDocs": {
                        "type": "boolean"
                    },
                    "subnetIds": {
                        "shape": "S4x"
                    },
                    "tags": {
                        "shape": "Sq"
                    },
                    "enableDedicatedHardware": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "RestoreWorkspace": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceId"
                ],
                "members": {
                    "workspaceId": {},
                    "hasCustomerRequestedToSnapshotCurrentVolumes": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "SendEmail": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "username",
                    "registrationCode"
                ],
                "members": {
                    "directoryId": {},
                    "username": {},
                    "registrationCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "StartWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceIds"
                ],
                "members": {
                    "workspaceIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "workspaceId": {}
                            }
                        }
                    },
                    "failureResults": {
                        "type": "list",
                        "member": {
                            "shape": "Sen"
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "StopWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceIds"
                ],
                "members": {
                    "workspaceIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "workspaceId": {}
                            }
                        }
                    },
                    "failureResults": {
                        "type": "list",
                        "member": {
                            "shape": "Sen"
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "TerminateWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceIds"
                ],
                "members": {
                    "workspaceIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "workspaceId": {}
                            }
                        }
                    },
                    "failureResults": {
                        "type": "list",
                        "member": {
                            "shape": "Sen"
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "UpdateADConnectorAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "username",
                    "password"
                ],
                "members": {
                    "directoryId": {},
                    "username": {},
                    "password": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "UpdateBundle": {
            "input": {
                "type": "structure",
                "required": [
                    "bundleId",
                    "sourceImageId"
                ],
                "members": {
                    "bundleId": {},
                    "sourceImageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js"
            ]
        },
        "UpdateCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "domainId",
                    "certificates",
                    "certificateActionType"
                ],
                "members": {
[...]
