{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-02-09",
        "endpointPrefix": "workload-provisioning",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Workload Provisioning",
        "serviceFullName": "AWS Launch Wizard",
        "serviceId": "Workload Provisioning",
        "signatureVersion": "v4",
        "signingName": "app-provisioning",
        "targetPrefix": "AWSWorkloadProvisioningService",
        "uid": "workload-provisioning-2022-02-09",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMRIEGVFDHZFQW4HTEF22WVSALD54EPPJJ3Q47K3ISJJBQVKXYOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
        ]
    },
    "operations": {
        "CreateAdditionalNode": {
            "input": {
                "type": "structure",
                "required": [
                    "actionType",
                    "userSpecifications",
                    "dryRun"
                ],
                "members": {
                    "actionType": {},
                    "userSpecifications": {
                        "shape": "S3"
                    },
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "actionId": {},
                    "provisioningParameters": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "CreateSettingsSet": {
            "input": {
                "type": "structure",
                "required": [
                    "applicationType",
                    "name",
                    "settings"
                ],
                "members": {
                    "applicationType": {},
                    "name": {},
                    "settings": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "DeleteAdditionalNode": {
            "input": {
                "type": "structure",
                "required": [
                    "actionId",
                    "parentProvisioningId"
                ],
                "members": {
                    "actionId": {},
                    "parentProvisioningId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "deletionStartTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "DeleteApp": {
            "input": {
                "type": "structure",
                "required": [
                    "provisioningId"
                ],
                "members": {
                    "provisioningId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "deletionStartTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "DeleteSettingsSet": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "DescribeAdditionalNode": {
            "input": {
                "type": "structure",
                "required": [
                    "parentProvisioningId",
                    "actionId"
                ],
                "members": {
                    "parentProvisioningId": {},
                    "actionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "status": {},
                    "timestamp": {
                        "type": "long"
                    },
                    "userSpecifications": {
                        "shape": "S3"
                    },
                    "provisioningParameters": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "DescribeProvisionedApp": {
            "input": {
                "type": "structure",
                "required": [
                    "provisioningId"
                ],
                "members": {
                    "provisioningId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "appId": {},
                    "deploymentOptionId": {},
                    "workloadVersionId": {},
                    "id": {},
                    "status": {},
                    "timestamp": {
                        "type": "long"
                    },
                    "productId": {},
                    "userSpecifications": {
                        "shape": "S3"
                    },
                    "provisioningParameters": {
                        "shape": "S3"
                    },
                    "additionalSpecifications": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "DescribeProvisioningEvents": {
            "input": {
                "type": "structure",
                "required": [
                    "provisioningId"
                ],
                "members": {
                    "provisioningId": {},
                    "actionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "provisioningId": {},
                    "actionId": {},
                    "provisioningEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "id": {
                                    "type": "long"
                                },
                                "description": {},
                                "status": {},
                                "statusReason": {},
                                "timestamp": {
                                    "type": "long"
                                },
                                "eventType": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "DescribeSettingsSet": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "GetInfrastructureSuggestion": {
            "input": {
                "type": "structure",
                "members": {
                    "workloadType": {},
                    "infrastructureSpecifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "specifications": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "allowedTypes": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "infrastructureSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "suggestion": {},
                                "instanceSaps": {},
                                "fsxStorage": {},
                                "fsxThroughput": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "GetIpAddress": {
            "output": {
                "type": "structure",
                "members": {
                    "ipAddress": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "GetResourceCostEstimate": {
            "input": {
                "type": "structure",
                "members": {
                    "resourceSpecifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceType": {},
                                "parameters": {
                                    "shape": "S3"
                                }
                            }
                        }
                    },
                    "appId": {},
                    "deploymentOptionId": {},
                    "workloadVersionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceCostDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "category": {},
                                "type": {},
                                "price": {
                                    "type": "double"
                                },
                                "unit": {},
                                "subtype": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "GetWorkloadAssets": {
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "deploymentOptionId",
                    "workloadVersionId",
                    "assetFilters"
                ],
                "members": {
                    "appId": {},
                    "deploymentOptionId": {},
                    "workloadVersionId": {},
                    "assetFilters": {
                        "type": "list",
                        "member": {
                            "shape": "S1k"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "metadataAsset": {
                        "type": "structure",
                        "members": {
                            "signedURL": {}
                        }
                    },
                    "helpPanelAssets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "fileName": {},
                                "signedURL": {}
                            }
                        }
                    },
                    "failedAssetRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "assetFilter": {
                                    "shape": "S1k"
                                },
                                "reason": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "ListAdditionalNodes": {
            "input": {
                "type": "structure",
                "required": [
                    "parentProvisioningId"
                ],
                "members": {
                    "parentProvisioningId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "additionalNodes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "actionId": {},
                                "status": {},
                                "timestamp": {
                                    "type": "long"
                                },
                                "parameters": {
                                    "shape": "S3"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "ListProvisionedApps": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "provisionedApps": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "id": {},
                                "provisioningId": {},
                                "description": {},
                                "resourceGroup": {},
                                "productId": {},
                                "status": {},
                                "timestamp": {
                                    "type": "long"
                                },
                                "userSpecifications": {
                                    "shape": "S3"
                                },
                                "allowedOperations": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "ListSettingsSets": {
            "input": {
                "type": "structure",
                "members": {
                    "applicationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSets": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "ListWorkloadDeploymentOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {},
                    "maxItems": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "appId": {},
                    "displayName": {},
                    "description": {},
                    "isActive": {
                        "type": "boolean"
                    },
                    "deploymentOptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "deploymentOptionId": {},
                                "displayName": {},
                                "description": {},
                                "workloadVersionId": {},
                                "isActive": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "ListWorkloads": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workloads": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "appId": {},
                                "displayName": {},
                                "description": {},
                                "documentationLink": {},
                                "isActive": {
                                    "type": "boolean"
                                },
                                "createdTime": {},
                                "updatedTime": {},
                                "iconSignedURL": {},
                                "workloadStatus": {},
                                "workloadStatusMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "StartProvisioning": {
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "userSpecifications",
                    "dryRun"
                ],
                "members": {
                    "appId": {},
                    "userSpecifications": {
                        "shape": "S3"
                    },
                    "additionalSpecifications": {
                        "shape": "S3"
                    },
                    "dryRun": {
                        "type": "boolean"
                    },
                    "applicationName": {},
                    "deploymentOptionId": {},
                    "workloadVersionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "provisioningId": {},
                    "provisioningParameters": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        },
        "UpdateSettingsSet": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "settings"
                ],
                "members": {
                    "name": {},
                    "settings": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "settingsSet": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFL7GECW5CLN22NFIFUAB53WWXUZODFMZOWFIVW2PVDIHTG2LXHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ERUVTXHNKNUF7UCOS3JKWIXQCTYGTYYHE327G2UICFW5IOWRWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZLO36FXQQQZDHJX7FJGKNCKBMUDFXDXALGD3KD4ZHNZMVWX36HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D43TAPWCR6SZ54PIA6OJEPKXHWWZXQV7XFMPE7PNZ63XDJTW2N5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKBCFRVCFMVZPQF5Q32ZNVHUB5ZAIG7GNETIEWDBHHELLFGNZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJUVRFQZOBIK46YQUQRJXEJRSLVVI2VY4DHI5NDHEXO2B3AKP7NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSE5H76O5S2LT4GBYNK5OPZZLWKZUD5LGELZAOUF2RJ5G7INVPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AIAF3BD5ZV2J5ZWTLLP34GIZZMMVACGNFF37KA5QEGDE3WVEIBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENU2XTRL5ZAAV6NVYEVTWI2QHF42GJNLGRDUFCHO3NYCOTGQ5ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFDNYNHEZTL7G27A4MLIBDV2X5FKUR5HOPWWWJRVNYESKUQABSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC5OTD2OQI7O3VTHCDFJSGOADGQJZTOA2KVGL6TPTQTCXVUMP4WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEXIKQQWJUUD5E74NII4JEVJRACYRSV7CKFQ2YVNMVVAXAOIFSYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APSKQJ4B72E3MZWKS7MF6D7UX734JFCMLA6XCWHJOIEL7JNTXQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWMVKVVWDGAXXBBZI2L7FPUK6MJFIOCSUHN45LIBO3QIBGPU2ADA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THC376C5C6TUJTOR435SLMZCHEZ467A6BDOI74HBA43RRSOKRWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWDZFZS6NJIWCSQ74UOOZIOVPGRRCNZJB6NCWFUS26ZF44AII4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4NRRXKXA2WYAYGJNO6BCOS4PEPH646TFNZWQZ4ZPSOR4N6R7I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXTP6N7GQQQU5FBT7VNWLMLECBQUALD2J7QDUTERW6GJ57A2KTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJX6PUTMDBOVSAF4UJGT2VRZW5ZYRNWGMP7VSERXMCKL3ZOGNZDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sc": {
            "type": "structure",
            "members": {
                "applicationType": {},
                "name": {},
                "settings": {
                    "shape": "S3"
                }
            }
        },
        "S1k": {
            "type": "structure",
            "members": {
                "assetType": {},
                "fileFilters": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        }
    }
}