{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-04-08",
        "endpointPrefix": "workspaces",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon WorkSpaces",
        "serviceId": "WorkSpaces",
        "signatureVersion": "v4",
        "targetPrefix": "WorkspacesService",
        "uid": "workspaces-2015-04-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasId",
                    "ResourceId"
                ],
                "members": {
                    "AliasId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "AssociateIpGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "GroupIds"
                ],
                "members": {
                    "DirectoryId": {},
                    "GroupIds": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "AuthorizeIpRules": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "UserRules"
                ],
                "members": {
                    "GroupId": {},
                    "UserRules": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CopyWorkspaceImage": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "SourceImageId",
                    "SourceRegion"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "SourceImageId": {},
                    "SourceRegion": {},
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateConnectClientAddIn": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Name",
                    "URL"
                ],
                "members": {
                    "ResourceId": {},
                    "Name": {},
                    "URL": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddInId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "CreateConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionString"
                ],
                "members": {
                    "ConnectionString": {},
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AliasId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateIpGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {},
                    "GroupDesc": {},
                    "UserRules": {
                        "shape": "Sc"
                    },
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateStandbyWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "PrimaryRegion",
                    "StandbyWorkspaces"
                ],
                "members": {
                    "PrimaryRegion": {},
                    "StandbyWorkspaces": {
                        "type": "list",
                        "member": {
                            "shape": "S15"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedStandbyRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StandbyWorkspaceRequest": {
                                    "shape": "S15"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "PendingStandbyRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "UserName": {},
                                "DirectoryId": {},
                                "State": {},
                                "WorkspaceId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "CreateTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateUpdatedWorkspaceImage": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Description",
                    "SourceImageId"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "SourceImageId": {},
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateWorkspaceBundle": {
            "input": {
                "type": "structure",
                "required": [
                    "BundleName",
                    "BundleDescription",
                    "ImageId",
                    "ComputeType",
                    "UserStorage"
                ],
                "members": {
                    "BundleName": {},
                    "BundleDescription": {},
                    "ImageId": {},
                    "ComputeType": {
                        "shape": "S1o"
                    },
                    "UserStorage": {
                        "shape": "S1q"
                    },
                    "RootStorage": {
                        "shape": "S1r"
                    },
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkspaceBundle": {
                        "shape": "S1t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateWorkspaceImage": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Description",
                    "WorkspaceId"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "WorkspaceId": {},
                    "Tags": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageId": {},
                    "Name": {},
                    "Description": {},
                    "OperatingSystem": {
                        "shape": "S21"
                    },
                    "State": {},
                    "RequiredTenancy": {},
                    "Created": {
                        "type": "timestamp"
                    },
                    "OwnerAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "CreateWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "Workspaces"
                ],
                "members": {
                    "Workspaces": {
                        "type": "list",
                        "member": {
                            "shape": "S28"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkspaceRequest": {
                                    "shape": "S28"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "PendingRequests": {
                        "shape": "S2l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteClientBranding": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Platforms"
                ],
                "members": {
                    "ResourceId": {},
                    "Platforms": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteConnectClientAddIn": {
            "input": {
                "type": "structure",
                "required": [
                    "AddInId",
                    "ResourceId"
                ],
                "members": {
                    "AddInId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DeleteConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasId"
                ],
                "members": {
                    "AliasId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteIpGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "TagKeys"
                ],
                "members": {
                    "ResourceId": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteWorkspaceBundle": {
            "input": {
                "type": "structure",
                "members": {
                    "BundleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N2HKL6GG6YSNXS27HZ2GWILTX56JIZO6MAFESKEKU6WZXUW4VKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteWorkspaceImage": {
            "input": {
                "type": "structure",
                "required": [
                    "ImageId"
                ],
                "members": {
                    "ImageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeregisterWorkspaceDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "DedicatedTenancySupport": {},
                    "DedicatedTenancyManagementCidrRange": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeAccountModifications": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountModifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ModificationState": {},
                                "DedicatedTenancySupport": {},
                                "DedicatedTenancyManagementCidrRange": {},
                                "StartTime": {
                                    "type": "timestamp"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeClientBranding": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeviceTypeWindows": {
                        "shape": "S3s"
                    },
                    "DeviceTypeOsx": {
                        "shape": "S3s"
                    },
                    "DeviceTypeAndroid": {
                        "shape": "S3s"
                    },
                    "DeviceTypeIos": {
                        "shape": "S3y"
                    },
                    "DeviceTypeLinux": {
                        "shape": "S3s"
                    },
                    "DeviceTypeWeb": {
                        "shape": "S3s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DescribeClientProperties": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceIds"
                ],
                "members": {
                    "ResourceIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientPropertiesList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceId": {},
                                "ClientProperties": {
                                    "shape": "S44"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeConnectClientAddIns": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId"
                ],
                "members": {
                    "ResourceId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddIns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AddInId": {},
                                "ResourceId": {},
                                "Name": {},
                                "URL": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
[...]
