{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-13",
        "endpointPrefix": "workspaces",
        "jsonVersion": "1.1",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "serviceAbbreviation": "WorkspacesService",
        "serviceFullName": "AWS WorkSpaces",
        "signatureVersion": "v4",
        "targetPrefix": "WorkspacesService",
        "uid": "workspaces-2020-08-13",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2BFJIV2VEQL3FIIIZYHWD3A5MUM4XMY6TIZ4OW56AK5MBR4LUKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
        ]
    },
    "operations": {
        "AcceptAccountLinkInvitation": {
            "input": {
                "type": "structure",
                "required": [
                    "LinkId"
                ],
                "members": {
                    "LinkId": {},
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountLink": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "AssociateConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasId",
                    "ResourceId"
                ],
                "members": {
                    "AliasId": {},
                    "ResourceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "AssociateIpGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "GroupIds"
                ],
                "members": {
                    "DirectoryId": {},
                    "GroupIds": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "AssociateSSOGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SSOGroupId"
                ],
                "members": {
                    "DirectoryId": {},
                    "SSOGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "AssociateWorkspaceApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkspaceId",
                    "ApplicationId"
                ],
                "members": {
                    "WorkspaceId": {},
                    "ApplicationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Association": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "AuthorizeIpRules": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId",
                    "UserRules"
                ],
                "members": {
                    "GroupId": {},
                    "UserRules": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CopyWorkspaceImage": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "SourceImageId",
                    "SourceRegion"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "SourceImageId": {},
                    "SourceRegion": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateAccountLinkInvitation": {
            "input": {
                "type": "structure",
                "required": [
                    "TargetAccountId"
                ],
                "members": {
                    "TargetAccountId": {},
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountLink": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateConnectClientAddIn": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Name",
                    "URL"
                ],
                "members": {
                    "ResourceId": {},
                    "Name": {},
                    "URL": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddInId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionString"
                ],
                "members": {
                    "ConnectionString": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AliasId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateDirectoryUserForConsole": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Users"
                ],
                "members": {
                    "DirectoryId": {},
                    "Users": {
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SuccessResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "User": {
                                    "shape": "S1o"
                                },
                                "URL": {}
                            }
                        }
                    },
                    "FailureResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "UserName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateIpGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "GroupName": {},
                    "GroupDesc": {},
                    "UserRules": {
                        "shape": "Sx"
                    },
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GroupId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreatePool": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Name",
                    "BundleId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Name": {},
                    "Description": {},
                    "BundleId": {},
                    "PoolProperties": {
                        "shape": "S28"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceUserRequests"
                ],
                "members": {
                    "workspaceUserRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workspaceUser",
                                "workspaceProfileId"
                            ],
                            "members": {
                                "workspaceUser": {
                                    "shape": "S1o"
                                },
                                "workspaceProfileId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directoryStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateStandbyWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "PrimaryRegion",
                    "StandbyWorkspaces"
                ],
                "members": {
                    "PrimaryRegion": {},
                    "StandbyWorkspaces": {
                        "type": "list",
                        "member": {
                            "shape": "S2i"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedStandbyRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StandbyWorkspaceRequest": {
                                    "shape": "S2i"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "PendingStandbyRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "UserName": {},
                                "DirectoryId": {},
                                "State": {},
                                "WorkspaceId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateTags": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateUpdatedWorkspaceImage": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Description",
                    "SourceImageId"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "SourceImageId": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateWorkspaceBundle": {
            "input": {
                "type": "structure",
                "required": [
                    "BundleName",
                    "BundleDescription",
                    "ImageId",
                    "ComputeType",
                    "UserStorage"
                ],
                "members": {
                    "BundleName": {},
                    "BundleDescription": {},
                    "ImageId": {},
                    "ComputeType": {
                        "shape": "S30"
                    },
                    "UserStorage": {
                        "shape": "S32"
                    },
                    "RootStorage": {
                        "shape": "S33"
                    },
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkspaceBundle": {
                        "shape": "S35"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateWorkspaceImage": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Description",
                    "WorkspaceId"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "WorkspaceId": {},
                    "Tags": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImageId": {},
                    "Name": {},
                    "Description": {},
                    "OperatingSystem": {
                        "shape": "S3b"
                    },
                    "State": {},
                    "RequiredTenancy": {},
                    "Created": {
                        "type": "timestamp"
                    },
                    "OwnerAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateWorkspaceManagedSSOApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateWorkspacePool": {
            "input": {
                "type": "structure",
                "required": [
                    "PoolName",
                    "MaxConcurrentUsers",
                    "LaunchConfiguration",
                    "NetworkConfiguration",
                    "UserAccessConfiguration"
                ],
                "members": {
                    "PoolName": {
                        "shape": "S3i"
                    },
                    "Description": {},
                    "MaxConcurrentUsers": {
                        "shape": "S3k"
                    },
                    "LaunchConfiguration": {
                        "shape": "S3l"
                    },
                    "NetworkConfiguration": {
                        "shape": "S3m"
                    },
                    "DomainJoinConfiguration": {
                        "shape": "S3r"
                    },
                    "SessionConfiguration": {
                        "shape": "S3x"
                    },
                    "UserAccessConfiguration": {
                        "shape": "S45"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkspacePool": {
                        "shape": "S4a"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H26SRESGTO3G657LSRQ5MEVKVD4MITQHHMXBXWOTYLKANY7YDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK6TB3DRB545BTIE2H7RBRCPXZXHPCSQWAHDRYJZWHQRNGDTHLPQ/vendors.js"
            ]
        },
        "CreateWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "Workspaces"
                ],
                "members": {
                    "Workspaces": {
                        "type": "list",
                        "member": {
                            "shape": "S4h"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkspaceRequest": {
                                    "shape": "S4h"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "PendingRequests": {
                        "shape": "S4y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "CreateWorkspacesPool": {
            "input": {
                "type": "structure",
                "required": [
                    "PoolName",
                    "Description",
                    "BundleId",
                    "DirectoryId",
                    "Capacity"
                ],
                "members": {
                    "PoolName": {},
                    "Description": {},
                    "BundleId": {},
                    "DirectoryId": {},
                    "Capacity": {
                        "shape": "S5e"
                    },
                    "Tags": {
                        "shape": "S17"
                    },
                    "ApplicationSettings": {
                        "shape": "S5g"
                    },
                    "TimeoutSettings": {
                        "shape": "S5j"
                    },
                    "RunningMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkspacesPool": {
                        "shape": "S5o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "DeleteAccountLinkInvitation": {
            "input": {
                "type": "structure",
                "required": [
                    "LinkId"
                ],
                "members": {
                    "LinkId": {},
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountLink": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "DeleteCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateId"
                ],
                "members": {
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7KYDVWQNHKDRAF32C5KAU62ANO4E3X7LUQQFRPFCWF6DMTTGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETHETBEEMFLJ25OYV4ICQG67PEZDSNRRTGNXMLVJOHEFTNJPY4IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG74VEJH3TKHDTCQV6NWMIVT6FU4ZGFV47YZSALA2HWUFHKTPAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTOZPAJKOP2XCIPUWFR63Q4URY7DHRFYGBQN2PUZD7Y3DCM3OSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK5B3GUTU3EAYV3WJOJGQTRBIQ32VNDHS27W5NPZEDQGUF3VBLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js"
            ]
        },
        "DeleteClientBranding": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Platforms"
                ],
                "members": {
                    "ResourceId": {},
                    "Platforms": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMGCQTZWB4ZHRWUVGZNDC4DGYGRFRFZDB3NSGW4OY2OCX55CNYBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVJSFWAJDCFH6O77N37GJXF4HXO4PXNTEZFDU227ELY4KZ5PMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ6YZLWCXZTOGSKQ25KXDT5NQGG4BXNTDXQHBOZLK3Q6WCZ3KWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SMBBH6RHXRNXVBT7FNKZ7ZF2RYAQ2W6QOMZ5VN4I3P6NVKIMYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRF4VNLJ4SHU2CAC7R5G7N2YKV2XP32HT5MAN76MHVHQLOWQ4IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC4QPJCLSKKPPFE7KWHKOHQ7PFIL55GXP3M4G64SFPYIGOT3ATQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23JPDN4OUTOMWFV5IHQMXFG45HXXDJO2OQ47HYXHC23ZB54YNC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67UMLWJ3C3K4SGFOPXTYQAHQMRYAHMD7WF7JWG3Q6YSDH7PQYBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/645VJ2CYOBBOS5LDL6OOJ2N52U4IEEG4JWFXDYDPJCPNUKHMR6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSBI6URYCWIBA53RWHRS7N76PGVLUE5LOVPP6GXUK6PGM7ARXLMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKH2IAMCCJCQHAX5RIQR5LH775ILJUG53T3Z6EBP7SR4VSIEGDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCN4EEEFMMPQKFVRYDVVOBVJD7ZR7S4UPBVDO7CC4NR5UYKB3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTGH7UE5NHZR4BOQ6TYRQRMK4AYNATV32HAQZTNP7DJB657HILPA/vendors.js",
[...]
