{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-02-03",
        "endpointPrefix": "workspacesconsoleservice",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "WorkspacesConsoleService",
        "serviceFullName": "Amazon Workspaces Console Service",
        "signatureVersion": "v4",
        "targetPrefix": "WorkspacesConsoleService",
        "uid": "workspacesconsoleservice-2020-02-03",
        "download_location": [
            "https://d4ghjn0t9pnuw.cloudfront.net/1681500230073/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
            "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
        ]
    },
    "operations": {
        "AssociateConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "aliasId",
                    "directoryId"
                ],
                "members": {
                    "aliasId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectionIdentifier": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "AssociateIpGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "ipGroupIds"
                ],
                "members": {
                    "directoryId": {},
                    "ipGroupIds": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "AssociateSSOGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "ssoGroups"
                ],
                "members": {
                    "directoryId": {},
                    "ssoGroups": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ssoGroupName": {},
                                "ssoGroupId": {}
                            }
                        }
                    },
                    "failureResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ssoGroupName": {},
                                "ssoGroupId": {},
                                "exceptionName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "CopyImage": {
            "input": {
                "type": "structure",
                "required": [
                    "sourceImageId",
                    "destinationRegionName",
                    "imageName"
                ],
                "members": {
                    "sourceImageId": {},
                    "destinationRegionName": {},
                    "imageName": {},
                    "imageDescription": {},
                    "imageTags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "copiedImageId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "CreateBundle": {
            "input": {
                "type": "structure",
                "required": [
                    "bundleName",
                    "bundleDescription",
                    "hardwareType",
                    "sourceImageId"
                ],
                "members": {
                    "bundleName": {},
                    "bundleDescription": {},
                    "hardwareType": {},
                    "userVolumeSizeGib": {
                        "type": "integer"
                    },
                    "rootVolumeSizeGib": {
                        "type": "integer"
                    },
                    "sourceImageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdBundleId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "CreateConnectClientAddIn": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "name",
                    "url"
                ],
                "members": {
                    "directoryId": {},
                    "name": {},
                    "url": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectClientAddInConfigId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "CreateConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "connectionString"
                ],
                "members": {
                    "connectionString": {},
                    "tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "aliasId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "CreateDirectoryUser": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "users"
                ],
                "members": {
                    "directoryId": {},
                    "users": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "user": {
                                    "shape": "S1c"
                                },
                                "URL": {}
                            }
                        }
                    },
                    "failureResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "CreateImage": {
            "input": {
                "type": "structure",
                "required": [
                    "imageName",
                    "imageDescription",
                    "workspaceId"
                ],
                "members": {
                    "imageName": {},
                    "imageDescription": {},
                    "workspaceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workspaceImageExternalId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "CreateIpGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "groupName"
                ],
                "members": {
                    "groupName": {},
                    "groupDesc": {},
                    "userRules": {
                        "shape": "S1u"
                    },
                    "tags": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "groupId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "CreateRegistrationService": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceUserRequests"
                ],
                "members": {
                    "workspaceUserRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workspaceUser",
                                "workspaceProfileId"
                            ],
                            "members": {
                                "workspaceUser": {
                                    "shape": "S1c"
                                },
                                "workspaceProfileId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directoryStatus": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "CreateStandbyWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "targetRegion",
                    "standbyWorkspaces"
                ],
                "members": {
                    "targetRegion": {},
                    "standbyWorkspaces": {
                        "type": "list",
                        "member": {
                            "shape": "S26"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedStandbyRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "standbyWorkspaceRequest": {
                                    "shape": "S26"
                                },
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    },
                    "pendingStandbyRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "username": {},
                                "directoryId": {},
                                "state": {},
                                "workspaceId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "CreateWorkspaces": {
            "input": {
                "type": "structure",
                "required": [
                    "workspaceRequests"
                ],
                "members": {
                    "workspaceRequests": {
                        "type": "list",
                        "member": {
                            "shape": "S2j"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkspaceRequest": {
                                    "shape": "S2j"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    },
                    "PendingRequests": {
                        "shape": "S2w"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "CreateWorkspacesManagedSSOApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DeleteBundle": {
            "input": {
                "type": "structure",
                "required": [
                    "bundleId"
                ],
                "members": {
                    "bundleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DeleteCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "certificateId"
                ],
                "members": {
                    "certificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DeleteClientBranding": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "platforms"
                ],
                "members": {
                    "directoryId": {},
                    "platforms": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DeleteConnectClientAddIn": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "connectClientAddInConfigId"
                ],
                "members": {
                    "directoryId": {},
                    "connectClientAddInConfigId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DeleteConnectionAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "aliasId"
                ],
                "members": {
                    "aliasId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DeleteDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directoryId": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DeleteImage": {
            "input": {
                "type": "structure",
                "required": [
                    "imageId"
                ],
                "members": {
                    "imageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DeleteIpGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "groupId"
                ],
                "members": {
                    "groupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DeleteWorkspacesManagedSSOApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DeregisterWorkspaceDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeAccessToInternet": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "enableInternetAccess": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "account": {
                        "type": "structure",
                        "members": {
                            "dedicatedTenancyManagementCidrRange": {},
                            "dedicatedTenancySupport": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeAccountModifications": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountModifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "dedicatedTenancyManagementCidrRange": {},
                                "dedicatedTenancySupport": {},
                                "errorCode": {},
                                "errorMessage": {},
                                "modificationState": {},
                                "startTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeAllWorkspaceDirectories": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "directories": {
                        "shape": "S4q"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeAllWorkspaces": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "workspaces": {
                        "shape": "S2w"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeAssociatedSSOGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ssoGroups": {
                        "type": "list",
                        "member": {
                            "shape": "Sc"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeAvailableManagementCidrRanges": {
            "input": {
                "type": "structure",
                "required": [
                    "managementCidrRangeConstraint"
                ],
                "members": {
                    "managementCidrRangeConstraint": {},
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "managementCidrRanges": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeBundleDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "bundleId"
                ],
                "members": {
                    "bundleId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bundle": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "description": {},
                            "createdDate": {
                                "type": "timestamp"
                            },
                            "updatedDate": {
                                "type": "timestamp"
                            },
                            "hardwareType": {},
                            "imageType": {
                                "shape": "S5g"
                            },
                            "languageType": {},
                            "rootVolumeSizeGib": {
                                "type": "integer"
                            },
                            "userVolumeSizeGib": {
                                "type": "integer"
                            },
                            "freeTierEligible": {
                                "type": "boolean"
                            },
                            "deprecated": {
                                "type": "boolean"
                            },
                            "ownerType": {},
                            "imageId": {},
                            "imageName": {},
                            "state": {},
                            "bundleType": {},
                            "tags": {
                                "shape": "Sq"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeBundles": {
            "input": {
                "type": "structure",
                "members": {
                    "search": {},
                    "filters": {
                        "shape": "S5t"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "field": {},
                            "ascending": {
                                "type": "boolean"
                            }
                        }
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "getAllBundles": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bundles": {
                        "shape": "S62"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeBundlesAssociatedWithImage": {
            "input": {
                "type": "structure",
                "required": [
                    "imageId"
                ],
                "members": {
                    "imageId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "bundleArnList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeCertificates": {
            "input": {
                "type": "structure",
                "required": [
                    "certificateIds"
                ],
                "members": {
                    "certificateIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "certificates": {
                        "type": "list",
                        "member": {
                            "shape": "S6d"
                        }
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeClientBranding": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceTypeWindows": {
                        "shape": "S6k"
                    },
                    "deviceTypeOsx": {
                        "shape": "S6k"
                    },
                    "deviceTypeAndroid": {
                        "shape": "S6k"
                    },
                    "deviceTypeIos": {
                        "shape": "S6o"
                    },
                    "deviceTypeLinux": {
                        "shape": "S6k"
                    },
                    "deviceTypeWeb": {
                        "shape": "S6k"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1716427205821/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1718408390609/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719030273719/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1719447613236/main.js"
            ]
        },
        "DescribeClientPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "selfservicePermissionsAndClientProperties": {
                        "shape": "S6r"
                    }
                }
            },
            "download_location": [
                "https://d4ghjn0t9pnuw.cloudfront.net/1686786197967/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1686859414838/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1687469367178/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690231732589/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1690505386141/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1691029308932/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1693935559548/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1694125341532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1695161470328/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1696443787444/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1698448089702/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1699048834490/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1700071430584/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1703664222960/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704268392532/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704842187577/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1704876899820/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708379512040/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1708504059442/main.js",
                "https://d4ghjn0t9pnuw.cloudfront.net/1715295821153/main.js",
[...]
